.el-rows
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    margin: 0 -15px
    .el-cols
        padding: 0 15px
        width: 100%
        &.w50
            width: 50%
            @media(max-width: 767px)
                width: 100%
                