@font-face {
	font-family: "fonts.icons";
	src: url('../fonts/fonts.icons.eot');
	src: url('../fonts/fonts.icons.eot?#iefix') format('eot'),
		url('../fonts/fonts.icons.woff2') format('woff2'),
		url('../fonts/fonts.icons.woff') format('woff'),
		url('../fonts/fonts.icons.ttf') format('truetype'),
		url('../fonts/fonts.icons.svg#fonts.icons') format('svg');
}

@mixin icn-styles {
	font-family: "fonts.icons" !important;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;

	display: block;
    font: normal normal normal 14px/1 "fonts.icons";
    font-size: inherit;
}

%icn {
	@include icn-styles;
}

@function icn-char($filename) {
	$char: "";

	@if $filename == angle-down {
		$char: "\E001";
	}
	@if $filename == angle-left {
		$char: "\E002";
	}
	@if $filename == angle-right {
		$char: "\E003";
	}
	@if $filename == angle-up {
		$char: "\E004";
	}
	@if $filename == angry {
		$char: "\E005";
	}
	@if $filename == artwork {
		$char: "\E006";
	}
	@if $filename == attach {
		$char: "\E007";
	}
	@if $filename == award {
		$char: "\E008";
	}
	@if $filename == bars {
		$char: "\E009";
	}
	@if $filename == bell {
		$char: "\E00A";
	}
	@if $filename == bookmark-active {
		$char: "\E00B";
	}
	@if $filename == bookmark {
		$char: "\E00C";
	}
	@if $filename == box {
		$char: "\E00D";
	}
	@if $filename == calendar {
		$char: "\E00E";
	}
	@if $filename == checkbox {
		$char: "\E00F";
	}
	@if $filename == clock {
		$char: "\E010";
	}
	@if $filename == close {
		$char: "\E011";
	}
	@if $filename == cog {
		$char: "\E012";
	}
	@if $filename == comments {
		$char: "\E013";
	}
	@if $filename == doc-plus {
		$char: "\E014";
	}
	@if $filename == doc {
		$char: "\E015";
	}
	@if $filename == docs {
		$char: "\E016";
	}
	@if $filename == earth-cir {
		$char: "\E017";
	}
	@if $filename == enter {
		$char: "\E018";
	}
	@if $filename == eye {
		$char: "\E019";
	}
	@if $filename == facebook-cir {
		$char: "\E01A";
	}
	@if $filename == facebook {
		$char: "\E01B";
	}
	@if $filename == filter {
		$char: "\E01C";
	}
	@if $filename == goal {
		$char: "\E01D";
	}
	@if $filename == heart {
		$char: "\E01E";
	}
	@if $filename == img {
		$char: "\E01F";
	}
	@if $filename == info {
		$char: "\E020";
	}
	@if $filename == instagram-cir {
		$char: "\E021";
	}
	@if $filename == instagram {
		$char: "\E022";
	}
	@if $filename == laugh {
		$char: "\E023";
	}
	@if $filename == letter {
		$char: "\E024";
	}
	@if $filename == like {
		$char: "\E025";
	}
	@if $filename == linkedin-cir {
		$char: "\E026";
	}
	@if $filename == linkedin {
		$char: "\E027";
	}
	@if $filename == mail-cir {
		$char: "\E028";
	}
	@if $filename == mail {
		$char: "\E029";
	}
	@if $filename == micro {
		$char: "\E02A";
	}
	@if $filename == music {
		$char: "\E02B";
	}
	@if $filename == pause {
		$char: "\E02C";
	}
	@if $filename == phone {
		$char: "\E02D";
	}
	@if $filename == pin {
		$char: "\E02E";
	}
	@if $filename == play {
		$char: "\E02F";
	}
	@if $filename == poll {
		$char: "\E030";
	}
	@if $filename == post {
		$char: "\E031";
	}
	@if $filename == radio {
		$char: "\E032";
	}
	@if $filename == reply {
		$char: "\E033";
	}
	@if $filename == sadness {
		$char: "\E034";
	}
	@if $filename == search {
		$char: "\E035";
	}
	@if $filename == send {
		$char: "\E036";
	}
	@if $filename == share {
		$char: "\E037";
	}
	@if $filename == skype-cir {
		$char: "\E038";
	}
	@if $filename == smile {
		$char: "\E039";
	}
	@if $filename == sort {
		$char: "\E03A";
	}
	@if $filename == star-o {
		$char: "\E03B";
	}
	@if $filename == star {
		$char: "\E03C";
	}
	@if $filename == surprise {
		$char: "\E03D";
	}
	@if $filename == telegram-cir {
		$char: "\E03E";
	}
	@if $filename == twitter-cir {
		$char: "\E03F";
	}
	@if $filename == twitter {
		$char: "\E040";
	}
	@if $filename == user-plus {
		$char: "\E041";
	}
	@if $filename == users {
		$char: "\E042";
	}
	@if $filename == vk-cir {
		$char: "\E043";
	}
	@if $filename == vk {
		$char: "\E044";
	}
	@if $filename == youtube-o {
		$char: "\E045";
	}
	@if $filename == youtube {
		$char: "\E046";
	}

	@return $char;
}

@mixin icn($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icn;
		} @else {
			@include icn-styles;
		}
		content: icn-char($filename);
	}
}

.icn-angle-down {
	@include icn(angle-down);
}
.icn-angle-left {
	@include icn(angle-left);
}
.icn-angle-right {
	@include icn(angle-right);
}
.icn-angle-up {
	@include icn(angle-up);
}
.icn-angry {
	@include icn(angry);
}
.icn-artwork {
	@include icn(artwork);
}
.icn-attach {
	@include icn(attach);
}
.icn-award {
	@include icn(award);
}
.icn-bars {
	@include icn(bars);
}
.icn-bell {
	@include icn(bell);
}
.icn-bookmark-active {
	@include icn(bookmark-active);
}
.icn-bookmark {
	@include icn(bookmark);
}
.icn-box {
	@include icn(box);
}
.icn-calendar {
	@include icn(calendar);
}
.icn-checkbox {
	@include icn(checkbox);
}
.icn-clock {
	@include icn(clock);
}
.icn-close {
	@include icn(close);
}
.icn-cog {
	@include icn(cog);
}
.icn-comments {
	@include icn(comments);
}
.icn-doc-plus {
	@include icn(doc-plus);
}
.icn-doc {
	@include icn(doc);
}
.icn-docs {
	@include icn(docs);
}
.icn-earth-cir {
	@include icn(earth-cir);
}
.icn-enter {
	@include icn(enter);
}
.icn-eye {
	@include icn(eye);
}
.icn-facebook-cir {
	@include icn(facebook-cir);
}
.icn-facebook {
	@include icn(facebook);
}
.icn-filter {
	@include icn(filter);
}
.icn-goal {
	@include icn(goal);
}
.icn-heart {
	@include icn(heart);
}
.icn-img {
	@include icn(img);
}
.icn-info {
	@include icn(info);
}
.icn-instagram-cir {
	@include icn(instagram-cir);
}
.icn-instagram {
	@include icn(instagram);
}
.icn-laugh {
	@include icn(laugh);
}
.icn-letter {
	@include icn(letter);
}
.icn-like {
	@include icn(like);
}
.icn-linkedin-cir {
	@include icn(linkedin-cir);
}
.icn-linkedin {
	@include icn(linkedin);
}
.icn-mail-cir {
	@include icn(mail-cir);
}
.icn-mail {
	@include icn(mail);
}
.icn-micro {
	@include icn(micro);
}
.icn-music {
	@include icn(music);
}
.icn-pause {
	@include icn(pause);
}
.icn-phone {
	@include icn(phone);
}
.icn-pin {
	@include icn(pin);
}
.icn-play {
	@include icn(play);
}
.icn-poll {
	@include icn(poll);
}
.icn-post {
	@include icn(post);
}
.icn-radio {
	@include icn(radio);
}
.icn-reply {
	@include icn(reply);
}
.icn-sadness {
	@include icn(sadness);
}
.icn-search {
	@include icn(search);
}
.icn-send {
	@include icn(send);
}
.icn-share {
	@include icn(share);
}
.icn-skype-cir {
	@include icn(skype-cir);
}
.icn-smile {
	@include icn(smile);
}
.icn-sort {
	@include icn(sort);
}
.icn-star-o {
	@include icn(star-o);
}
.icn-star {
	@include icn(star);
}
.icn-surprise {
	@include icn(surprise);
}
.icn-telegram-cir {
	@include icn(telegram-cir);
}
.icn-twitter-cir {
	@include icn(twitter-cir);
}
.icn-twitter {
	@include icn(twitter);
}
.icn-user-plus {
	@include icn(user-plus);
}
.icn-users {
	@include icn(users);
}
.icn-vk-cir {
	@include icn(vk-cir);
}
.icn-vk {
	@include icn(vk);
}
.icn-youtube-o {
	@include icn(youtube-o);
}
.icn-youtube {
	@include icn(youtube);
}