%svg-common {
	background: url("../img/sprite-1d3751af.svg") no-repeat;
}

.icon-book {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-book-size {
	width: 52px;
	height: 52px;
}

.icon-cube {
	@extend %svg-common;
	background-position: 65% 0;
}

.icon-cube-size {
	width: 52px;
	height: 52px;
}

.icon-instagram {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-instagram-size {
	width: 28px;
	height: 28px;
}

.icon-magazin {
	@extend %svg-common;
	background-position: 0 65%;
}

.icon-magazin-size {
	width: 52px;
	height: 52px;
}

.icon-star {
	@extend %svg-common;
	background-position: 56.52173913043478% 64.19753086419753%;
}

.icon-star-size {
	width: 40px;
	height: 51px;
}

.icon-telegram {
	@extend %svg-common;
	background-position: 100% 26.923076923076923%;
}

.icon-telegram-size {
	width: 28px;
	height: 28px;
}

.icon-vk {
	@extend %svg-common;
	background-position: 100% 53.84615384615385%;
}

.icon-vk-size {
	width: 28px;
	height: 28px;
}

.icon-whatsApp {
	@extend %svg-common;
	background-position: 0 100%;
}

.icon-whatsApp-size {
	width: 28px;
	height: 28px;
}

