%ul.aboutMenu
    %li{:class => "#{$active == 1 ? 'active' : ''}"}
        %a{:href => ""} О проекте
    %li{:class => "#{$active == 2 ? 'active' : ''}"}
        %a{:href => ""} Персонажи
    %li{:class => "#{$active == 3 ? 'active' : ''}"}
        %a{:href => ""} Контакты
