.bottomBar
    .row
        .col-md-8.col-lg-8
            %a.logoBlock.bottomBar__logo{:href => ""}
                %img.logoBlock__img.sm{:src => "assets/img/logo.png", :srcset => "assets/img/logo.png 1x, assets/img/logo@2x.png 2x", :alt => ""}/
                %span.logoBlock__text
                    %span Pechorin.Net
                    %span НОВОСТИ
            %p.bottomBar__text
                %strong Хотите стать автором Литературного проекта Pechorin.Net?
                %br/
                Тогда ознакомьтесь 
                %a.link.link-default{:href => ""} с основными требованиями 
                и 
                %a.link.link-default{:href => ""} списком тем
                , интересующих редакцию.
                Присылайте свои статьи на наш адрес 
                %a.link.link-primary{:href => ""} info@pechorin.net 
                или любому из админов наших пабликов в соцсетях, приложив основную биографическую о себе, и, возможно, уже завтра мы предложим Вам сотрудничество.
        .col-md-4.col-lg-3.offset-xl-1
            .subscribeBlock
                .subscribeBlock__title
                    Хочу быть в курсе последних  интересных новостей и событий!

                %form.subscribe.subscribeBlock__form{:action => ""}
                    %input.subscribe__input{:type => "text", :placeholder => "Введите  e-mail"}/
                    %buttom.btns.btns-default.subscribe__btns{:type => "submit"} 
                        %i.icn-enter
                .subscribeBlock__text
                    Подписываясь на рассылку, вы даете свое 
                    %br/
                    %a{:href => ""} солгасие на обработку персональных данных,
                    %br/ 
                    согласно политике конфиденциальности.