.commentsBlock
    .commentsBlock__title.js-toggleComments.open
        Комментарии (57)
    .comments
        - (1..3).each do |i|
            .comments__item
                .comment
                    .comment__img
                        %img{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                    .comment__content
                        .comment__control
                            .comment__name
                                %a{:href => ""} Игорь Белов 
                            %span.comment__date 
                                18:30
                                &nbsp
                                01.01.2019 г.

                            .comment__rate
                                %span.bt 
                                    %a{:href => ""} + 
                                    3 
                                %span.bt 
                                    %a{:href => ""} - 
                                    3 

                        .comment__text
                            Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. 
                        .comment__btns.text-right
                            %a.link.link-default{:href => ""} Ответить
                            %a.link.link-default{:href => ""} Пожаловаться
                - if i == 1
                    .comments
                        .comments__item
                            .comment
                                .comment__img
                                    %img{:src => "assets/img/logo.png", :srcset => "assets/img/logo.png 1x, assets/img/logo@2x.png 2x", :alt => ""}/
                                .comment__content
                                    .comment__control
                                        .comment__name
                                            %a{:href => ""} Игорь Белов 
                                            %i.icn-reply.comment__reply
                                            %a{:href => ""} Игорь Белов 
                                        %span.comment__date 
                                            18:30
                                            &nbsp
                                            01.01.2019 г.

                                        .comment__rate
                                            %span.bt 
                                                %a{:href => ""} + 
                                                3 
                                            %span.bt 
                                                %a{:href => ""} - 
                                                3 

                                    .comment__text
                                        Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. 
                                    .comment__btns.text-right
                                        %a.link.link-default{:href => ""} Ответить
                                        %a.link.link-default{:href => ""} Пожаловаться


    %p.comments__text
        %a.link.link-primary{:href => ""} Войдите или зарегистрируйтесь
        , чтобы оставлять комментарии.