.counters
    %span.counter.counter-red.likesBlock
        .likes
            %a{:href => ""}
                %i.icn-like
            %a{:href => ""}
                %i.icn-heart
            %a{:href => ""}
                %i.icn-laugh
            %a{:href => ""}
                %i.icn-surprise
            %a{:href => ""}
                %i.icn-sadness
            %a{:href => ""}
                %i.icn-angry
        %i.icn-heart
        55
    %a.counter.counter-red{:href => ""}
        %i.icn-comments
        25
    %a.counter.counter-red{:href => ""}
        %i.icn-eye
        120
