%footer.footer
    .container
        .row
            .col-md-8.col-lg-9
                %ul.footMenu
                    %li.footMenu__item
                        %a{:href => ""} СОБЫТИЯ
                        %ul.footSubMenu
                            %li.footSubMenu__item
                                %a{:href => ""} Писатель
                            %li.footSubMenu__item
                                %a{:href => ""} Творение
                            %li.footSubMenu__item
                                %a{:href => ""} Наука
                            %li.footSubMenu__item
                                %a{:href => ""} Литературный момент
                            %li.footSubMenu__item
                                %a{:href => ""} Конкурсы
                    %li.footMenu__item
                        %a{:href => ""} СТАТЬИ
                        %ul.footSubMenu
                            %li.footSubMenu__item
                                %a{:href => ""} Писатель
                            %li.footSubMenu__item
                                %a{:href => ""} Творение
                            %li.footSubMenu__item
                                %a{:href => ""} Наука
                            %li.footSubMenu__item
                                %a{:href => ""} Литературный момент
                            %li.footSubMenu__item
                                %a{:href => ""} Конкурсы
                    %li.footMenu__item.active
                        %a{:href => ""} КОНКУРСЫ
                        %ul.footSubMenu
                            %li.footSubMenu__item.active
                                %a{:href => ""} Писатель
                            %li.footSubMenu__item
                                %a{:href => ""} Творение
                            %li.footSubMenu__item
                                %a{:href => ""} Наука
                            %li.footSubMenu__item
                                %a{:href => ""} Литературный момент
                            %li.footSubMenu__item
                                %a{:href => ""} Конкурсы
                    %li.footMenu__item
                        %a{:href => ""} ПУБЛИКАЦИИ
                        %ul.footSubMenu
                            %li.footSubMenu__item
                                %a{:href => ""} Писатель
                            %li.footSubMenu__item
                                %a{:href => ""} Творение
                            %li.footSubMenu__item
                                %a{:href => ""} Наука
                            %li.footSubMenu__item
                                %a{:href => ""} Литературный момент
                            %li.footSubMenu__item
                                %a{:href => ""} Конкурсы
                    %li.footMenu__item
                        %a{:href => ""} УСЛУГИ
                        %ul.footSubMenu
                            %li.footSubMenu__item
                                %a{:href => ""} Писатель
                            %li.footSubMenu__item
                                %a{:href => ""} Творение
                            %li.footSubMenu__item
                                %a{:href => ""} Наука
                            %li.footSubMenu__item
                                %a{:href => ""} Литературный момент
                            %li.footSubMenu__item
                                %a{:href => ""} Конкурсы
                    %li.footMenu__item
                        %a{:href => ""} СООБЩЕСТВО
                        %ul.footSubMenu
                            %li.footSubMenu__item
                                %a{:href => ""} Писатель
                            %li.footSubMenu__item
                                %a{:href => ""} Творение
                            %li.footSubMenu__item
                                %a{:href => ""} Наука
                            %li.footSubMenu__item
                                %a{:href => ""} Литературный момент
                            %li.footSubMenu__item
                                %a{:href => ""} Конкурсы
                    %li.footMenu__item
                        %a{:href => ""} ПОЛЕЗНОЕ
                        %ul.footSubMenu
                            %li.footSubMenu__item
                                %a{:href => ""} Писатель
                            %li.footSubMenu__item
                                %a{:href => ""} Творение
                            %li.footSubMenu__item
                                %a{:href => ""} Наука
                            %li.footSubMenu__item
                                %a{:href => ""} Литературный момент
                            %li.footSubMenu__item
                                %a{:href => ""} Конкурсы
                    %li.footMenu__item
                        %a{:href => ""} О НАС
                        %ul.footSubMenu
                            %li.footSubMenu__item
                                %a{:href => ""} Писатель
                            %li.footSubMenu__item
                                %a{:href => ""} Творение
                            %li.footSubMenu__item
                                %a{:href => ""} Наука
                            %li.footSubMenu__item
                                %a{:href => ""} Литературный момент
                            %li.footSubMenu__item
                                %a{:href => ""} Конкурсы
                    %li.footMenu__item
                        %a{:href => ""} РЕКЛАМА
                        %ul.footSubMenu
                            %li.footSubMenu__item
                                %a{:href => ""} Писатель
                            %li.footSubMenu__item
                                %a{:href => ""} Творение
                            %li.footSubMenu__item
                                %a{:href => ""} Наука
                            %li.footSubMenu__item
                                %a{:href => ""} Литературный момент
                            %li.footSubMenu__item
                                %a{:href => ""} Конкурсы
                    %li.footMenu__item
                        %a{:href => ""} РАЗМЕСТИТЬ ИНФОРМАЦИЮ
                        %ul.footSubMenu
                            %li.footSubMenu__item
                                %a{:href => ""} Писатель
                            %li.footSubMenu__item
                                %a{:href => ""} Творение
                            %li.footSubMenu__item
                                %a{:href => ""} Наука
                            %li.footSubMenu__item
                                %a{:href => ""} Литературный момент
                            %li.footSubMenu__item
                                %a{:href => ""} Конкурсы

                            
            .col-md-4.col-lg-3
                .footFeedback
                    .footFeedback__title ОБРАТНАЯ СВЯЗЬ
                    %a.footFeedback__link{:href => "tel:8 800 000 0000"}
                        %i.icn-phone
                        8 800 000 0000
                    %a.footFeedback__link{:href => "mailto:info@pechorin.net"}
                        %i.icn-mail
                        info@pechorin.net
                
                %p.footCopy
                    © Pechorin.net 2019 
                    %br/
                    Правила пользования
                    %br/
                    Политика конфиденциальности