%header.header  
    .container
        .row
            .col-sm-12
                .mainMenu
                    .mainMenu__btns.js-menu 
                        %i.icn-bars
                        %i.icn-close
                    %nav.mainMenu__nav
                        %i.icn-close.mainMenu__close.js-closeMenu 
                        %ul.menu
                            %li.menu__item
                                %a{:href => ""} ГЛАВНАЯ
                            %li.menu__item
                                %a{:href => ""} СОБЫТИЯ
                                %ul.subMenu
                                    %li.subMenu__item
                                        %a{:href => ""} Писатель
                                    %li.subMenu__item
                                        %a{:href => ""} Творение
                                    %li.subMenu__item
                                        %a{:href => ""} Наука
                                    %li.subMenu__item
                                        %a{:href => ""} Литературный момент
                                    %li.subMenu__item
                                        %a{:href => ""} Конкурсы
                            %li.menu__item
                                %a{:href => ""} СТАТЬИ
                                %ul.subMenu
                                    %li.subMenu__item
                                        %a{:href => ""} Писатель
                                    %li.subMenu__item
                                        %a{:href => ""} Творение
                                    %li.subMenu__item
                                        %a{:href => ""} Наука
                                    %li.subMenu__item
                                        %a{:href => ""} Литературный момент
                                    %li.subMenu__item
                                        %a{:href => ""} Конкурсы
                            %li.menu__item.active
                                %a{:href => ""} КОНКУРСЫ
                                %ul.subMenu
                                    %li.subMenu__item.active
                                        %a{:href => ""} Писатель
                                    %li.subMenu__item
                                        %a{:href => ""} Творение
                                    %li.subMenu__item
                                        %a{:href => ""} Наука
                                    %li.subMenu__item
                                        %a{:href => ""} Литературный момент
                                    %li.subMenu__item
                                        %a{:href => ""} Конкурсы
                            %li.menu__item
                                %a{:href => ""} ПУБЛИКАЦИИ
                                %ul.subMenu
                                    %li.subMenu__item
                                        %a{:href => ""} Писатель
                                    %li.subMenu__item
                                        %a{:href => ""} Творение
                                    %li.subMenu__item
                                        %a{:href => ""} Наука
                                    %li.subMenu__item
                                        %a{:href => ""} Литературный момент
                                    %li.subMenu__item
                                        %a{:href => ""} Конкурсы
                            %li.menu__item
                                %a{:href => ""} УСЛУГИ
                                %ul.subMenu
                                    %li.subMenu__item
                                        %a{:href => ""} Писатель
                                    %li.subMenu__item
                                        %a{:href => ""} Творение
                                    %li.subMenu__item
                                        %a{:href => ""} Наука
                                    %li.subMenu__item
                                        %a{:href => ""} Литературный момент
                                    %li.subMenu__item
                                        %a{:href => ""} Конкурсы
                            %li.menu__item
                                %a{:href => ""} СООБЩЕСТВО
                                %ul.subMenu
                                    %li.subMenu__item
                                        %a{:href => ""} Писатель
                                    %li.subMenu__item
                                        %a{:href => ""} Творение
                                    %li.subMenu__item
                                        %a{:href => ""} Наука
                                    %li.subMenu__item
                                        %a{:href => ""} Литературный момент
                                    %li.subMenu__item
                                        %a{:href => ""} Конкурсы
                            %li.menu__item
                                %a{:href => ""} ПОЛЕЗНОЕ
                                %ul.subMenu
                                    %li.subMenu__item
                                        %a{:href => ""} Писатель
                                    %li.subMenu__item
                                        %a{:href => ""} Творение
                                    %li.subMenu__item
                                        %a{:href => ""} Наука
                                    %li.subMenu__item
                                        %a{:href => ""} Литературный момент
                                    %li.subMenu__item
                                        %a{:href => ""} Конкурсы
                            %li.menu__item
                                %a{:href => ""} О НАС
                                %ul.subMenu
                                    %li.subMenu__item
                                        %a{:href => ""} Писатель
                                    %li.subMenu__item
                                        %a{:href => ""} Творение
                                    %li.subMenu__item
                                        %a{:href => ""} Наука
                                    %li.subMenu__item
                                        %a{:href => ""} Литературный момент
                                    %li.subMenu__item
                                        %a{:href => ""} Конкурсы
                    .mainMenu__search.js-search 
                        %i.icn-search
                        %i.icn-close
    .mainSearch
        .container
            .row
                .col-sm-12
                    %form{:action => ""}
                        .field-case
                            %input.field.field-with-icon{:type => "text", :name => "search", :placeholder => "", :required => "true"}/
                            %i.field-icon.icn-search
                        %input.btns.btns-default{:type => "submit", :value => "Найти"}/
                
        
                