.mainInfo
    .mainInfo__title Основная информация о разделе
    %p.mainInfo__text
        Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка.
    .socIcons.socIcons-vertical.mainInfo__icons
        %a.socIcon.socIcon-default.socIcon-sm{:href => ""}
            %i.icn-facebook-cir
        %a.socIcon.socIcon-default.socIcon-sm{:href => ""}
            %i.icn-vk-cir
        %a.socIcon.socIcon-default.socIcon-sm{:href => ""}
            %i.icn-instagram-cir
        %a.socIcon.socIcon-default.socIcon-sm{:href => ""}
            %i.icn-twitter-cir
        %a.socIcon.socIcon-default.socIcon-sm{:href => ""}
            %i.icn-linkedin-cir