.newsImages
    .newsImageLarge.newsImages__large{:style => "background-image: url('assets/pictures/books.jpg')"}
        .newsImageLarge__content
            %span.newsImageLarge__date 01.01.2019г.
            %a.newsImageLarge__title{:href => ""}
                Стартовал новый сезон литературной премии 
                %br/
                «Национальный бестселлер»

            %a.tag.newsImageLarge__tag{:href => ""} #анализ 
            %a.tag.newsImageLarge__tag{:href => ""} #публикации
            %a.tag.newsImageLarge__tag{:href => ""} #конкурсы 
    .row
        - (1..3).each do  |i|
            .col-sm-4
                %a.newsImageSmall.newsImages__small{:href => "", :style => "background-image: url('assets/pictures/read-books.jpg')"}
                    %span.newsImageSmall__title
                        Стартовал новый сезон литературной премии «Национальный бестселлер»
            