.otherInterested
    .otherInterested__title Вам также может быть интересно
    %ul.otherInterested__list
        - (1..6).each do |i|
            %li.box.box-extend.otherInterested__item
                %a.box__img{:href => ""}
                    %img{:src => "assets/pictures/box.jpg", :srcset => "assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x", :alt => ""}/
                %p.box__text
                    Стартовал новый сезон литературной премии «Национальный бестселлер» 