.pageHead
    %a.logoBlock.pageHead__logo{:href => ""}
        %img.logoBlock__img{:src => "assets/img/logo.png", :srcset => "assets/img/logo.png 1x, assets/img/logo@2x.png 2x", :alt => ""}/
        %span.logoBlock__text
            %span Pechorin.Net
            %span ЛИТЕРАТУРНЫЙ ПРОЕКТ

    .socIcons.pageHead__soc
        %a.socIcon.socIcon-primary{:href => ""}
            %i.icn-facebook-cir
        %a.socIcon.socIcon-primary{:href => ""}
            %i.icn-vk-cir
        %a.socIcon.socIcon-primary{:href => ""}
            %i.icn-instagram-cir
        %a.socIcon.socIcon-primary{:href => ""}
            %i.icn-twitter-cir
        %a.socIcon.socIcon-primary{:href => ""}
            %i.icn-linkedin-cir
    %form.pageHead__subscribe.subscribe{:action => ""}
        %input.subscribe__input{:type => "text", :placeholder => "Подписаться на новости"}/
        %buttom.btns.btns-default.subscribe__btns{:type => "submit"} 
            %i.icn-enter

    %a.btns.btns-primary.pageHead__btns{:href => ""} вход
    %a.btns.btns-primary.pageHead__btns{:href => ""} регистрация

    