.pageMenu
    %ul.pageMenu__list
        - $list.each do |i,j|
            %li{:class => "#{j == "1" ? 'active' : ''}"}
                %a{:href => ""} #{i}    
    %a.pageMenu__btn.js-pageMenu{:tabindex => ""}
        %i.icn-bars    
        %i.icn-close    
