.profile__leftBar
    - if $main == true
        .profileMainAvatar
            %a.profileAvatar.profileMainAvatar__avatar{:href => ""}
                %img{:src => "assets/pictures/user2.jpg", :srcset => "assets/pictures/user2.jpg 1x, assets/pictures/user2@2x.jpg 2x", :alt => ""}/
            .profileMainAvatar__bg
            .profileMainAvatar__content
                %span.profileMainAvatar__name
                    Пронин Александр Александрович
                %span.profileMainAvatar__pos
                    Литературный работник
        .userNote
            %a.userNote__item{:href => ""}
                %i.icn-users
            %a.userNote__item.active{:href => ""}
                %i.icn-comments
                %span.num 2
            %a.userNote__item{:href => ""}
                %i.icn-bell
        .profileBox.extend
            %ul.profileBox__list
                %li 
                    .userInfoItem
                        %span Рейтинг
                        %span 100
                %li 
                    .userInfoItem
                        %span Посты
                        %span 288
                %li 
                    .userInfoItem
                        %span Комментарии
                        %span 2234
                %li 
                    .userInfoItem
                        %span Подписчики
                        %span 123
                %li  
                    .userInfoItem
                        %span Подписки
                        %span 1023
        .profileBox
            .profileBox__title 
                %i.icn-post
                Посты для вас
            %ul.profileBox__list
                - (1..10).each do |i|
                    %li 
                        %a.postLink{:href => ""} #Хештег
        .profileBox
            .profileBox__title 
                %i.icn-star-o
                Популярные пользователи
            %ul.profileBox__list
                - (1..10).each do |i|
                    %li 
                        %a.popularUsersItem{:href => ""} 
                            %img.popularUsersItem__img{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                            Алексей Алексеев
        .profileBox
            .profileBox__title 
                %i.icn-post
                Популярные посты
            %ul.profileBox__list
                - (1..10).each do |i|
                    %li 
                        %a.popularPostItem{:href => ""}
                            %span.popularPostItem__info
                                %span 
                                    %i.icn-clock
                                    сегодня 20:14
                                %span
                                    %i.icn-eye 
                                    120
                            %span.popularPostItem__text
                                Новые тома без картин, как это было в первых книгах
        .box.profile__box
            %a.box__title{:href => ""} # КОНКУРСЫ

            %a.box__img{:href => ""}
                %img{:src => "assets/pictures/box.jpg", :srcset => "assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x", :alt => ""}/
            %p.box__text
                Стартовал новый сезон литературной премии «Национальный бестселлер»
    - else
        .profileBox.extend2
            %ul.profileBox__list
                %li 
                    .userInfoItem
                        %span Рейтинг
                        %span 100
                %li 
                    .userInfoItem
                        %span Посты
                        %span 288
                %li 
                    .userInfoItem
                        %span Комментарии
                        %span 2234
                %li 
                    .userInfoItem
                        %span Подписчики
                        %span 123
                %li  
                    .userInfoItem
                        %span Подписки
                        %span 1023
        .profileBox
            .profileBox__title 
                %i.icn-award
                Достижения - 15
            %ul.profileBox__list
                - (1..10).each do |i|
                    %li 
                        %a.postLink{:href => ""} 2001 г • Главный редактор Журнала «Октябрь»
        .profileBox
            .profileBox__title 
                %i.icn-goal 
                Цели - 4
            %ul.profileBox__list
                %li 
                    .goalItem
                        %i.icn-user-plus.goalItem__icon.red
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                1000 подписчиков
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-primary{:href => ""} Цель достигнута!
                %li
                    .goalItem
                        %i.icn-doc.goalItem__icon.red
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                Публикация в толстом журнале
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-primary{:href => ""} Цель достигнута!
                %li
                    .goalItem
                        %i.icn-post.goalItem__icon.red
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                Написать рецензию
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-primary{:href => ""} Цель достигнута!
                %li
                    .goalItem
                        %i.icn-micro.goalItem__icon.red
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                Направить работу критику
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-primary{:href => ""} Цель достигнута!