.profile__rightBar
    - if $main == true
        .profileBox
            .profileBox__title 
                %i.icn-goal 
                Мои цели - 4
            %ul.profileBox__list
                %li 
                    .goalItem
                        %i.icn-user-plus.goalItem__icon.red
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                1000 подписчиков
                                %i.icn-angle-down
                                .goalItem__progress
                                    %span{:style => "width: 80%"}   
                            %a.btns.btns-sm.btns-block.btns-primary{:href => ""} Цель достигнута!
                %li
                    .goalItem
                        %i.icn-doc.goalItem__icon.red
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                Публикация в толстом журнале
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-primary{:href => ""} Цель достигнута!
                %li
                    .goalItem
                        %i.icn-post.goalItem__icon.red
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                Написать рецензию
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-primary{:href => ""} Цель достигнута!
                %li
                    .goalItem
                        %i.icn-micro.goalItem__icon.red
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                Направить работу критику
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-primary{:href => ""} Цель достигнута!
        .profileBox
            .profileBox__title 
                %i.icn-goal 
                Новые цели для вас
            %ul.profileBox__list
                %li 
                    .goalItem
                        %i.icn-user-plus.goalItem__icon
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                1000 подписчиков
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-default{:href => ""} Поставить цель!
                %li
                    .goalItem
                        %i.icn-doc.goalItem__icon
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                Публикация в толстом журнале
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-default{:href => ""} Поставить цель!
                %li
                    .goalItem
                        %i.icn-post.goalItem__icon
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                Написать рецензию
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-default{:href => ""} Поставить цель!
                %li
                    .goalItem
                        %i.icn-micro.goalItem__icon
                        .goalItem__content
                            .goalItem__bnt.js-toggle
                                Направить работу критику
                                %i.icn-angle-down
                            %a.btns.btns-sm.btns-block.btns-default{:href => ""} Поставить цель!
        .profileBox
            .profileBox__title 
                %i.icn-box 
                Текущее голосование

            %form.rateForm{:action => ""}
                .rateForm__title
                    Есенин vs Некрасов 
                .field-case
                    - (1..3).each do |i|
                        %label.check-case
                            - if i == 1
                                %input{:type => "radio", :name => "rate", :value => "", :checked => ""}/
                            - else
                                %input{:type => "radio", :name => "rate", :value => ""}/
                            %i.icn-radio.radios
                            %span.check-name 
                                Вариант #{i}
                    %label.check-case
                        %input{:type => "radio", :name => "rate", :value => ""}/
                        %i.icn-radio.radios
                        %span.check-name 
                            Посмотреть результаты
                    %span.field-help
                %button.btns.btns-sm.btns-block.btns-default{:type => "submit"} 
                    Голосовать
                    %i.icn-checkbox.right
        .profileBox
            .profileBox__title 
                %i.icn-box
                Прошедшие голосования
            %ul.profileBox__list
                %li 
                    %a.postLink{:href => ""} Есенин vs Некрасов 
                %li 
                    %a.postLink{:href => ""} Пушкин vs Лермонтов
                %li 
                    %a.postLink{:href => ""} Мандельштам vs Блок
                %li 
                    %a.postLink{:href => ""} Есенин vs Некрасов 
                %li 
                    %a.postLink{:href => ""} Пушкин vs Лермонтов  
        .profileBox
            .profileBox__title 
                %i.icn-poll 
                Опрос

            %form.rateForm{:action => ""}
                .rateForm__title
                    Что еще добавить на сайт?
                .field-case
                    - (1..3).each do |i|
                        %label.check-case
                            %input{:type => "checkbox", :name => "", :value => ""}/
                            %i.icn-checkbox.checkboxes
                            %span.check-name 
                                Вариант #{i}
                    %label.check-case
                        %input{:type => "checkbox", :name => "", :value => ""}/
                        %i.icn-checkbox.checkboxes
                        %span.check-name
                            Еще вариант
                    %span.field-help
                %button.btns.btns-sm.btns-block.btns-default{:type => "submit"} 
                    Голосовать
                    %i.icn-checkbox.right  
        .profileBox
            .profileBox__title 
                %i.icn-poll
                Прошедшие опросы
            %ul.profileBox__list
                %li 
                    %a.postLink{:href => ""} Что еще добавить на сайт
                %li 
                    %a.postLink{:href => ""} Еще текст опроса 1
                %li 
                    %a.postLink{:href => ""} Еще текст опроса в две строки
                %li 
                    %a.postLink{:href => ""} Еще текст опроса 1
                %li 
                    %a.postLink{:href => ""} Еще текст опроса 1


        - (1..2).each do |i|
            .box.profile__box
                %a.box__title{:href => ""} # КОНКУРСЫ

                %a.box__img{:href => ""}
                    %img{:src => "assets/pictures/box.jpg", :srcset => "assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x", :alt => ""}/
                %p.box__text
                    Стартовал новый сезон литературной премии «Национальный бестселлер»
    - else
        .profileBox
            .profileBox__title 
                %i.icn-users
                Подписчики - 55
            %ul.profileBox__list
                - (1..5).each do |i|
                    %li 
                        %a.popularUsersItem{:href => ""} 
                            %img.popularUsersItem__img{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                            Алексей Алексеев
        .profileBox
            .profileBox__title 
                %i.icn-heart
                Подписки - 255
            %ul.profileBox__list
                - (1..5).each do |i|
                    %li 
                        %a.popularUsersItem{:href => ""} 
                            %img.popularUsersItem__img{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                            Алексей Алексеев
        .profileBox
            .profileBox__title 
                %i.icn-comments
                Гостевая книга
            %ul.profileBox__list
                - (1..6).each do |i|
                    %li 
                        %a.popularPostItem{:href => ""}
                            %span.popularPostItem__info
                                %span 
                                    %i.icn-clock
                                    сегодня 20:14
                            %span.popularPostItem__text
                                А почему перестали публиковать новые тома без картин, как это было в первых ...