.profileUserControl
    .profileUserControl__links
        %a{:href => ""} Сообщество 
        %span Личная страница пользователя
    .profileUserControl__user
        %a{:href => ""}
            %img{:src => "assets/pictures/user2.jpg", :srcset => "assets/pictures/user2.jpg 1x, assets/pictures/user2@2x.jpg 2x", :alt => ""}/
            Алексей
        %span 
        %a{:href => ""} Лента
    .userNote.profileUserControl__note
        %a.userNote__item{:href => ""}
            %i.icn-users
        %a.userNote__item.active{:href => ""}
            %i.icn-comments
            %span.num 2
        %a.userNote__item{:href => ""}
            %i.icn-bell
        %a.userNote__item{:href => ""}
            %i.icn-cog