.sidebar
    - if $boxes == 3
        - (1..3).each do |i|
            .box.sidebar__box
                %a.box__title{:href => ""} # КОНКУРСЫ

                %a.box__img{:href => ""}
                    %img{:src => "assets/pictures/box.jpg", :srcset => "assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x", :alt => ""}/
                %p.box__text
                    Стартовал новый сезон литературной премии «Национальный бестселлер»
    - if $boxes == 2
        - (1..2).each do |i|
            .box.sidebar__box
                %a.box__title{:href => ""} # КОНКУРСЫ

                %a.box__img{:href => ""}
                    %img{:src => "assets/pictures/box.jpg", :srcset => "assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x", :alt => ""}/
                %p.box__text
                    Стартовал новый сезон литературной премии «Национальный бестселлер» 
    - if $boxes == 7
        - (1..7).each do |i|
            .box.sidebar__box
                %a.box__title{:href => ""} # КОНКУРСЫ

                %a.box__img{:href => ""}
                    %img{:src => "assets/pictures/box.jpg", :srcset => "assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x", :alt => ""}/
                %p.box__text
                    Стартовал новый сезон литературной премии «Национальный бестселлер» 
    
    - if $topNews == true
        .sidebarList.sidebar__list
            .sidebarList__title
                ТОП НОВОСТИ
            %ul.sidebarList__list
                - (1..10).each do |i|
                    %li.sidebarItem
                        %span.sidebarItem__num #{i}
                        %a.sidebarItem__link{:href => ""} #публикации
                        %p.sidebarItem__text
                            Стартовал новый сезон литературной премии «Национальный бестселлер»
    - if $topContests == true
        .sidebarList.sidebar__list
            .sidebarList__title
                ПОПУЛЯРНЫЕ КОНКУРСЫ
            %ul.sidebarList__list
                - (1..10).each do |i|
                    %li.sidebarItem
                        %span.sidebarItem__num #{i}
                        %a.sidebarItem__link{:href => ""} #публикации
                        %p.sidebarItem__text
                            Стартовал новый сезон литературной премии «Национальный бестселлер»
    - if $mostPopular == true
        .sidebarList.sidebar__list
            .sidebarList__title
                САМОЕ ПОПУЛЯРНОЕ
            %ul.sidebarList__list
                - (1..10).each do |i|
                    %li.sidebarItem
                        %span.sidebarItem__num #{i}
                        %a.sidebarItem__link{:href => ""} #публикации
                        %p.sidebarItem__text
                            Стартовал новый сезон литературной премии «Национальный бестселлер»


                            
    - if $box == 2
        - (1..2).each do |i|
            .box.sidebar__box
                %a.box__title{:href => ""} # КОНКУРСЫ

                %a.box__img{:href => ""}
                    %img{:src => "assets/pictures/box.jpg", :srcset => "assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x", :alt => ""}/
                %p.box__text
                    Стартовал новый сезон литературной премии «Национальный бестселлер»

    - if $singleBox == true
        .box.sidebar__box
            %a.box__title{:href => ""} # КОНКУРСЫ

            %a.box__img{:href => ""}
                %img{:src => "assets/pictures/box.jpg", :srcset => "assets/pictures/box.jpg 1x, assets/pictures/box@2x.jpg 2x", :alt => ""}/
            %p.box__text
                Стартовал новый сезон литературной премии «Национальный бестселлер» 
    - if $vk == true
        %img.img-block{:src => "assets/pictures/vk.jpg", :srcset => "assets/pictures/vk.jpg 1x, assets/pictures/vk@2x.jpg 2x", :alt => ""}/
    - if $fb == true
        %img.img-block{:src => "assets/pictures/fb.jpg", :srcset => "assets/pictures/fb.jpg 1x, assets/pictures/fb@2x.jpg 2x", :alt => ""}/

