%ul.sitePager
    %li
        %a{:href => ""} 
            %i.icn-angle-left 
    - (1..5).each do |i|
        %li{:class => "#{i == 4 ? 'active' : ''}"}
            %a{:href => ""} #{i}
        
    %li 
        %a{:href => ""} ...
    %li
        %a{:href => ""} 55
    %li
        %a{:href => ""} 
            %i.icn-angle-right