.blogsLg
    background: #7F8588
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    height: 100%
    &__content
        padding: 15px 20px
        color: #fff
        position: relative
        flex: 1 1 auto
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        .counters
            margin-top: auto
    &__img
        display: block
        img
            width: 100%
            display: block
            position: relative
    &__tags
        position: absolute
        left: 0
        width: 100%
        bottom: 100%
        padding: 15px 20px
        z-index: 99

.blogsSm
    background: #7F8588
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    position: relative
    height: calc(50% - 20px)
    @media(max-width: 767px)
        display: block
    &__content
        padding: 15px 20px
        color: #fff
        position: relative
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        @media(max-width: 767px)
            display: block
        .counters
            margin-top: auto
    &__img
        display: block
        
        background: center no-repeat
        background-size: cover
        @media(max-width: 1199px)
            width: 300px
        @media(max-width: 767px)
            width: 100%
            
        img
            width: auto
            height: 100%
            display: block
            position: relative
            @media(max-width: 767px)
                height: auto
                width: 100%
    &__tags
        position: absolute
        left: 0
        bottom: 0
        padding: 10px 20px
        z-index: 99
        right: 50%
        @media(max-width: 767px)
            position: static
            padding-bottom: 0
        .tag
            font-size: 12px
            margin-right: 5px
    & + .blogsSm
        margin-top: 40px

.aboutBlogs
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    margin: 100px 0
    @media(max-width: 1199px)
        flex-wrap: wrap
    &__title
        flex: 0 0 60px
        font-size: 36px
        color: $cPrim
        position: relative
        @media(max-width: 1199px)
            width: 100%
            flex: 0 0 100%
            margin-bottom: 15px
        span
            position: absolute
            bottom: 0
            top: 100%
            transform-origin: 0 0
            transform: rotate(-90deg)
            display: block
            white-space: nowrap
            @media(max-width: 1199px)
                transform: rotate(0deg)
                position: static
                display: block
                white-space: normal

            
    &__left
        flex: 1 1 calc(60% - 60px)
        

        @media(max-width: 1199px)
            flex: 1 1 100%
            margin-bottom: 30px
        
    &__right
        flex: 1 1 calc(40% - 60px)
        padding-left: 30px
        
        @media(max-width: 1199px)
            flex: 1 1 100%
            padding-left: 0
    


