.aboutMenu
    +rl()
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: center
    align-items: center
    border-bottom: 7px solid #4F4F4F
    margin-bottom: 50px
    li
        margin: 0 25px
        margin-bottom: 8px
        @media(max-width: 767px)
            margin: 0 5px 8px
        a
            font-size: 24px
            color: $cPrim
            position: relative
            @media(max-width: 767px)
                font-size: 18px
            &:hover
                color: $cPrim
                text-decoration: none
            &:after
                border-left: 15px solid transparent
                border-right: 15px solid transparent
                border-bottom: 15px solid transparent
                content: ''
                position: absolute
                bottom: -17px
                margin-left: -15px
                left: 50%
        &.active
            a:after
                border-bottom-color: #fff


.aboutBlock
    text-align: center
    margin-bottom: 70px
    &__title
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        font-size: 24px
        color: $cPrim
        margin-bottom: 25px
        &:after,
        &:before
            background: rgba(255,255,255,1)
            background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(128,3,9,1) 100%)
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(128,3,9,1)))
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(128,3,9,1) 100%)
            background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(128,3,9,1) 100%)
            background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(128,3,9,1) 100%)
            background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(128,3,9,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#800309', GradientType=1 )
            width: 70px
            height: 2px
            content: ''
            margin-right: 10px
        &:after
            margin-left: 10px
            background: rgba(128,3,9,1)
            background: -moz-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(255,255,255,1) 100%)
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,3,9,1)), color-stop(100%, rgba(255,255,255,1)))
            background: -webkit-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(255,255,255,1) 100%)
            background: -o-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(255,255,255,1) 100%)
            background: -ms-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(255,255,255,1) 100%)
            background: linear-gradient(to right, rgba(128,3,9,1) 0%, rgba(255,255,255,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800309', endColorstr='#ffffff', GradientType=1 )

    &__text
        font-size: 18px
        color: #4F4F4F
        margin: 0 auto 
        max-width: 1160px
    &__img
        display: block
        max-width: 880px
        width: 100%
        margin: 0 auto  30px
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25)
        border-radius: 5px

.aboutControll
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: center
    align-items: center
    @media(max-width: 575px)
        display: block
    &__item
        margin: 0 15px
        width: 270px
        @media(max-width: 575px)
            margin: 15px 0
            width: 100%
        span
            text-align: center
            display: block
            font-size: 16px
            color: $cPrim
            margin-bottom: 5px


.char
    margin-bottom: 150px
    &__title
        text-align: center
        font-size: 36px
        margin-bottom: 100px
        @media(max-width: 767px)
            font-size: 24px
.charList
    &__item
        margin-bottom: 60px


.charItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    @media(max-width: 767px)
        display: block
    &__img
        flex: 0 0 260px
        margin-right: 40px
        display: block
        border-radius: 5px
        overflow: hidden
        @media(max-width: 767px)
            margin-bottom: 15px
            margin-right: 0
        img
            display: block
            width: 100%
    &__content
        flex: 1 1 auto
    &__pos
        font-size: 20px
        color: $cPrim
        margin-bottom: 20px
        position: relative
        border-bottom: 1px solid $cPrim
        span
            display: inline-block
            padding: 0 3px 3px 0
            margin-bottom: -1px
            background: #fff
    &__name
        font-size: 24px
        font-weight: 500
        margin-bottom: 15px
    &__text
        margin-bottom: 30px
        font-size: 18px

    &__links
        .link
            display: inline-block
            margin-right: 40px
            margin-bottom: 5px
            @media(max-width: 767px)
                margin-right: 20px