.addContest
    &__title
        font-size: 24px
        margin-bottom: 30px
        letter-spacing: 0.05em
    &__text
        font-size: 14px
        color: #828282
        margin-top: 15px
        a
            color: #828282
            text-decoration: underline
            &:hover
                text-decoration: none
    .img-block
        width: 100%
        height: 80px
