.artwork
    margin-bottom: 30px
    &__head
        background: #F2F2F2
        border-radius: 3px 3px 0px 0px
        padding: 10px 20px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        @media(max-width: 1199px)
            flex-wrap: wrap
        .type, .time, .date 
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            i
                margin-right: 10px
        .type
            color: $cPrim
            font-size: 18px
            @media(max-width: 1199px)
                width: 100%
                margin-bottom: 10px

        .time
            font-size: 14px
            margin-left: 40px
            color: #333
            margin-right: auto 
            @media(max-width: 1199px)
                margin-left: 0 
            @media(max-width: 767px)
                width: 100%
                margin-bottom: 10px
        .date 
            font-size: 16px
            color: #828282
            margin-left: 15px
            @media(max-width: 767px)
                margin-left: 0
                margin-right: 15px
    &__content
        background: #FFFFFF
        border: 2px solid #F2F2F2
        padding: 20px 15px
        font-size: 16px
    &__inner
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-start
        @media(max-width: 1199px)
           display: block 
        & + .artwork__text
            margin-top: 15px
    &__img
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
        flex: 0 0 160px
        margin-right: 15px
        width: 160px
        @media(max-width: 1199px)
            display: block
            width: auto
            max-width: 100%
            margin: 0 auto 15px
        &.ext
            flex: 0 0 100px
            width: 100px
    &__descript
        flex: 1 1 auto
    &__title
        margin-bottom: 10px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        .link
            color: #4F4F4F
            font-size: 24px
    &__answ
        font-size: 20px
        color: $cPrim
        margin-left: auto
        &:hover
            color: $cPrim
            text-decoration: none
        i
            display: block
    &__tags
        font-size: 16px
        color: $cPrim
        margin-bottom: 5px
        a
            color: $cPrim
            &:hover
                color: $cPrim
    &__info
        margin-bottom: 10px
        color: #828282
        span
            font-size: 16px
            margin-right: 15px
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            i
                margin-right: 10px
    &__text
        font-size: 16px

    &__foot
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-top: 20px
    &__info
        font-size: 20px
        color: $cSec
        margin-left: auto
        &:hover
            color: $cSec
            text-decoration: none
        i
            display: block


