.author
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    flex-wrap: wrap
    font-size: 14px
    color: $cPrim
    &__title
        width: 100%
        font-weight: bold
        margin-bottom: 5px
    &__img
        width: 25px
        height: 25px
        border-radius: 25px
        overflow: hidden
        margin-right: 15px
        flex: 0 0 25px
        img
            width: 100%
            height: 100%
    &__link
        font-size: 14px
        color: $cPrim
        flex: 1 1 calc(100% - 40px)
        &:hover
            color: $cPrim