.box
	background: #F2F2F2
	padding: 10px 20px 20px
	&__title
		font-size: 16px
		font-weight: 500
		display: block
		margin-bottom: 10px
		color: $cPrim
	&__img
		display: block
		margin-bottom: 10px
		img
			width: 100%
			display: block
	&__text
		font-size: 16px
		margin-bottom: 0
		line-height: 20px
	&:hover 
		color: #fff
		background: $cPrim
	&:hover > &__title
		color: #fff
	&-extend
		padding: 10px
		background: none
