.breadCrumbs
    border-bottom: 7px solid $cPrim
    margin-bottom: 30px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    &__inner
        display: block
        font-weight: 500
        font-size: 16px 
        padding: 7px 36px 4px 
        background: $cPrim
        a
            color: #fff
            &:after
                margin: 0 10px
                content: "/"
            &:hover
                color: #fff
                text-decoration: none
            &:last-child
                &:after
                    display: none 
        span
            color: #fff
                