.calDays
    background: $cPrim
    color: #fff
    padding: 0 70px
    @media(max-width: 767px)
        padding: 0 40px
    &__item
        width: 60px
        height: 60px
        border-radius: 60px
        text-align: center
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        margin: 5px auto
        cursor: pointer
        strong
            display: block
            font-size: 24px
            font-weight: bold
            line-height: 1
            margin-bottom: 2px
        span
            display: block
            color: #BDBDBD
            font-size: 16px
            line-height: 1
        &.active
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25)
            background: #fff
            strong
                color: #000
    .owl-nav
        button.owl-next,
        button.owl-prev
            width: 40px
            height: 40px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: center
            border-radius: 50px
            background: rgba(0, 0, 0, 0.4)
            color: #fff
            position: absolute
            top: 50%
            font-size: 16px
            margin-top: -20px
            @media(max-width: 767px)
                width: 25px
                height: 25px
                font-size: 10px
                border: 1px solid #fff
                margin-top: -12px
            &:hover
                background: rgba(0, 0, 0, 0.8)
            &:focus
                background: rgba(0, 0, 0, 0.4)
        button.owl-next
            right: 20px
            @media(max-width: 767px)
                right: 10px
        button.owl-prev
            left: 20px
            @media(max-width: 767px)
                left: 10px
.calEve
    margin: 100px 0
    @media(max-width: 1199px)
        margin: 50px 0
    .calEve__title
        display: block
        text-align: center
        margin-bottom: 0
        color: #fff
        background: #7F8588
        padding: 10px 15px

.dayEvn
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex

    flex-wrap: wrap
    margin: 30px -15px 0
    &__item
        width: calc(25% - 30px)
        margin: 0 15px 30px
        @media(max-width: 1199px)
            width: calc(50% - 30px)
        @media(max-width: 767px)
            width: calc(100% - 30px)
        &.extend
            width: calc(33.33% - 30px)
            @media(max-width: 1499px)
                width: calc(50% - 30px)
            @media(max-width: 991px)
                width: calc(100% - 30px)

.dayEvnItem
    position: relative
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    background: #7F8588
    &__time
        background: rgba(128, 3, 9, 0.7)
        padding: 10px 20px
        top: 0
        left: 0
        color: #fff
        position: absolute
    &__img
        display: block
        width: 100%
        img
            display: block
            width: 100%
    &__content
        padding: 20px 8px
        color: #fff
        font-size: 16px
        flex: 1 1 auto
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
    &__title
        color: #fff
        display: block
        text-decoration: none
        margin-bottom: 20px
        font-size: 20px
        font-weight: bold
        &:hover
            color: #fff
    &__text
        display: block
        margin-bottom: 20px
        
    &__address
        margin-top: auto
        color: #E0E0E0
    &.extend 
        background: #fff
        border: 1px solid $cPrim
        .dayEvnItem__time
            padding: 5px 15px
        .dayEvnItem__title,
        .dayEvnItem__text,
        .dayEvnItem__address
            color: #000
        &:hover
            background: $cPrim
            .dayEvnItem__title,
            .dayEvnItem__text,
            .dayEvnItem__address
                color: #fff


            
        