.comment
    border-top: 1px solid #7F8588
    border-bottom: 1px solid #7F8588
    padding: 10px 0
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    &__img
        width: 40px
        height: 40px
        border-radius: 25px
        overflow: hidden
        margin-right: 15px
        flex: 0 0 40px
        img
            width: 100%
            height: 100%
    &__content
        flex: 1 1 auto
    &__control
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        font-size: 14px
        margin-bottom: 10px
        flex-wrap: wrap
    &__text
        color: #333333
        font-size: 16px
        margin-bottom: 20px
    &__btns
        a
            font-size: 14px
            margin-left: 10px
    &__reply
        margin: 0 15px
    &__name
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        @media(max-width: 991px)
            width: 100%
            margin-bottom: 5px
        a
            color: $cPrim
            &:hover
                color: $cPrim
    &__date
        color: #4F4F4F
        margin-left: 40px
        @media(max-width: 991px)
            margin-left: 0
    &__rate
        margin-left: auto
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        
        .bt
            margin-left: 10px
        a
            border: 1px solid $cPrim
            width: 17px
            height: 17px
            border-radius: 25px
            color: $cPrim
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            justify-content: center
            &:hover
                background: $cPrim
                color: #fff
                text-decoration: none

.comments
    &__item
        margin-bottom: 20px
    .comments
        margin-left: 40px
        margin-top: 20px
        @media(max-width: 767px)
            margin-left: 15px
    &__text
        text-align: center
        font-size: 16px
        a
            font-size: 16px

.commentsBlock
    margin-bottom: 100px
    & > .comments
        height: 0
        opacity: 0
        overflow: hidden
        transition: opacity 150ms linear
        margin-bottom: 0
    &__title
        font-size: 24px
        margin-bottom: 30px
        cursor: pointer
        user-select: none
        &:after
            content: ""
            display: inline-block
            vertical-align: middle
            margin-left: 15px
            border-top: 5px solid #333
            border-left: 5px solid transparent
            border-right: 5px solid transparent
        &.open
            &:after
                transform: rotate(-180deg)
            & + .comments
                height: auto
                opacity: 1
                margin-bottom: 30px

