.toggleItem
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        margin-bottom: 20px
        @media(max-width: 1199px)
            flex-wrap: wrap
    &__content
        display: none
    &__btns
        text-align: right
        margin: 10px 0
        a
            cursor: pointer
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            color: $cPrim
            text-decoration: none
            i
                font-size: 10px 
                margin-left: 10px   
            &:hover
                color: $cPrim 
            &.open
                i
                    transform: rotate(-180deg)



.contestsList
    border-top: 1px solid #7F8588
    

.contestsItem
    border-bottom: 1px solid #7F8588
    padding-top: 30px
    &__imgBox
        flex: 0 0 180px
        margin: 0 20px
    &__conters
        height: 140px
    &__img
        display: block
        width: 100%
        margin-bottom: 15px
        img
            width: 100%
            display: block
    &__descrip
        flex: 1 1 auto
        @media(max-width: 1199px)
            margin-top: 20px
    &__title
        font-size: 18px
        margin-bottom: 15px
        a
            color: $cPrim
    &__text
        font-size: 16px
        strong
            color: $cPrim
            font-weight: normal
        .link-primary
            font-weight: normal
            font-size: 16px


.contestView
    margin-bottom: 100px
    &__content
        font-size: 16px
        h5, .h5
            margin-bottom: 30px
        a
            word-break: break-all
            font-size: 16px
    &__title
        font-size: 36px
        line-height: 1.2
        font-weight: 500
        color: $cPrim
        margin-bottom: 30px
        @media(max-width: 767px)
            font-size: 24px
    &__control
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-bottom: 10px
        @media(max-width: 991px)
            flex-wrap: wrap
    &__bookmark
        color: $cPrim
        font-size: 18px
        text-decoration: none
        margin: 0 10px
        &:hover
            text-decoration: none
            color: $cPrim
    &__date
        font-size: 14px
        color: $cPrim
        margin-right: auto
        @media(max-width: 991px)
            width: 100%
            margin-bottom: 10px
    
    &__counters
        @media(max-width: 991px)
            margin-right: auto
    &__img
        margin-bottom: 20px

