.counter
	font-size: 14px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin-right: 20px
	align-items: center
	cursor: pointer
	&:last-child
		margin-right: 0
	i
		margin-right: 10px
	&-red
		color: $cPrim
		&:hover
			color: $cPrim
			text-decoration: none
	&-white
		color: #fff
		&:hover
			color: #fff
			text-decoration: none
	&-ver
		flex-direction: column
		justify-content: center
		align-items: center
		margin-right: 0
		justify-content: space-between
		i
			margin-right: 0
.counters
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	&-vertikal
		flex-direction: column
		justify-content: space-between
		align-items: center
		min-height: 150px
