.filter
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-bottom: 50px
    i
        font-size: 20px
        color: #7F8588
        margin-right: 15px
    a
        margin: 5px
        padding: 5px 10px
        border-radius: 10px
        color: #7F8588
        &.active,
        &:hover
            text-decoration: none
            background: #7F8588
            color: #fff
