.footer
	background: #7F8588
	padding: 50px 0 30px
	color: #fff

.footSubMenu
	margin-top: auto
	+rl()
	&__item
		font-size: 16px
		a
			color: #fff
.footMenu
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	+rl()
	&__item
		width: 20%
		margin-bottom: 50px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		@media(max-width: 1199px)
			width: 33.333%
		@media(max-width: 991px)
			width: 50%
		@media(max-width: 575px)
			width: 100%
		& > a
			font-size: 20px
			color: #fff
			font-family: $ph
			margin-bottom: 10px
			display: block

.footFeedback
	&__title
		font-size: 18px
		font-weight: bold
		margin-bottom: 21px
		font-weight: bold
	&__link
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		font-size: 16px
		color: #fff
		margin-bottom: 10px
		i
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
			background: #DADADA
			width: 30px
			height: 30px
			border-radius: 30px
			color: $cPrim
			font-size: 12px
			margin-right: 10px
			flex: 0 0 30px
		&:hover
			text-decoration: none
			color: #fff
.footCopy
	font-size: 16px
	position: absolute
	width: 100%
	bottom: 0
	left: 15px
	@media(max-width: 767px)
		position: static
		margin-top: 30px