.subMenu
    +rl()
    margin-top: 25px
    display: none
    @media(max-width: 1199px)
        margin: 15px 0 25px 
    &__item
        margin-bottom: 10px
        a
            font-size: 16px
            color: #fff
            text-decoration: none
            font-family: $nss
            font-weight: normal
        &:hover, &.active
            a
                color: $cPrim

    
.menu
    +rl()
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    @media(max-width: 1199px)   
        flex-wrap: wrap
    @media(max-width: 991px)   
        display: block
    &__item
        margin-right: 15px
        &:last-child
            margin-right: 0
        & > a
            color: #fff
            display: block
            &:after
                height: 1px
                display: block
                width: 0
                transition: all 150ms linear
                content: ''
                background: #fff
        &:hover, &.active
            & > a
                text-decoration: none
                &:after
                    width: 50%
.mainMenu
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    @media(max-width: 991px)
        justify-content: space-between
    &__btns
        flex: 0 0 auto
        cursor: pointer
        font-size: 25px
        .icn-close
            display: none
    &__search
        flex: 0 0 auto
        cursor: pointer
        font-size: 25px
        .icn-close
            display: none
        &.open
            .icn-search
                display: none
            .icn-close
                display: block
    &__nav
        flex: 1 1 auto
        padding: 0 80px
        @media(max-width: 1199px)
            padding: 0 15px
        @media(max-width: 991px)
            position: fixed
            padding: 0
            background: $cSec
            left: -9999px
            transition: opacity 150ms linear
            top: 0
            width: 270px
            height: 100%
            opacity: 0
            padding: 0
    &__close
        position: absolute
        top: 15px
        right: 15px
        cursor: pointer
        @media(min-width: 991px)
            display: none


.mainSearch
    position: absolute
    top: 100%
    padding: 15px 0
    left: 0
    width: 100%
    background: #fff
    left: -9999px
    opacity: 0
    &.open
        opacity: 1
        left: 0px
    form
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        .field-case
            flex: 1 1 auto
            .field
                border-radius: 5px 0 0 5px
                border-right: 0
        .btns   
            flex: 0 0 auto


.header
    position: absolute
    z-index: 30
    top: 0
    left: 0
    width: 100%
    padding: 20px 0
    background: $cPrim
    color: #fff
    font-family: $ph
    font-weight: bold
    .col-sm-12
        position: static

    &.open
        @media(min-width: 992px)
            background: $cSec
        .mainMenu
            align-items: flex-start
            &__nav
                padding-right: 0
                padding-left: 40px
                @media(max-width: 991px)
                    padding: 0
                    opacity: 1
                    left: 0
            &__btns
                @media(min-width: 992px)
                    &:last-child
                        display: none
                    .icn-bars
                        display: none
                    .icn-close
                        display: block
            &__search
                @media(min-width: 992px)
                    display: none
        .menu
            @media(max-width: 991px)
                padding: 0 15px
                margin: 35px 0 0 0 
                overflow-y: auto
                height: calc(100% - 35px)
            &__item
                font-size: 18px
                @media(max-width: 1199px)   
                    width: 25%
                    margin-right: 0
                    margin-bottom: 25px
                @media(max-width: 991px)
                    width: auto
                &:first-child
                    @media(min-width: 992px)
                        display: none
                & > a
                    &:after
                        display: none
                &:hover, &.active
                    & > a
                        color: $cPrim
        .subMenu
            display: block
        .mainMenu__btns
    
    