.itemTab
    color: #000
    font-size: 14px
    display: block
    padding: 10px 15px
    &:hover
        color: #fff
        background: #7F8588
        text-decoration: none
    &__date
        display: block
        margin-bottom: 5px
    &__title
        font-size: 16px
        display: block
        font-weight: bold
        margin-bottom: 5px
    &__text
        margin-bottom: 0

    