.likes
    background: #7F8588
    border-radius: 7px
    padding: 5px 
    font-size: 20px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    position: absolute
    left: 0
    bottom: 21px
    a
        color: #fff
        margin: 0 5px
        i
            display: block
            margin: 0
        &:hover
            color: $cPrim
            text-decoration: none

.likesBlock
    position: relative
    .likes
        opacity: 0
        pointer-events: none
    &:hover
        .likes
            opacity: 1
            pointer-events: auto