.counterItem
    max-width: 265px
    @media(max-width: 767px)
        max-width: 100%
    &__ic
        position: absolute
        bottom: 0
        right: 40px
    &__count
        font-size: 48px
        font-weight: bold
        color: #fff
        display: block
    &__name
        position: relative
        font-weight: bold
        color: $cPrim
        display: block
        font-size: 18px
    &__text
        font-size: 16px
        color: #fff

.litProject
    padding: 0 0 70px
    position: relative
    background: #7F8588
    &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 220px
        
        background: #fff
        background: linear-gradient(to top right, #7f8588 0%,  #7f8588 50%, #fff 50%, #fff 100%)
        @media(max-width: 991px)
            height: 180px
        @media(max-width: 767px)
            background: #fff
            height: 90px
    &__title
        text-align: right
        color: rgba(176, 0, 0, 0.5)
        font-size: 64px
        line-height: 1
        font-weight: 900
        margin-bottom: 10px
        @media(max-width: 991px)
            font-size: 45px
            margin-bottom: 30px
        @media(max-width: 767px)
            font-size: 20px
            text-align: center
            padding: 30px 15px 
            br
                display: none
    &__item
        margin: 0 auto
        @media(min-width: 768px)
            &.ext2
                margin-top: 30px
            &.ext3
                margin-top: 60px
            &.ext4
                margin-top: 90px

.redBlock
    background: $cPrim
    position: relative
    padding: 93px 0 50px
    color: #fff
    @media(max-width: 991px)
        padding-top: 40px
    &__inner
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        position: relative
        @media(max-width: 1199px)
            display: block
    &:before
        content: ''
        position: absolute
        bottom: 0px
        left: 0
        width: 100%
        height: 235px
        background: #fff
        background: linear-gradient(to top right, #fff 0%,  #fff 50%, $cPrim 50%, $cPrim 100%)
        @media(max-width: 1199px)
            display: none
    &__site
        color: rgba(255, 255, 255, 0.7)
        font-size: 96px
        position: absolute
        left: 0
        font-weight: bold
        bottom: 100%
        width: 100%
        line-height: 1
        margin-bottom: 45px
        @media(max-width: 991px)
            font-size: 40px
            text-align: center
            margin-bottom: 20px
        @media(max-width: 767px)
            font-size: 35px
            margin-bottom: 25px
    &__title
        font-size: 24px
        margin-bottom: 20px
    &__subTitle
        font-size: 18px
    &__slider
        width: 560px
        height: 420px
        position: relative
        flex: 0 0 560px
        @media(max-width: 1199px)
            margin: 0 auto
        @media(max-width: 767px)
            width: 290px
            height: 220px
        .item
            position: absolute
            width: 440px
            height: 300px
            bottom: 0
            right: 0
            transition: all 300ms linear 
            @media(max-width: 767px)
                width: 260px
                height: auto
            img
                display: block
                width: 100%
                height: 100%
            span
                position: absolute
                top: 54px
                text-align: center
                width: 100%
                font-size: 48px
                color: #333333
                font-family: $ph
                @media(max-width: 767px)
                    font-size: 24px
            &[data-pos="1"]
                z-index: 5
                transform: translate(0px, 0px)
            &[data-pos="2"]
                z-index: 4
                transform: translate(-60px, -60px)
                @media(max-width: 767px)
                    transform: translate(-15px, -15px)
            &[data-pos="3"]
                z-index: 3
                transform: translate(-120px, -120px)
                @media(max-width: 767px)
                    transform: translate(-30px, -30px)
    &__content
        padding-left: 30px
        flex: 1 1 auto
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
    &__pager
        font-size: 36px
        font-weight: 900
        color: $cPrim
        margin-top: 10px
        @media(max-width: 1199px)
            order: -1
            color: #fff
            text-align: center
        a
            color: #7F8588
            text-decoration: none
            cursor: pointer
            user-select: none