.mainInfo
    padding-bottom: 30px
    margin-bottom: 50px
    border-bottom: 3px solid $cPrim
    padding-right: 35px
    position: relative
    min-height: 220px
    &__title
        font-size: 24px
    &__text
        font-size: 16px
    &__icons
        position: absolute
        top: 0
        right: 0

