.manBoxes
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    margin: 0 -15px 

.manBox
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    position: relative
    margin: 0 15px 30px
    width: calc(33.33% - 30px)
    justify-content: space-between
    &:hover
        text-decoration: none
    @media(max-width: 1199px)
        width: calc(50% - 30px)
    @media(max-width: 767px)
        width: calc(100% - 30px)

    &:after
        position: absolute
        bottom: 0
        right: 0
        top: 0
        left: 15%
        content: ''
        background: rgba(127, 133, 136, 0.7)
    &__name
        position: relative
        z-index: 6
        width: 100%
        font-size: 18px
        font-weight: bold
        color: $cPrim
        margin-bottom: 5px
    &__txt
        position: relative
        z-index: 10
        flex: 1 1 calc(100% - 190px)
        width: calc(100% - 190px)
        color: rgba(51, 51, 51, 0.9)
        font-weight: 900
        font-size: 13px
        position: relative
        margin-top: 10px
        @media(max-width: 767px)
            max-width: 150px

    &__img
        position: relative
        z-index: 6
        width: 170px
        height: 170px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        margin-bottom: 5px
