.manuscript
	max-width: 664px
	margin: 0 auto
	&__text
		font-size: 14px
		margin-bottom: 30px
		a
			font-size: 14px
	&__user
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 30px
	&__img
		flex: 0 0 100px
		margin-right: 20px
		width: 100px
	&__name
		flex: 0 0 100px
		font-size: 18px
		font-weight: bold
		margin-bottom: 10px
		span
			display: block
	&__form
		border-top: 1px solid $cPrim
		border-bottom: 1px solid $cPrim
		padding-top: 30px
		margin-bottom: 30px
	&__info
		text-align: center
		font-size: 14px
		a
			font-size: 14px
	&__btns
		max-width: 260px
	.field-help label
		margin-bottom: 10px