.monthListItem
    &__time
        background: rgba(128, 3, 9, 0.7)
        padding: 5px 15px
        bottom: 0
        left: 0
        color: #fff
        position: absolute
        z-index: 9
    &__img
        display: block
        width: 100%
        position: relative
        margin-bottom: 10px
        a
            display: block
        img
            display: block
            width: 100%
    &__title
        font-size: 48px
        color: #4F4F4F
        font-weight: bold
        margin-bottom: 20px
        line-height: 1.1
        &:after
            display: block
            width: 157px
            height: 3px
            margin-left: 43px
            background: $cPrim
            content: ''
    &__item
        margin-bottom: 15px
        span
            display: block
            color: $cPrim
        a
            font-size: 16px
            color: #000
    .link
        margin-top: 30px
        display: inline-block
.monthList
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex

    flex-wrap: wrap
    margin: 30px -15px 0
    &__item
        width: calc(50% - 30px)
        margin: 0 15px 60px
        @media(max-width: 767px)
            width: calc(100% - 30px)

.month
    &__title
        font-size: 48px
        color: #4F4F4F
        font-weight: bold
        margin-bottom: 50px
        line-height: 1.1
        &:first-letter
            font-size: 96px
        &:after
            display: block
            width: 157px
            height: 3px
            margin-left: 43px
            background: $cPrim
            content: ''
    &__pager
        margin-top: 100px
        @media(max-width: 767px)
            margin: 50px 0