.newsImageSmall
	min-height: 170px
	background-position: center
	background-size: cover
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-end
	&__title
		font-size: 14px
		color: #fff
		padding: 10px 20px
		display: block
	&:hover
		text-decoration: none
.newsImageLarge
	position: relative
	//padding: 24.4% 0
	width: 100%
	min-height: 420px
	background-position: center
	background-size: cover
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-end
	@media(max-width: 767px)
		min-height: 320px
	&__content
		padding: 25px 20px
		color: #fff
		font-size: 14px
	&__date
		display: block
		margin-bottom: 10px
	&__title
		display: block
		color: #fff
		font-size: 18px
		margin-bottom: 10px
		&:hover
			color: #fff
	&__tag
		margin-right: 20px
		
		

.newsImages
	&__large
		margin-bottom: 30px
	&__small
		height: 100%
		@media(max-width: 767px)
			height: auto
			margin-bottom: 30px