.newsInfo
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	color: $cPrim
	font-size: 14px
	&__img
		width: 25px
		margin-right: 15px
		img
			width: 100%
			display: block
	i
		font-size: 5px
		margin: 0 10px



.newsControl
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	&__info
		margin-right: auto
	&__bookmark
		color: $cPrim
		font-size: 18px
		text-decoration: none
		i
			display: block
		&:hover
			text-decoration: none
			color: $cPrim
	&__share
		margin-left: 23px

	&__counters
		margin-right: 23px



.newsItem
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-start
	@media(max-width: 991px)
		display: block
	&__img
		flex: 0 0 320px
		margin-right: 20px
		@media(max-width: 1199px)
			flex: 0 0 220px
		@media(max-width: 991px)
			margin-bottom: 30px	

		img
			width: 100%
			display: block
	&__control
		margin-bottom: 10px
		@media(max-width: 1499px)
			.share
				margin-left: auto
		@media(max-width: 1199px)
			flex-wrap: wrap
			.newsInfo
				width: 100%
				margin-bottom: 10px
			
	&__content
		flex: 1 1 auto
		//@media(max-width: 991px)
	&__title
		font-size: 18px
		margin-right: 30px
		margin-bottom: 10px
		line-height: 1.2
		a
			color: #000
	&__text
		margin-right: 30px
		min-height: 100px
		line-height: 20px

.newsList
	&__item
		margin-bottom: 50px
	&__pager  
		margin: 100px 0 150px

.newsView
	margin-bottom: 104px
	&__title
		font-size: 36px
		line-height: 44px
		margin-bottom: 20px
		@media(max-width: 767px)
			font-size: 24px
			line-height: 1.2
	&__img
		margin-bottom: 30px
		width: 100%
	&__control
		margin-bottom: 10px
		@media(max-width: 1199px)
			flex-wrap: wrap
			.newsInfo
				width: 100%
				margin-bottom: 10px
			.counters
				margin-right: auto 
	&__text
		margin-bottom: 62px
		font-size: 16px
		strong
			font-size: 24px
	&__counters
		margin-bottom: 30px
	&__tags
		margin-bottom: 30px
		font-size: 18px