.noteFound
	margin-bottom: -100px
	padding-top: 130px
	min-height: 500px
	@media(max-width: 767px)
		min-height: 400px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	color: #fff
	flex-direction: column
	align-items: center
	background: center no-repeat
	background-size: cover
	+retina("../img/not-found", ".jpg")

	&__icon
		background: rgba(0, 0, 0, 0.5)
		width: 50px
		height: 50px
		border-radius: 50px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		font-size: 20px
		margin-bottom: 35px
	&__text
		font-size: 28px
		margin-bottom: 15px
	&__link
		color: #fff
		text-decoration: underline
		&:hover
			text-decoration: none
			color: #fff
