.otherInterested
    &__title
        font-size: 24px
        color: $cPrim
        margin-bottom: 20px
    &__list
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        margin: 0 -15px
        +rl()
        flex-wrap: wrap
    &__item
        margin: 0 15px 20px
        width: calc(33.33% - 30px)
        @media(max-width: 991px)
            width: calc(50% - 30px)
        @media(max-width: 575px)
            width: calc(100% - 30px)



