.logoBlock
    display: -webkit-inline-flex
    display: -moz-inline-flex
    display: -ms-inline-flex
    display: -o-inline-flex
    display: inline-flex
    align-items: center
    font-family: $ph
    font-weight: bold
    color: #000
    text-decoration: none
    &:hover
        text-decoration: none
    &__img
        width: 80px
        height: 80px
        margin-right: 15px
        &.sm
            width: 60px
            height: 60px
    &__text
        color: #000
        font-size: 24px
        line-height: 1.2
        
        span
            display: block
            text-decoration: none
            &:last-child
                color: $cPrim
.subscribe
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    &__input
        background: #BDBDBD
        height: 40px
        flex: 1 1 auto
        width: calc(100% - 40px)
        color: #fff
        padding: 0 15px
        border: none
        font-size: 14px
        &::-webkit-input-placeholder
            opacity: 1
            color: #fff
        &::-moz-placeholder
            opacity: 1
            color: #fff
        &:-ms-input-placeholder
            opacity: 1
            color: #fff
        &:-moz-placeholder
            opacity: 1
            color: #fff
    &__btns
        padding: 0
        justify-content: center
        border: none
        flex: 0 0 40px

.pageHead
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-bottom: 20px
    @media(max-width: 1199px)
        justify-content: space-between
    &__logo
        margin-right: auto
        @media(max-width: 767px)
            margin-bottom: 15px
            margin-right: 0
            width: 100%
    &__subscribe
        margin: 0 40px
        width: 260px
        @media(max-width: 1499px)
            width: 200px
            margin: 0 15px
        @media(max-width: 1199px)
            margin: 15px auto 15px 0
            width: 50%
        @media(max-width: 767px)
            order: 1
            width: 100%
            margin: 15px 0

    &__soc
        max-width: 100%
        flex: 0 0 200px
        @media(max-width: 767px)
            flex: 0 0 100%
            justify-content: center
            width: 100%
            margin-bottom: 15px
            .socIcon
                margin: 0 10px

    &__btns
        margin-left: 2px
        @media(max-width: 767px)
            width: 49%
            justify-content: center
