.pageMenu
    border-bottom: 7px solid $cPrim
    margin-bottom: 30px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    position: relative
    &__btn
        background: $cPrim
        color: #fff
        cursor: pointer
        width: 50px
        height: 40px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        text-decoration: none
        @media(min-width: 1199px)
            display: none
        .icn-close 
            display: none
        &:hover
            color: #fff
            text-decoration: none
        &.open   
            .icn-bars    
                display: none
            .icn-close 
                display: block
    &__list
        background: #fff
        +rl()
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        flex-wrap: wrap
        @media(max-width: 1199px)
            display: block
            pointer-events: none
            position: absolute
            width: 100%
            top: 100%
            margin-top: 10px
            z-index: 9
            opacity: 0
            left: 0
            transition: opacity 150ms linear
            &.open
                pointer-events: auto
                opacity: 1
                
        li
            a
                color: #000
                display: block
                font-weight: 500
                font-size: 16px 
                padding: 7px 36px 4px 
                @media(max-width: 1499px)
                    padding: 7px 20px 4px
                @media(max-width: 1199px)
                    padding: 5px 15px

                &:hover
                    text-decoration: none
                @media(max-width: 767px)
                    font-size: 12px
            &.active, &:hover
                a
                    background: $cPrim
                    color: #fff