.twitsList
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    margin: 0 -15px
    flex-wrap: wrap
    &__item
        margin: 0 15px 30px
        width: calc(50% - 30px)
        @media(max-width: 575px)
            width: calc(100% - 30px)

.twitItem
    background: #7F8588
    &:hover
        background: $cPrim
    &__img
        display: block
        margin-right: 80px
        img
            width: 100%
    .counters
        padding: 20px 0
        justify-content: center

.popularTwits
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    margin: 100px 0
    @media(max-width: 1199px)
        flex-wrap: wrap
    @media(max-width: 991px)
        display: block
    &__title
        flex: 0 0 100px
        font-size: 48px
        color: $cPrim
        position: relative
        @media(max-width: 1199px)
            width: 100%
            flex: 0 0 100%
            margin-bottom: 15px
        span
            position: absolute
            bottom: 0
            margin-top: -30px
            top: 100%
            transform-origin: 0 0
            transform: rotate(-90deg)
            display: block
            white-space: nowrap
            @media(max-width: 1199px)
                transform: rotate(0deg)
                position: static
                display: block
                white-space: normal
    &__list
        flex: 1 1 calc(60% - 100px)
    &__scroll
        flex: 1 1 calc(40% - 100px)
        padding-left: 30px
        @media(max-width: 991px)
            padding-left: 0
            
        .scrollInner
            height: 670px
            @media(max-width: 1499px)
                height: 510px
            @media(max-width: 991px)
                height: 400px

        .mCSB_container
            -webkit-overflow-scrolling: touch

        .mCSB_scrollTools
            width: 7px
        .mCSB_inside > .mCSB_container
            margin-right: 0
        .mCSB_scrollTools .mCSB_dragger
            background: $cPrim
            width: 7px
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
            background: $cPrim
            width: 7px

        .mCSB_scrollTools .mCSB_draggerRail
            width: 7px
            margin: 0
            background: none