.post
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-bottom: 19px
    &__userImg
        width: 30px
        height: 30px
        border-radius: 30px
        flex: 0 0 30px
        margin-right: 10px
        overflow: hidden
        margin-bottom: 0 !important
    &__userName
        a
            font-size: 16px
            color: #333
        span
            font-size: 12px
            color: #828282
            display: block
    &__answ
        font-size: 20px
        color: $cPrim
        margin-left: auto
        &:hover
            color: $cPrim
            text-decoration: none
        i
            display: block
        &.ext
            margin-left: 0
            margin-right: 15px
            color: $cSec
            &:hover
                color: $cSec
    &__body
        p, img, .video
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
        img
            display: block
            width: 100%
        .video
            position: relative
            &:after
                content: ''
                position: absolute
                width: 100%
                height: 100%
                top: 0
                left: 0
                background: rgba(0,0,0,0.2)
            i
                cursor: pointer
                position: absolute
                z-index: 9
                font-size: 50px
                color: #fff
                top: 50%
                left: 50%
                margin-left: -34px
                margin-top: -25px
            video
                width: 100%
                display: block
            &.active
                &:after, i
                    display: none

    &__foot
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-top: 20px
    &__info
        font-size: 20px
        color: $cSec
        margin-left: auto
        &:hover
            color: $cSec
            text-decoration: none
        i
            display: block


.posts
    &__item
        border-bottom: 1px solid #F2F2F2
        padding-bottom: 30px
        margin-bottom: 40px
    .postInner
        background: rgba(242, 242, 242, 0.5)
        border-radius: 5px
        padding: 15px
        margin-left: 15px
        margin-bottom: 15px