.projectServ
    margin: 100px 0
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    @media(max-width: 767px)
        display: block
        margin: 50px 0
    &__leftBar
        flex: 0 0 260px
        margin-right: 30px
        border-left: 7px solid $cPrim
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        @media(max-width: 767px)
            margin-right: 0
            margin-bottom: 30px
            border-left: none
    &__content
        flex: 1 1 auto

    &__title
        font-size: 24px
        text-transform: uppercase
        color: $cPrim
        font-weight: bold
        padding-left: 13px
        margin-bottom: 22px
        @media(max-width: 767px)
            padding-left: 0
    &__nav
        flex-direction: column
        +rl()
        flex: 1 1 auto
        justify-content: space-between
        @media(max-width: 767px)
            flex-direction: row
            justify-content: flex-start
        .nav-item
            .nav-link
                color: #000
                font-size: 16px
                @media(max-width: 767px)
                    font-size: 12px
                    border-radius: 5px
                &.active
                    background: $cPrim
                    color: #fff
    &__preview
        background: center no-repeat
        background-size: cover
        .inner
            background: rgba(127, 133, 136, 0.7)
            height: 100%
            padding: 60px
            font-size: 16px
            color: #fff
            max-width: 550px
            width: 50%
            flex: 1 1 auto
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            flex-direction: column
            justify-content: center
            min-height: 400px
            @media(max-width: 1199px)
                padding: 30px
            @media(max-width: 1199px)
                width: 100%
            &__title
                font-weight: bold
                font-size: 24px
                margin-bottom: 35px
                color: #fff
            p
                margin-bottom: 0