.addPost
    background: #F2F2F2
    border: 1px solid #BDBDBD
    box-sizing: border-box
    border-radius: 5px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    padding: 15px
    position: relative
    &.ext
        margin-bottom: 56px
    @media(max-width: 991px)
        flex-wrap: wrap
    &__user
        width: 30px
        height: 30px
        border-radius: 30px
        margin-right: 5px
        overflow: hidden
        flex: 0 0 30px
        margin-right: 22px
        img
            width: 100%
            height: 100%
    &__area
        flex: 1 1 auto
        width: calc(100% - 52px)
        textarea
            padding-top: 5px
            width: 100%
            display: block
            border: none
            color: #828282
            padding-bottom: 0
            height: 30px
            resize: none
            background: none
            
            &:focus
                outline: none
            &::-webkit-input-placeholder
                opacity: 0.5
                color: #828282
            &::-moz-placeholder
                opacity: 0.5
                color: #828282
            &:-ms-input-placeholder
                opacity: 0.5
                color: #828282
            &:-moz-placeholder
                opacity: 0.5
                color: #828282
    &__icons
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        width: 100px
        flex: 0 0 100px
        align-self: flex-end
        margin-bottom: 5px
        margin-left: 15px
        &.ext
            width: 50px
            flex: 0 0 65px
        @media(max-width: 991px)
            width: 100%
            flex: 1 1 auto
            margin: 15px 0 0 0
            justify-content: flex-end
        a

            font-size: 22px
            color: #4F4F4F
            text-decoration: none
            &:hover
                color: $cPrim
            &:last-child
                color: $cPrim
            i
                display: block
            @media(max-width: 991px)
                margin-left: 15px

.turnOnOff
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    align-items: center
    background: #F2F2F2
    border: 1px solid #BDBDBD
    box-sizing: border-box
    border-radius: 5px
    padding: 18px 15px
    &__label
        font-size: 16px
        margin-left: 10px
    &__check
        background: rgba(128,3,9,0.5)
        width: 27px
        height: 13px
        border-radius: 10px
        position: relative
        span
            position: absolute
            background: $cSec
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.237602), 0px 0px 1px rgba(0, 0, 0, 0.12)
            width: 17px
            height: 17px
            border-radius: 17px
            top: -2px
            right: 0
        input
            position: absolute
            width: 100%
            height: 100%
            left: 0
            top: 0
            cursor: pointer
            z-index: 99
        input:checked ~ span
            left: 0
            right: auto
            background: $cPrim

.profileControl
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    margin-bottom: 30px
    @media(max-width: 1199px)
        display: block
    .addPost
        flex: 1 1 auto
    .turnOnOff
        flex: 0 0 240px
        margin-left: 30px
        @media(max-width: 1199px)
            margin-left: 0
            margin-top: 15px

.musicList
    margin-bottom: 20px
    &:last-child
        margin-bottom: 0
    &__item + &__item
        margin-top: 11px
.musicItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    font-size: 16px
    audio
       opacity: 0
       position: absolute
       left: -9999px
    &__icon
        color: $cPrim
        font-size: 24px
        cursor: pointer
        margin-right: 15px
    &__name
        margin-right: 15px
        position: relative
        flex: 1 1 auto 
        .timeline
            left: 0
            height: 100%
            position: absolute
            top: 0
            left: 0
            width: 100%
            background: #fff
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            opacity: 0
            pointer-events: none
            &.active
                opacity: 1
                pointer-events: auto
            .bg
                background: #7F8588
                border-radius: 3px 
                height: 4px
                width: 100%
                position: relative
                margin-top: 2px
                cursor: pointer
                .progres
                    position: absolute
                    top: 0
                    border-radius: 3px 
                    left: 0
                    height: 100%
                    width: 0
                    background: $cPrim
                    &:after
                        display: block
                        width: 10px
                        height: 10px
                        border-radius: 100px
                        background: #000
                        content: ''
                        position: absolute
                        top: -3px
                        left: 100%
                        margin-left: -5px
            
    &__time
        margin-left: auto
            
