.profileHeader
    background: center bottom no-repeat
    background-size: cover
    +retina("../img/profile-bg", ".jpg")
    border-radius: 5px
    min-height: 350px
    margin-bottom: 30px
    padding-left: 240px
    position: relative
    z-index: 9
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-end
    color: #fff
    @media(max-width: 767px)
        display: block
        padding: 15px
    &__avatar
        position: absolute
        bottom: -30px
        left: 20px
        @media(max-width: 767px)
            position: static
            margin: 0 auto
    &__control
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        width: 100%
        flex: 1 1 auto
        align-items: flex-start
        flex-wrap: wrap
        margin-bottom: 36px
        margin-right: 20px
        @media(max-width: 767px)
            display: block
            text-align: center
    &__name
        font-size: 24px
        width: 100%
        display: block
    &__pos
        font-size: 18px
        width: 100%
        margin-bottom: 15px
        display: block
    .btns
        margin-left: 20px
        @media(max-width: 991px)
            margin-left: 0
            margin-right: 20px
        @media(max-width: 767px)
            margin-right: 0
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            margin-bottom: 15px
            justify-content: center
    &__btn.btns
        margin-left: 0
        margin-right: auto
        @media(max-width: 991px)
            margin-right: 100%
            margin-bottom: 20px
        @media(max-width: 767px)
            margin-right: 0
.profileUserInfo
    background: #F2F2F2
    border-radius: 5px
    margin-bottom: 50px
    padding: 15px
    position: relative
    &__online
        font-size: 16px
        color: #828282
        position: absolute
        top: 15px
        right: 15px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        @media(max-width: 991px)
            position: static
            justify-content: flex-end
            margin-bottom: 15px
        i
            font-size: 10px
            color: #BDBDBD
            margin-right: 5px
            margin-top: 4px
    &__table
        
        padding-bottom: 20px
    &__tr
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-star
        font-size: 16px
        margin-bottom: 16px
        @media(max-width: 767px)
            display: block
        &:last-child
            margin-bottom: 0
    &__name 
        flex: 0 0 150px
        color: #828282
        display: block
        @media(max-width: 767px)
            margin-bottom: 10px
    &__val
        color: #333
        @media(max-width: 767px)
            margin-bottom: 15px
        a
            margin-right: 30px
            color: #333
            align-items: center
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            i
                margin-right: 10px
                font-size: 24px
                color: #6F6F6F
            &:hover
                text-decoration: none


    &__moreBtn
        text-align: right
        padding-bottom: 30px
        margin-top: -45px
        @media(max-width: 1499px)
            margin-top: 0
            text-align: left
            padding-bottom: 15px
        a
            font-size: 14px
            color: $cPrim
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            text-decoration: none
            cursor: pointer
            &:hover
                text-decoration: none
            i
                margin-left: 10px
                font-size: 10px
            &.open
                i
                    transform: rotate(180deg)
    &__more
        border-top: 1px solid #7F8588
        padding-top: 20px
        display: none
        h5
            font-size: 16px
            color: #828282
        p
            font-size: 16px
            color: #333
.profile
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    @media(max-width: 767px)
        display: block
    &__leftBar
        flex: 0 0 240px 
        width: 240px
        margin-right: 30px
        @media(max-width: 767px)
            width: auto
            margin-right: 0
    &__container
        flex: 1 1 auto
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        @media(max-width: 991px)
            display: block
    &__content
        flex: 1 1 auto
        width: calc(100% - 270px)
        @media(max-width: 991px)
            width: auto
    &__topBlock
        width: 100%
        flex: 1 1 100%
    &__rightBar
        flex: 0 0 240px 
        width: 240px
        margin-left: 30px
        @media(max-width: 991px)
            margin: 0
            width: auto
    &__box
        margin-bottom: 30px
        
.profileBox
    background: #F2F2F2
    border-radius: 5px
    padding: 10px
    margin-bottom: 30px
    &.extend
        border-radius: 0 0 5px 5px
    &.extend2
        margin-top: -30px
        padding-top: 50px

    &__title
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        position: relative
        padding-bottom: 8px
        font-size: 14px
        margin-bottom: 20px
        color: #333
        i
            font-size: 20px
            margin-right: 8px
            color: $cPrim
        &:after
            background: rgba(128,3,9,1)
            background: -moz-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(128,3,9,0.1) 100%)
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,3,9,1)), color-stop(100%, rgba(128,3,9,0.1)))
            background: -webkit-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(128,3,9,0.1) 100%)
            background: -o-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(128,3,9,0.1) 100%)
            background: -ms-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(128,3,9,0.1) 100%)
            background: linear-gradient(to right, rgba(128,3,9,1) 0%, rgba(128,3,9,0.1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800309', endColorstr='#800309', GradientType=1 )
            display: block
            height: 1px
            width: 100%
            bottom: 0
            left: 0
            content: ''
            position: absolute
    &__list
        +rl()
        li
            margin-bottom: 10px
            overflow: hidden
            &:last-child
                margin-bottom: 0
.postLink
    font-size: 16px
    color: #333
    &:hover
        color: #333
.popularUsersItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex 
    align-items: center  
    font-size: 16px
    color: #333
    &:hover
        color: #333
    &__img
        width: 30px
        height: 30px
        border-radius: 30px
        margin-right: 5px 
.popularPostItem
    font-size: 16px
    color: #333
    text-decoration: none
    margin-bottom: 10px
    display: block
    &:hover
        color: #333
        text-decoration: none
    &__info
        color: #828282
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        font-size: 14px
        justify-content: space-between
        align-items: center
        span
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            i
                margin-right: 5px
    &__text
        margin-top: 5px
        display: block
.userInfoItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    color: #4F4F4F
    justify-content: space-between
.userNote
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    background: #7F8588
    padding: 11px 0
    justify-content: center
    &__item
        position: relative
        margin-right: 32px
        color: #BDBDBD
        font-size: 20px
        &:hover
            text-decoration: none
            color: #fff
        &.active
            color: #fff
            .num
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
        .num
            position: absolute
            top: -10px
            left: 100%
            margin-left: -10px
            min-width: 20px
            height: 20px
            border-radius: 20px
            padding: 0 3px
            background: $cPrim
            color: #fff
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            font-size: 11px
            align-items: center
            justify-content: center
.profileAvatar
    border: 1px solid #FFFFFF
    border-radius: 5px
    overflow: hidden
    display: block
    height: 200px
    width: 200px
    img
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        width: 100%
        height: 100%

.profileMainAvatar
    position: relative
    &__avatar
        position: absolute
        top: 80px
        margin-left: 50%
        left: -100px
    &__content
        padding: 75px 0 20px
        background: #F2F2F2
        border-radius: 5px 5px 0
        margin-top: 15px
    &__bg
        background: center no-repeat
        background-size: cover
        +retina("../img/avatar-bg", ".jpg")
        height: 200px
        padding: 80px 20px 0
        border-radius: 5px
    &__name
        display: block
        text-align: center
        font-size: 16px
        color: #333
        margin-bottom: 10px
        font-weight: 500
    &__pos
        display: block
        text-align: center
        font-size: 14px
        color: #828282
.goalItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    border-bottom: 1px solid #fff
    padding-bottom: 15px

    &__icon
        margin-right: 15px
        font-size: 18px
        color: #828282
        &.red
            color: $cPrim
    &__content
        flex: 1 1 auto
    &__bnt
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        cursor: pointer
        user-select: none
        position: relative
        i
            margin-left: 10px
            font-size: 11px
            color: $cPrim
        &.open
            i
                transform: rotate(180deg)
            & + .btns
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
    &__progress
        background: #7F8588
        border-radius: 3px 
        height: 4px
        width: 100%
        position: absolute
        top: 100%
        left: 0
        margin-top: 2px
        span
            position: absolute
            top: 0
            left: 0
            height: 100%
            background: $cPrim

    .btns
        margin-top: 15px
        display: none

.rateForm
    margin-top: -10px
    &__title
        font-size: 16px
        margin-bottom: 20px
        text-align: center
        color: $cPrim
    .radios
        &:before
            margin-left: 1px

.profileUserControl
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    background: #7F8588
    margin-bottom: 30px
    @media(max-width: 991px)
        flex-wrap: wrap
    &__links
        background: $cPrim
        color: #fff
        font-weight: 500
        font-size: 16px 
        padding: 15px  
        background: $cPrim
        @media(max-width: 991px)
            width: 100%
            margin-bottom: 15px
        a
            color: #fff
            &:after
                margin: 0 10px
                content: "/"
            &:hover
                color: #fff
                text-decoration: none
            &:last-child
                &:after
                    display: none 
        span
            color: #fff
    &__user
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-left: 40px
        @media(max-width: 991px)
            margin-left: 15px
            margin-bottom: 15px
        @media(max-width: 575px)
            margin-right: 100%
        a
            color: #fff
            font-size: 16px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            img
                width: 36px
                height: 36px
                margin-right: 15px
                border-radius: 36px
        span
            width: 1px
            height: 36px
            background: #C4C4C4
            margin: 0 40px
            @media(max-width: 991px)
                height: 20px
                margin: 0 20px
    &__note
        padding: 0
        margin-left: auto
        @media(max-width: 991px)
            margin-bottom: 10px

.moreBtns
    max-width: 300px
    margin-bottom: 60px

.userStatus
    margin-bottom: 50px
    textarea.field
        background: #F2F2F2
        height: 40px
        border: 1px solid $cPrim
        border-radius: 0 10px 0 10px 
        color: $cPrim
        &::-webkit-input-placeholder
            opacity: 0.5
            color: $cPrim
        &::-moz-placeholder
            opacity: 0.5
            color: $cPrim
        &:-ms-input-placeholder
            opacity: 0.5
            color: $cPrim
        &:-moz-placeholder
            opacity: 0.5
            color: $cPrim

.profileCntTitle
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    position: relative
    padding-bottom: 8px
    font-size: 25px
    margin-bottom: 30px
    color: #828282
    i
        font-size: 20px
        margin-right: 8px
        
    &:after
        background: rgba(128,3,9,1)
        background: -moz-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(128,3,9,0.1) 100%)
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,3,9,1)), color-stop(100%, rgba(128,3,9,0.1)))
        background: -webkit-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(128,3,9,0.1) 100%)
        background: -o-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(128,3,9,0.1) 100%)
        background: -ms-linear-gradient(left, rgba(128,3,9,1) 0%, rgba(128,3,9,0.1) 100%)
        background: linear-gradient(to right, rgba(128,3,9,1) 0%, rgba(128,3,9,0.1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800309', endColorstr='#800309', GradientType=1 )
        display: block
        height: 1px
        width: 100%
        bottom: 0
        left: 0
        content: ''
        position: absolute    

.profileComments
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 30px
        @media(max-width: 767px)
            flex-wrap: wrap
        .title
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            color: #828282
            font-size: 24px
            @media(max-width: 767px)
                width: 100%
                margin-bottom: 10px
            i
                margin-right: 15px
        .count
            font-size: 18px
            color: #828282
            text-decoration: underline
    &__foot
        margin-top: 40px
        .link
            font-weight: bold
            text-decoration: none