.publicationsItem
    padding-top: 30px 
    border-bottom: 1px solid  #7F8588
    &:first-child
        border-top: 1px solid  #7F8588
    &__img
        display: block
        flex: 0 0 220px
        margin: 0 20px
        img
            width: 100%
            display: block
        &.ext
            margin-left: 0
    &__descrip
        flex: 1 1 auto
        @media(max-width: 1199px)
            margin-top: 20px
    &__title
        font-size: 18px
        margin-bottom: 15px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        align-items: center
        a
            color: $cPrim
    &__text
        font-size: 16px
        strong
            font-weight: normal
            color: $cPrim
            
        .link-primary
            font-weight: normal
            font-size: 16px
    &__btns
        margin-bottom: 30px
        h6
            color: $cPrim
            margin-bottom: 20px
        .btns
            margin: 3px 0

.publicationsList
    margin-bottom: 100px
    &.ext
        margin-top: 20px
.publications
    &__pager
        margin-bottom: 100px