.serviceView
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        margin-bottom: 28px
        align-items: flex-start
        @media(max-width: 991px)
            display: block
    &__img
        flex: 0 0 260px
        margin-right: 40px
        @media(max-width: 1199px)
            margin-right: 30px
        @media(max-width: 991px)
            margin-right: 0
            margin-bottom: 15px
        img
            width: 100%
            display: block
    &__content
        flex: 1 1 auto
    &__text
        font-size: 18px
        strong
           color: $cPrim 

    &__name
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex 
        font-size: 30px
        margin-bottom: 10px
        line-height: 1.1
        align-items: center
    &__bookmark
        margin-left: auto
        color: $cPrim
        font-size: 20px
        &:hover
            text-decoration: none
        i
            display: block 
    &__title
        font-size: 24px
        font-weight: bold
        padding-bottom: 10px
        margin-bottom: 15px
        border-bottom: 3px solid $cPrim
    &__box
        margin-bottom: 40px
        p, ul
            &:last-child
                margin-bottom: 0
    &__list
        +rl()
        li
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            margin-bottom: 15px
            align-items: center
            &:last-child
                margin-bottom: 0
            span
                width: 60px
            .num
                background: #7F8588
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                justify-content: center
                width: 22px
                height: 22px
                flex: 0 0 22px   
                border-radius: 22px
                color: #fff
                margin-right: 8px
                font-size: 12px
    .nav
        +rl()
        margin-bottom: 30px
        .nav-link
            padding: 0
            margin-right: 40px
            font-size: 16px
            color: #000
            margin-bottom: 10px
            &.active
                color: $cPrim
                text-decoration: underline



