.share
    position: relative
    &__btn
        cursor: pointer
        color: $cPrim
        font-size: 20px
        display: block
        &.open + .share__icons
            opacity: 1
            pointer-events: auto
    &__icons
        position: absolute
        top: 100%
        margin-top: 18px
        right: 0
        opacity: 0
        pointer-events: none
        transition: opacity 150ms linear