.sidebarItem
	position: relative
	padding-left: 30px
	font-size: 16px
	&__num
		position: absolute
		top: 5px
		left: 0
		background: #7F8588
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		width: 22px
		height: 22px
		border-radius: 22px
		color: #fff
		font-size: 12px
	&__link
		color: $cPrim
		&:hover
			color: $cPrim
	&__text
		margin-bottom: 0

.sidebarList
	&__title
		text-transform: uppercase
		color: #333333
		padding-bottom: 10px
		margin-bottom: 25px
		font-weight: bold
		border-bottom: 3px solid $cPrim
		font-size: 18px
	&__list
		+rl()
		li
			padding-bottom: 20px
			margin-bottom: 20px
			border-bottom: 1px solid #C4C4C4
			&:last-child
				margin-bottom: 0

