.sitePager
    +rl()
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    a
        width: 25px
        height: 25px
        color: #000
        font-size: 16px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        border: 1px solid transparent
        &:hover
            border-color: $cPrim
            background-color: $cPrim
            color: #fff
            text-decoration: none
    li
        margin: 0 10px
        &:first-child
            margin-left: 0
        &:last-child
            margin-right: 0
        &:first-child,
        &:last-child
            a
                border-color: $cPrim
                font-size: 12px
        &.active
            a
               border-color: $cPrim
               background: $cPrim
               color: #fff
        @media(max-width: 767px)
            display: none
            &:first-child,
            &:last-child,
            &.active
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex 