.sliderHome
	margin-bottom: 100px
	@media(max-width: 1299px)
		padding: 0 60px 
	@media(max-width: 767px)
		padding: 0
	&__item
		display: block
	
	.owl-nav
		button.owl-next,
		button.owl-prev
			width: 50px
			height: 50px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50px
			background: #7F8588
			color: #fff
			position: absolute
			top: 50%
			font-size: 16px
			margin-top: -25px
			@media(max-width: 767px)
				width: 25px
				height: 25px
				font-size: 10px
				border: 1px solid #fff
				margin-top: -25px
			&:hover
				background: #BDBDBD
			&:focus
				background: #606467
		button.owl-next
			right: -60px
			@media(max-width: 1299px)
				right: 0
			@media(max-width: 767px)
				right: 10px
		button.owl-prev
			left: -60px
			@media(max-width: 1299px)
				left: 0
			@media(max-width: 767px)
				left: 10px
	.owl-dots
		text-align: center
		margin-top: 15px
		.owl-dot
			width: 15px
			height: 15px
			border-radius: 50px
			margin: 0 15px
			border: 3px solid $cPrim
			@media(max-width: 767px)
				margin: 0 7px
			&.active
				background: $cPrim
