.sliderLarge
	margin-bottom: 100px
	@media(max-width: 1299px)
		padding: 0 60px 
	@media(max-width: 767px)
		padding: 0
	&__item
		height: 500px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		padding: 15px 70px 50px
		background-size: cover
		background-position: center
		@media(max-width: 991px)
			padding: 15px
			padding-bottom: 50px
			min-height: 300px
			height: auto
		@media(max-width: 767px)
			padding: 15px 60px 50px
	&__text
		color: #fff
		font-size: 30px
		line-height: 43px
		@media(max-width: 991px)
			font-size: 16px
	.owl-nav
		button.owl-next,
		button.owl-prev
			width: 50px
			height: 50px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50px
			background: #7F8588
			color: #fff
			position: absolute
			top: 50%
			font-size: 16px
			margin-top: -25px
			@media(max-width: 767px)
				width: 25px
				height: 25px
				font-size: 10px
				border: 1px solid #fff
				margin-top: -12px
			&:hover
				background: #BDBDBD
			&:focus
				background: #606467
		button.owl-next
			right: -60px
			@media(max-width: 1299px)
				right: 0
			@media(max-width: 767px)
				right: 10px
		button.owl-prev
			left: -60px
			@media(max-width: 1299px)
				left: 0
			@media(max-width: 767px)
				left: 10px
	.owl-dots
		text-align: center
		position: absolute
		bottom: 32px
		left: 0
		width: 100%
		.owl-dot
			width: 15px
			height: 15px
			border-radius: 50px
			margin: 0 15px
			border: 3px solid $cPrim
			@media(max-width: 767px)
				margin: 0 7px
			&.active
				background: $cPrim
