.socIcon
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    font-size: 30px
    text-decoration: none
    &:hover, &:focus, &:active
        text-decoration: none
    &-sm
        font-size: 25px
    &-primary
        color: $cPrim
        &:hover
            color: #DADADA
        &:focus, &:active
            color: #606467
    &-default
        color: $cSec
        &:hover
            color: #DADADA
        &:focus, &:active
            color: #606467
        

.socIcons
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    max-width: 200px
    justify-content: space-between
    &-vertical
        display: -webkit-inline-flex
        display: -moz-inline-flex
        display: -ms-inline-flex
        display: -o-inline-flex
        display: inline-flex
        flex-direction: column
        width: auto
        height: 185px
