.sorter
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    font-size: 16px
    justify-content: space-between
    max-width: 70%
    margin-bottom: 50px
    flex-wrap: wrap
    @media(max-width: 1199px)
        max-width: 100%
        justify-content: flex-start
    &__label
        @media(max-width: 1199px)
            width: 100%
            margin-bottom: 10px
    &__btns
        color: #333
        cursor: pointer
        @media(max-width: 1199px)
            margin-right: 15px
        @media(max-width: 767px)
            margin-bottom: 5px
        &:hover
            color: #333
            text-decoration: none
            user-select: none
        i
            margin-left: 10px
            font-size: 10px
            opacity: 0
            display: inline-block
        &.active
            color: $cPrim
            i
                opacity: 1
        &.dasc
            i
                transform: rotate(-180deg)
        
