.stars
	font-size: 20px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	color: rgba(0, 0, 0, 0.54)
	justify-content: space-between
	&-vertikal
		flex-direction: column
		display: -webkit-inline-flex
		display: -moz-inline-flex
		display: -ms-inline-flex
		display: -o-inline-flex
		display: inline-flex
		min-width: none
		width: auto
	.star
		position: relative
		i
			display: block
		&.active
			color: $cPrim
		&:hover
			.starPopover
				display: block

.starPopover
	background: $cPrim
	color: #fff
	position: absolute
	bottom: 100%
	left: -15px
	margin-bottom: 10px
	padding: 15px
	display: none
	width: 290px
	border-radius: 5px
	&:after
	    content: ""
	    width: 10px
	    height: 10px
	    background:  $cPrim
	    position: absolute
	    transform: rotate(45deg)
	    bottom: -5px
	    border-top: none
	    border-left: none
	    left: 20px
	span
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		
		font-size: 12px
		i
			margin-right: 10px
			color: #828282
			&.active
				color: #fff
		& + span
			margin-top: 10px