.subscribeBlock
	&__title
		font-size: 18px
		margin-bottom: 20px
	&__form
		margin-bottom: 12px
		max-width: 260px
		width: 100%
		@media(max-width: 767px)
			max-width: 100%
	&__text
		font-size: 14px
		color:  #828282
		a
			color:  #828282
			text-decoration: underline
			&:hover
				color:  #828282
				text-decoration: none
