.tabBlock
    @media(max-width: 991px)
        margin-top: 30px
    &__nav
        +rl()
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        border-bottom: 7px solid $cPrim
        margin-bottom: 27px
        .nav-item
            width: 33.333%
            text-align: center
            .nav-link
                color: #000
                display: block
                font-weight: 500
                font-size: 16px 
                padding: 8px 0 1px 0
                @media(max-width: 767px)
                    font-size: 12px
                &.active
                    background: $cPrim
                    color: #fff
    &__scroll
        height: 500px
        margin-bottom: 30px
        @media(max-width: 991px)
            height: 400px
        @media(max-width: 767px)
            height: 200px
        .mCSB_container
            -webkit-overflow-scrolling: touch

        .mCSB_scrollTools
            width: 7px
        .mCSB_inside > .mCSB_container
            margin-right: 0
        .mCSB_scrollTools .mCSB_dragger
            background: $cPrim
            width: 7px
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
            background: $cPrim
            width: 7px

        .mCSB_scrollTools .mCSB_draggerRail
            width: 7px
            margin: 0
            background: none

    
    

                    