.template
	&__head
		font-size: 32px
		color: #fff
		padding: 80px 0
		background: center no-repeat
		background-size: cover 
		+retina("../img/template", ".jpg")
		margin-bottom: 50px
	ul
		+rl()
		margin-bottom: 30px
		ul
			margin-bottom: 0
	h5
		font-size: 20px
		font-weight: bold