.textSlider
    &__title
        font-size: 24px
        font-weight: bold
        color: $cPrim
        margin-bottom: 20px
    &__text
        font-size: 16px
    .owl-nav
        button.owl-prev
            margin-right: 10px
        button.owl-next,
        button.owl-prev
            width: 50px
            height: 50px
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            justify-content: center
            border-radius: 50px
            background: #7F8588
            color: #fff
            font-size: 16px
            @media(max-width: 767px)
                width: 25px
                height: 25px
                font-size: 10px
                border: 1px solid #fff
                margin-top: -12px
            &:hover
                background: #BDBDBD
            &:focus
                background: #606467
    