.usefulItem
    background: #FFFFFF
    box-shadow: 0px 4px 10px rgba(128, 3, 9, 0.3)
    padding: 0 7px 16px
    &__img
        display: block
        margin: 0 -7px
        margin-bottom: 10px
        border-bottom: 1px solid #E0E0E0
        img
            width: 100%
            display: block
    &__text
        font-size: 16px
        margin: 10px 0 30px
    &__more
        text-align: right
        a
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            text-decoration: none
            align-items: center
            font-size: 14px
            &:hover
                text-decoration: none
            i
                margin-left: 5px
                font-size: 10px
.usefulList
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    margin: 0 -15px
    &__item
        margin: 0 15px 30px
        width: calc(25% - 30px)
        @media(max-width: 1199px)
            width: calc(50% - 30px)
        @media(max-width: 767px)
            width: calc(100% - 30px)


.usefulBlock
    &__title
        font-size: 48px
        color: #4F4F4F
        font-weight: bold
        @media(max-width: 767px)
            font-size: 30px
        &:after
            display: block
            width: 157px
            height: 3px
            background: $cPrim
            content: ''
            margin: 15px 0 30px
.useful
    margin-bottom: 100px
    &__item
        margin-bottom: 50px

    