!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
            .noteFound
                %i.icn-close.noteFound__icon
                .noteFound__text Страница не найдена!
                %a.noteFound__link{:href => ""} Сообщить об ошибке
        //=include components/_footer.haml
    