!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
            - $active = 2  
            //=include components/_about.menu.haml
            .container
                .row
                    .col-sm-12
                        .char
                            .char__title
                                Кто создаёт художественный мир Pechorin.net?
                            .charList
                                - {"Григорий Печорин":"1","Максим Максимыч":"2","Бэла":"3","Княжна Мэри":"4"}.each do |i,j|
                                    .charList__item.charItem
                                        %a.charItem__img{:href => ""}
                                            %img{:src => "assets/pictures/char#{j}.jpg", :srcset => "assets/pictures/char#{j}.jpg 1x, assets/pictures/char#{j}@2x.jpg 2x", :alt => ""}/    
                                        .charItem__content
                                            .charItem__pos 
                                                %span Главный редактор
                                            .charItem__name #{i}

                                            %p.charItem__text
                                                Молодой богатый дворянин, офицер. Вырос в блестящем обществе Петербурга. Несмотря на богатство, красоту и ум, глубоко несчастлив. Его ничего не интересует, ему скучно жить. Печорин не верит в дружбу и брак. Печорин – смелый и решительный мужчина. При этом он – эгоистичный, циничный, жестокий и хладнокровный человек.
                                            .charItem__links
                                                %a.link.link-primary{:href => ""} Статьи
                                                %a.link.link-primary{:href => ""} Услуги
                                                %a.link.link-primary{:href => ""} Страница

                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    