!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
            - $active = 1   
            //=include components/_about.menu.haml
            .container
                .row
                    .col-sm-12
                        .aboutBlock
                            .aboutBlock__title
                                Для чего создан Литературный проект «Pechorin.net»
                            %p.aboutBlock__text
                                Наша цель - максимальная популяризация творчества писателя. Мы работаем для того, чтобы талантливый, пишущий человек мог начать жить жизнью профессионального литератора, войти в литературный процесс, найти читателей, заработать себе имя. Команда Литературного проекта «Pechorin.net» собрала самую важную и актуальную информацию для писателей, поместив её в следующие разделы!
                        .aboutBlock
                            .aboutBlock__title
                                Литературные события
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser1.jpg", :srcset => "assets/pictures/safaribrowser1.jpg 1x, assets/pictures/safaribrowser1@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                Раздел 
                                %a.link.link-primary{:href => ""} «Литературные события» 
                                предлагает пользователям удобный Литературный календарь. 
                                Мы анонсируем все значимые литературные события, выделяя самые важные даты и мероприятия года, текущего месяца, сегодняшнего дня. Мы рассказываем о самых значимых и интересных событиях в современном литературном мире.
                        
                        .aboutBlock
                            .aboutBlock__title
                                Статьи
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser2.jpg", :srcset => "assets/pictures/safaribrowser2.jpg 1x, assets/pictures/safaribrowser2@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Статьи» 
                                писатель может найти последние литературные новости, ознакомиться с блогами о литературе, прочитать интервью с самыми интересными и значимыми литературными персонами, а также изучить подготовленные нашей командой обзоры основных литературных и книжных новинок. 
                        .aboutBlock
                            .aboutBlock__title
                                Конкурсы
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser3.jpg", :srcset => "assets/pictures/safaribrowser3.jpg 1x, assets/pictures/safaribrowser3@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Конкурсы» 
                                собрана вся актуальная информация по литературным конкурсам и премиям. 
                                На некоторые конкурсы работы можно направлять прямо с нашего портала. Мы предлагаем актуальный рейтинг литературных конкурсов и премий. А устроители конкурсов имеют возможность разместить у нас 
                                всю актуальную информацию по своему конкурсу или премии.
                        
                        .aboutBlock
                            .aboutBlock__title
                                Публикации
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser4.jpg", :srcset => "assets/pictures/safaribrowser4.jpg 1x, assets/pictures/safaribrowser4@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Публикации» 
                                собрана вся актуальная информация о возможностях публикации произведений – в печатных изданиях, в Интернет-изданиях, а также о прочих издательских проектах. Указаны основные условия публикации – требования редакций к рукописям, условия размещения произведений, наличие авторского гонорара. Некоторые издания предлагают отправить вашу рукопись напрямую через наш портал. Редакторы журналов и интернет-изданий имеют возможность разместить у нас всю актуальную информацию по своему изданию или издательскому проекту.
                        .aboutBlock
                            .aboutBlock__title
                                Услуги
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser5.jpg", :srcset => "assets/pictures/safaribrowser5.jpg 1x, assets/pictures/safaribrowser5@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Услуги»
                                предлагается различные полезные услуги для писателей. Здесь представлены и авторы, и редакторы, и корректоры, и переводчики, и художники-иллюстраторы, и дизайнеры и т.д. У нас вы можете получить рецензию на ваше произведение, письменный разбор, а также провести онлайн сессию с опытным литературным критиком, 
                                посвящённую разбору вашего произведения. 
                        .aboutBlock
                            .aboutBlock__title
                                Сообщество
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser6.jpg", :srcset => "assets/pictures/safaribrowser6.jpg 1x, assets/pictures/safaribrowser6@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Сообщество» 
                                вы можете создать свою персональную страницу и общаться с коллегами по перу, вести писательский дневник, стать участником профессиональной социальной сети в Интернете. Сообщество PECHORIN.NET проводит творческие встречи, литературно-музыкальные вечера, фотосессии современных писателей.
                        .aboutBlock
                            .aboutBlock__title
                                Полезное
                            
                            %img.aboutBlock__img{:src => "assets/pictures/safaribrowser7.jpg", :srcset => "assets/pictures/safaribrowser7.jpg 1x, assets/pictures/safaribrowser7@2x.jpg 2x", :alt => ""}/
                            %p.aboutBlock__text
                                В разделе 
                                %a.link.link-primary{:href => ""} «Полезное» 
                                собраны ссылки на ресурсы для писателей: подбор синонимов, проверка орфографии, проверка текста на уникальность, онлайн библиотеки, подборки полезных книг для писателей, школы писательского мастерства и т.д.
                        .aboutBlock
                            .aboutBlock__title
                                А что в итоге?
                            %p.aboutBlock__text
                                А теперь всё зависит от вас и от вашего таланта! Мы постарались сделать всё удобно и полезно, расставить акценты, как нужно. 
                                Каждый день мы придумываем что-нибудь новое. И будем благодарны, если вы будете с нами или поможете нам!
                        .aboutControll
                            .aboutControll__item
                                %span Подписаться на новости: 
                                %form.subscribe{:action => ""}
                                    %input.subscribe__input{:type => "text", :placeholder => "Введите  e-mail"}/
                                    %buttom.btns.btns-default.subscribe__btns{:type => "submit"} 
                                        %i.icn-enter
                            .aboutControll__item
                                %span Направить предложение:
                                %a.btns.btns-block.btns-default{:href => ""} info@pechorin.net

                        
        //=include components/_footer.haml
    