!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        // - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"}
                        - $breadCrumbs = {"Публикации":'1', "Добавить издание":'0'}
                        //=include components/_bread-crumbs.haml
                .row
                    .col-md-8.col-xl-8
                        //=include components/_main-info.haml

                        .addContest
                            .addContest__title
                                Добавить издание:
                            %form#addContest{:action => ""}
                                .row
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Имя
                                            %input.field{:type => "text", :name => "firstname", :placeholder => "Имя", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %span.field-help
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Фамилия
                                            %input.field{:type => "text", :name => "lastname", :placeholder => "Фамилия", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %span.field-help
                                    .col-lg-4
                                        .field-case
                                            %label.field-name E-mail
                                            %input.field{:type => "email", :name => "email", :placeholder => "E-mail", :required => "true", "data-msg-required" => "Это поле обязательно", "data-rule-emailv" => "true",  "data-msg-emailv" => "Введите действительный адрес электронной почты.", "data-msg-email" => "Введите действительный адрес электронной почты."}/
                                            %span.field-help    
                                .field-case
                                    %label.field-name Вид издания:
                                    %label.check-case
                                        %input{:type => "radio", :name => "type", :value => "", :checked => "checked"}/
                                        %i.icn-radio.radios
                                        %span.check-name 
                                            Печатное издание
                                    %label.check-case
                                        %input{:type => "radio", :name => "type", :value => ""}/
                                        %i.icn-radio.radios
                                        %span.check-name 
                                            Интернет-издание
                                    %label.check-case
                                        %input{:type => "radio", :name => "type", :value => ""}/
                                        %i.icn-radio.radios
                                        %span.check-name 
                                            Иной проект
                                    %span.field-help

                                .field-case
                                    %label.field-name Платность публикации:
                                    %label.check-case
                                        %input{:type => "radio", :name => "paid", :value => "", :checked => "checked"}/
                                        %i.icn-radio.radios
                                        %span.check-name 
                                            Платная
                                    %label.check-case
                                        %input{:type => "radio", :name => "paid", :value => ""}/
                                        %i.icn-radio.radios
                                        %span.check-name 
                                            Бесплатная
                                    %label.check-case
                                        %input{:type => "radio", :name => "paid", :value => ""}/
                                        %i.icn-radio.radios
                                        %span.check-name 
                                            Выплачивается гонорар
                                    %span.field-help

                                
                                .field-case
                                    %label.field-name Основная информация об издании:
                                    %textarea.field{:name => "msg", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}
                                    %span.field-help
                                    %p.field-info
                                        * год основания, регулярность выхода, объём, тираж, укажите, публикуете ли вы прозу, поэзию, переводы, публицистику и т.п., какие предъявляются требования к произведениям, объём, формат, тематика, есть ли возрастные ограничения для публикации, укажите дополнительную информацию, которая может быть интересна авторам, например, кто из известных авторов публиковался или публикуется в журнале, выдвигает ли издание своих авторов на премии, переводятся ли произведения авторов на иностранный язык, выплачивает ли издание гонорары за публикацию и т.п.
                                .field-case
                                    %label.field-name Контакты:
                                    %input.field{:type => "text", :name => "contact", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                    %span.field-help
                                .field-case
                                    %label.field-name Сайт издания:
                                    %input.field{:type => "text", :name => "url", :placeholder => "", "data-rule-url" => "true", "data-msg-url" => "Введите действительную ссылку"}/
                                    %span.field-help
                                .row
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Введите символы с картинки
                                            %input.field{:type => "text", :name => "cptcha", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %span.field-help
                                    .col-lg-4
                                        %img.img-block{:src => "assets/pictures/captcha.jpg", :srcset => "assets/pictures/captcha.jpg 1x, assets/pictures/captcha@2x.jpg 2x", :alt => ""}/
                                        %br/
                                %input.btns.btns-primary{:type => "submit", :value => "Отправить информацию"}/
                            %p.addContest__text
                                Отправляя форму, вы соглашаетесь с нашими 
                                %a{:href => ""} правилами
                                и 
                                %br/ 
                                даёте свое 
                                %a{:href => ""} солгасие на обработку персональных данных, 
                                %br/
                                согласно политике конфиденциальности.


                            
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 2
                        - $vk = true
                        - $fb = true
                        //=include components/_sidebar.haml
                
        //=include components/_footer.haml
    