!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        // - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"}
                        - $breadCrumbs = {"Конкурсы":'1', "Добавить конкурс":'0'}
                        //=include components/_bread-crumbs.haml
                .row
                    .col-md-8.col-xl-8
                        //=include components/_main-info.haml

                        .addContest
                            .addContest__title
                                Добавить конкурс:
                            %form#addContest{:action => ""}
                                .row
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Имя
                                            %input.field{:type => "text", :name => "firstname", :placeholder => "Имя", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %span.field-help
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Фамилия
                                            %input.field{:type => "text", :name => "lastname", :placeholder => "Фамилия", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %span.field-help
                                    .col-lg-4
                                        .field-case
                                            %label.field-name E-mail
                                            %input.field{:type => "email", :name => "email", :placeholder => "E-mail", :required => "true", "data-msg-required" => "Это поле обязательно", "data-rule-emailv" => "true",  "data-msg-emailv" => "Введите действительный адрес электронной почты.", "data-msg-email" => "Введите действительный адрес электронной почты."}/
                                            %span.field-help    
                                .field-case
                                    %label.field-name Название конкурсного мероприятия:
                                    %input.field{:type => "text", :name => "title", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                    %span.field-help  
                                    %p.field-info
                                        * Конкурс, грантовая программа, фестиваль, премия
                                .row
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Срок приёма работ:
                                            %input.field.field-with-icon-right.deadLine{:readonly => "", :type => "text", :name => "deadline", :value => "", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %i.field-icon.right.icn-calendar
                                            %span.field-help
                                %p.field-info
                                    * До какого числа не поздно принять участие? Выберите конкретную дату
                                .field-case
                                    %label.field-name Основная информация о конкурсе:
                                    %textarea.field{:name => "msg", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}
                                    %span.field-help
                                    %p.field-info
                                        * Укажите основные сведения о вашем конкурсном мероприятии, включая информацию об организаторах, об основных требованиях к участникам, о номинациях, темах, этапах конкурса и др.
                                .field-case
                                    %label.field-name Контакты:
                                    %input.field{:type => "text", :name => "contact", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                    %span.field-help
                                .field-case
                                    %label.field-name Сайт конкурса:
                                    %input.field{:type => "text", :name => "url", :placeholder => "", "data-rule-url" => "true", "data-msg-url" => "Введите действительную ссылку"}/
                                    %span.field-help
                                .row
                                    .col-lg-4
                                        .field-case
                                            %label.field-name Введите символы с картинки
                                            %input.field{:type => "text", :name => "cptcha", :placeholder => "", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                            %span.field-help
                                    .col-lg-4
                                        %img.img-block{:src => "assets/pictures/captcha.jpg", :srcset => "assets/pictures/captcha.jpg 1x, assets/pictures/captcha@2x.jpg 2x", :alt => ""}/
                                        %br/
                                %input.btns.btns-primary{:type => "submit", :value => "Отправить информацию"}/
                            %p.addContest__text
                                Отправляя форму, вы соглашаетесь с нашими 
                                %a{:href => ""} правилами
                                и 
                                %br/ 
                                даёте свое 
                                %a{:href => ""} солгасие на обработку персональных данных, 
                                %br/
                                согласно политике конфиденциальности.


                            
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $vk = true
                        - $fb = true
                        //=include components/_sidebar.haml
                
        //=include components/_footer.haml
    