!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        // - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"}
                        
                        - $breadCrumbs = {"Конкурсы":'1', "Литературный конкурс":'0'}
                        //=include components/_bread-crumbs.haml
                .row
                    .col-md-8.col-xl-8
                        .contestView
                            .contestView__title
                                Литературный конкурс для авторов и переводчиков «Радуга»

                            .contestView__control
                                %span.contestView__date
                                    Опубликовано:
                                    01.01.2019
                                .counters.contestView__counters
                                    %a.counter.counter-red{:href => ""}
                                        %i.icn-eye
                                        120
                                    %a.counter.counter-red{:href => ""}
                                        %i.icn-heart
                                        50
                                    %a.counter.counter-red{:href => ""}
                                        %i.icn-comments
                                        55
                                %a.contestView__bookmark{:href => ""}
                                    %i.icn-bookmark
                                .share
                                    %i.icn-share.share__btn.js-toggle
                                    .socIcons.socIcons-vertical.share__icons
                                        %a.socIcon.socIcon-primary.socIcon-sm{:href => ""}
                                            %i.icn-facebook-cir
                                        %a.socIcon.socIcon-primary.socIcon-sm{:href => ""}
                                            %i.icn-vk-cir
                                        %a.socIcon.socIcon-primary.socIcon-sm{:href => ""}
                                            %i.icn-instagram-cir
                                        %a.socIcon.socIcon-primary.socIcon-sm{:href => ""}
                                            %i.icn-twitter-cir
                                        %a.socIcon.socIcon-primary.socIcon-sm{:href => ""}
                                            %i.icn-linkedin-cir
                            %img.img-block.contestView__img{:src => "assets/pictures/contest.jpg", :srcset => "assets/pictures/contest.jpg 1x, assets/pictures/contest@2x.jpg 2x", :alt => ""}/

                            .contestView__content
                                %h5 
                                    Положение о Десятой ежегодной Российско-итальянской литературной премии 
                                    для молод ых авторов и переводчиков «Радуга»
                                %p
                                    %strong Премия «Радуга» открывает 10-й сезон. 
                                    %br/
                                    Премия «Радуга» создана для поощрения творчества молодых итальянских и российских писателей и
                                    переводчиков. Сегодня как никогда остро ощущается потребность в писателях, работающих в емком и гибком жанре рассказа. Организаторы премии
                                    уделяют особое внимание авторам, прокладывающим дорогу в будущее, тем, чьи произведения проникнуты стремлением к свободе.
                                    В этом году конкурс проводится в десятый раз, представленные работы оценивает жюри, в которое входят видныедеятели литературы. 

                                %p
                                    %strong Задача
                                    %br/
                                    премии – помочь самым достойным молодым литераторам найти путь в мир большой литературы в Италии и в России. Премия предусматривает
                                    денежную награду, произведения финалистов публикуются в престижном двуязычном альманахе.

                                %p
                                    %strong Учредители премии – 
                                    Ассоциация «Познаём Евразию» и Литературный институт имени А. М. Горького при участии Фонда «Русский мир». Премия
                                    проводится под патронатом Федерального агентства по печати и массовым коммуникациям (Роспечать) и при поддержке Банка Интеза.

                                

                                
                                %strong Условия участия:
                                %ol
                                    %li
                                        Премия присуждается в двух номинациях: «Молодой писатель» и «Молодой переводчик».
                                    %li
                                        В номинации «Молодой писатель» на конкурс принимаются рассказы молодых российских авторов (в возрасте от 18 до 35 лет включительно (на день подачи конкурсной работы), граждане РФ, зарегистрированные в России).
                                        К участию в конкурсе допускаются произведения, не публиковавшиеся
                                        ранее (в том числе в Интернете) и не представлявшиеся на другие конкурсы. Каждый участник направляет одно произведение, написанное на русском
                                        языке. Объем произведения – не более 10 000 знаков с пробелами. 
                                        По итогам конкурса определяется пятерка финалистов, а также победитель.
                                    %li
                                        В номинации «Молодой переводчик» конкурс проводится в два этапа. На первом этапе принимаются работы молодых переводчиков (в возрасте
                                        от 18 до 35 лет включительно (на день подачи конкурсной работы), граждане РФ, зарегистрированные в России) – переводы на русский язык
                                        художественных произведений итальянских прозаиков (рассказ или отрывок из романа, опубликованные после 1950 года). К участию в конкурсе
                                        допускаются переводы, не публиковавшиеся ранее (в том числе в Интернете) и не представлявшиеся на другие конкурсы. Каждый участник направляет
                                        один перевод. Объем произведения – не более 10 000 знаков с пробелами. По итогам первого этапа конкурса переводчиков определяется пятерка
                                        финалистов. На втором этапе конкурса участники выполняют перевод одного из рассказов итальянских финалистов, отобранных для публикации в
                                        Литературном альманахе. Рассказы распределяются путем жеребьевки. Принимая участие в конкурсе, переводчики тем самым берут на себя
                                        обязательство бесплатно перевести для публикации в Литературном альманахе один из пяти итальянских рассказов, а также прилагаемые к нему
                                        материалы (сведения об авторе и рецензию на рассказ). По итогам второго этапа определяется победитель.
                                    %li 
                                        Периодичность присуждения премии – один раз в год. Участие в конкурсе на присуждение премии является бесплатным.
                                    %li 
                                        Жюри конкурса – видные деятели российской и итальянской литературы. В состав национального российского жюри входят Б. Н. Тарасов
                                        (председатель), А. Н. Варламов, Н. С. Литвинец, Е. Л. Пастернак, Е. М. Солонович, А. В. Ямпольская.
                                    %li 
                                        Рассказы пяти финалистов конкурса с итальянской и русской стороны будут напечатаны в 10-м выпуске двуязычного Литературного альманаха.
                                        Помимо рассказов молодых итальянских и русских писателей в Альманахе публикуются сведения о финалистах, их фотографии, а также краткие
                                        рецензии на рассказы. Литературный альманах распространяется в России и Италии с целью представить молодых авторов и переводчиков
                                        издательствам и широкому кругу читателей.
                                    %li 
                                        Размер премии в номинации 
                                        %a.link.link-primary{:href => ""} «Молодой писатель» 
                                        – 5000,00 евро, в номинации «Молодой переводчик» – 2500,00 евро. Имена победителей
                                        объявляют во время торжественной церемонии награждения лауреатов Премии «Радуга», которая проходит попеременно в России и в Италии.
                                    %li 
                                        Порядок представления работ для участия в конкурсе в номинации «Молодой писатель»: работы направляются до 15 ноября 2018 года
                                        включительно по электронной почте. К письму необходимо приложить в виде отдельных файлов 
                                        %br/
                                        1) заявку на участие (без заявки работы не
                                        принимаются, наличие заявки означает согласие с условиями конкурса), 
                                        %br/
                                        2) краткую автобиографию и список публикаций, 
                                        %br/
                                        3) конкурсную работу
                                        (собственный рассказ или перевод). В заявке указываются фамилия, имя и отчество автора произведения, дата рождения, адрес местожительства,
                                        телефон и адрес электронной почты. Образец заявки представлен на сайте Литературного института. После отправки материалов необходимо получить
                                        ответное сообщение с подтверждением получения. Работы оформляются в редакторе Microsoft Office Word, формат doc/docx, гарнитура Times New
                                        Roman, размер шрифта 14, кавычки «ёлочкой». При объеме работы свыше двух страниц листы следует пронумеровать. На первом листе необходимо
                                        указать: фамилию, имя, отчество конкурсанта, псевдоним (если есть), название произведения. Представленные на конкурс произведения оплате,
                                        возврату и рецензированию не подлежат.
                                    %li
                                        Порядок представления работ для участия в конкурсе в номинации «Молодой переводчик»: переводы направляются в срок до 15 ноября 2018
                                        года включительно по электронной почте. К письму необходимо приложить в виде отдельных файлов: 1) заявку на участие (без приложенной заявки
                                        работы не принимаются, наличие заявки означает согласие с условиями конкурса) 2) оригинал текста, 3) перевод текста, 4) краткую автобиографию и
                                        список публикаций. В заявке указывается фамилия, имя и отчество переводчика, дата рождения, адрес местожительства, номер телефона и адрес
                                        электронной почвы. Образец заявки представлен на сайте Литературного института. После отправки материалов необходимо получить ответное
                                        сообщение с подтверждением получения. Работы оформляются в редакторе Microsoft Office Word, формат doc/docx, гарнитура Times New Roman, размер
                                        шрифта 14, кавычки «елочкой». При объеме работы свыше двух страниц листы следует пронумеровать. На первом листе перевода необходимо указать:
                                        фамилию, имя, отчество конкурсанта, псевдоним (если есть), название текста. 
                                        Представленные на конкурс работы оплате, возврату и рецензированию не
                                        подлежат.

                                    %p
                                        Работы на русском языке направляются в Литературный институт имени А. М. Горького по электронной почте на адрес: 
                                        %a.link.link-primary{:href => ""} raduga@litinstitut.ru.
                                        Имена финалистов и победителей будут объявлены на сайте Литературного института по завершении соответствующих этапов конкурса. Церемония
                                        награждения победителей состоится в мае 2019 года в Турине в рамках Туринского книжного салона.






                                %h5
                                    Страницы конкурса: 
                                %p
                                    %a.link.link-primary{:href => ""} http://litinstitut.ru/content/desyataya-rossiysko-italyanskaya-literaturnaya-premiya-raduga, https://vk.com/raduga_lit.

                                %p
                                    %strong Почта для направления работ на конкурс: 
                                    %br/
                                    %a.link.link-primary{:href => ""} raduga@litinstitut.ru.

                                %p
                                    %strong Заявка на участие в конкурсе: ПРОЗА: 
                                    %br/
                                    %a.link.link-primary{:href => ""} http://litinstitut.ru/sites/default/files/konkurs/Raduga_X_zayavka_proza.doc.
                                %p
                                    %strong Заявка на участие в конкурсе: ПЕРЕВОД: 
                                    %br/
                                    %a.link.link-primary{:href => ""} http://litinstitut.ru/sites/default/files/konkurs/Raduga_X_zayavka_perevod.doc.
                                %p
                                    %strong Образец оформления работы: ПРОЗА: 
                                    %br/
                                    %a.link.link-primary{:href => ""} http://litinstitut.ru/sites/default/files/konkurs/Raduga_X_obrazec_proza.docx.
                                %p
                                    %strong Образец оформления работы: ПЕРЕВОД: 
                                    %br/
                                    %a.link.link-primary{:href => ""} http://litinstitut.ru/sites/default/files/konkurs/Raduga_X_obrazec_perevod.docx.
                                
                           

                            

                        //=include components/_comments.haml
                        
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $topNews = true
                        - $topContests = true
                        - $vk = true
                        - $fb = true
                        //=include components/_sidebar.haml
                .row
                    .col-sm-12
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    