!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        // - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"}
                        - $breadCrumbs = {"Все литературные премии и конкурсы":'1'}
                        //=include components/_bread-crumbs.haml
                .row
                    .col-md-8.col-xl-8
                        //=include components/_main-info.haml
                        .row
                            .col-lg-4
                                .field-case
                                    %label.field-name Произведения:
                                    %select.field.js-select{:name => ""}
                                        %option{:value => "1"} Все конкурсы
                                        %option{:value => "2"} Проза
                                        %option{:value => "3"} Поэзия
                                        %option{:value => "4"} Публицистика
                                    %span.field-help
                            .col-lg-4
                                .field-case
                                    %label.field-name Произведения:
                                    %select.field.js-select{:name => ""}
                                        %option{:value => "1"} Все конкурсы
                                        %option{:value => "2"} Проза
                                        %option{:value => "3"} Поэзия
                                        %option{:value => "4"} Публицистика
                                    %span.field-help
                            .col-lg-4
                                .field-case
                                    %label.field-name Произведения:
                                    %select.field.js-select{:name => ""}
                                        %option{:value => "1"} Все категории
                                        %option{:value => "2"} Проза
                                        %option{:value => "3"} Поэзия
                                        %option{:value => "4"} Публицистика
                                    %span.field-help

                        .sorter.js-sorter
                            .sorter__label Сортировать по:
                            %a.sorter__btns{:tabindex => ""}
                                сроку приема работ
                                %i.icn-sort
                            %a.sorter__btns{:tabindex => ""}
                                дате публикации
                                %i.icn-sort
                            %a.sorter__btns{:tabindex => ""}
                                рейтингу
                                %i.icn-sort


                        .contestsList
                            - (1..11).each do |i|
                                .toggleItem.contestsItem
                                    .toggleItem__head
                                        .counters.counters-vertikal.contestsItem__conters
                                            %a.counter.counter-red.counter-ver{:href => ""}
                                                %i.icn-bookmark
                                            %a.counter.counter-red.counter-ver{:href => ""}
                                                %i.icn-heart
                                                1120
                                            %a.counter.counter-red.counter-ver{:href => ""}
                                                %i.icn-comments
                                                125
                                        .contestsItem__imgBox
                                            %a.contestsItem__img{:href => ""}
                                                %img{:src => "assets/pictures/contests.jpg", :srcset => "assets/pictures/contests.jpg 1x, assets/pictures/contests@2x.jpg 2x", :alt => ""}/
                                            .stars
                                                .star.active
                                                    %i.icn-star
                                                .star.active
                                                    %i.icn-star
                                                .star.active
                                                    %i.icn-star
                                                .star
                                                    %i.icn-star
                                                .star
                                                    %i.icn-star
                                        
                                        .contestsItem__descrip
                                            .contestsItem__title
                                                %a{:href => ""}
                                                    Литературный конкурс для авторов и переводчиков «Радуга»
                                            %p.contestsItem__text
                                                %strong Приём работ: 
                                                До 15 ноября 2018 года.
                                                %br/
                                                %strong Основные требования: 
                                                Возраст участников 18-35 лет
                                                %br/
                                                включительно, граждане РФ. Проза на русском языке или
                                                перевод на русский язык художественных произведений
                                                итальянских прозаиков.
                                            
                                        
                                        
                                    .toggleItem__content
                                        %p.contestsItem__text
                                            %strong Требования к произведениям: 
                                            Проза на русском языке или перевод на русский язык художественных
                                            произведений итальянских прозаиков (рассказ или отрывок из романа, опубликованные после 1950 года),
                                            объём работы не более 10 000 знаков с пробелами, произведение не должно нигде быть ранее
                                            опубликовано (в том числе в сети Интернет), а также не должно ранее участвовать в конкурсах.

                                        %p.contestsItem__text
                                            %strong Итоги: 
                                            Имена финалистов и победителей будут объявлены на сайте Литературного института. Церемония
                                            награждения победителей состоится в мае 2019 года в Турине в рамках Туринского книжного салона.
                                            Рассказы пяти финалистов конкурса с итальянской и русской стороны будут напечатаны в 10-м выпуске
                                            двуязычного Литературного альманаха. Помимо рассказов молодых итальянских и русских писателей в
                                            Альманахе публикуются сведения о финалистах, их фотографии, а также краткие рецензии на рассказы.
                                            Литературный альманах распространяется в России и Италии с целью представить молодых авторов и
                                            переводчиков издательствам и широкому кругу читателей. 

                                        %p.contestsItem__text
                                            %strong Размер премии
                                            в номинации «Молодой
                                            писатель» – 5000евро, в номинации «Молодой переводчик» – 2500 евро.

                                        %p.contestsItem__text
                                            %strong Платность участия: 
                                            Участие бесплатное.

                                        %p.contestsItem__text
                                            %strong Сайт конкурса:
                                            %br/
                                            %a.link.link-primary{:href => "http://litinstitut.ru/content/desyataya-rossiysko-italyanskaya-literaturnaya-premiya-raduga"}  http://litinstitut.ru/content/desyataya-rossiysko-italyanskaya-literaturnaya-premiya-raduga

                                    .toggleItem__btns
                                        %a.js-toggleBlock{:tabindex => "", "data-open" => "Свернуть", "data-close" => "Подробнее"}
                                            Подробнее
                                            %i.icn-angle-down


                            .newsList__pager    
                                //=include components/_site-pager.haml
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $topNews = true
                        - $topContests = true
                        //=include components/_sidebar.haml
                .row
                    .col-sm-12
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    