!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        - $breadCrumbs = {"Все литературные премии и конкурсы":'1'}
                        //=include components/_bread-crumbs.haml
                .row
                    .col-md-8.col-xl-8
                        //=include components/_main-info.haml 
                        - $month = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]
                        .month
                            .month__title Март
                            .dayEvn
                                - (1..15).each do |k|
                                    .dayEvnItem.dayEvn__item.extend
                                        %a.dayEvnItem__img{:href => ""}
                                            %img{:src => "assets/pictures/calndaer-item.jpg", :srcset => "assets/pictures/calndaer-item.jpg 1x, assets/pictures/calndaer-item@2x.jpg 2x", :alt => ""}/
                                        %span.dayEvnItem__time 
                                            07 марта
                                            %br/
                                            15:00
                                        .dayEvnItem__content
                                            %a.dayEvnItem__title{:href => ""}
                                                Встреча литературного объединения «Колумб»
                                            %p.dayEvnItem__text  
                                                Литературное объединение «Колумб» продолжает творческие встречи в новом 2019 году в ОКЦ.
                                            .dayEvnItem__address
                                                %i.icn-pin
                                                Общественно-культурный центр г. Москва
                            .month__pager    
                                //=include components/_site-pager.haml
                                
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $mostPopular = true
                        - $singleBox = true
                        //=include components/_sidebar.haml
                .row
                    .col-sm-12
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    