!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        // - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"}
                        - $breadCrumbs = {"Все литературные премии и конкурсы":'1'}
                        //=include components/_bread-crumbs.haml
                .row
                    .col-md-8.col-xl-8
                        //=include components/_main-info.haml 
                        - $month = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]
                        .monthList
                            - $month.each do |i|
                                .monthListItem.monthList__item
                                    .monthListItem__title #{i}
                                    .monthListItem__img
                                        %a{:href => ""}
                                            - if i == "Апрель" || i == "Июль"   
                                                %img{:src => "assets/pictures/year1.jpg", :srcset => "assets/pictures/year1.jpg 1x, assets/pictures/year1@2x.jpg 2x", :alt => ""}/
                                            - elsif i == "Март" || i == "Июнь" || i ==  "Сентябрь" || i ==  "Январь"
                                                %img{:src => "assets/pictures/year2.jpg", :srcset => "assets/pictures/year2.jpg 1x, assets/pictures/year2@2x.jpg 2x", :alt => ""}/
                                            - elsif i == "Май" || i == "Август" || i == "Ноябрь" 
                                                %img{:src => "assets/pictures/year3.png", :srcset => "assets/pictures/year3.png 1x, assets/pictures/year3@2x.png 2x", :alt => ""}/
                                            - elsif i == "Февраль" || i == "Октябрь"
                                                %img{:src => "assets/pictures/year4.jpg", :srcset => "assets/pictures/year4.jpg 1x, assets/pictures/year4@2x.jpg 2x", :alt => ""}/
                                            - else 
                                                %img{:src => "assets/pictures/year5.jpg", :srcset => "assets/pictures/year5.jpg 1x, assets/pictures/year5@2x.jpg 2x", :alt => ""}/
                                        .monthListItem__time 07.03
                                    - (1..3).each do |i|
                                        .monthListItem__item
                                            - if i != 1 
                                                %span 07.03

                                            - if i != 2
                                                %a{:href => ""} Литературный концерт по рассказам М. Зощенко
                                            - else
                                                %a{:href => ""} Музыкальная литературная встреча в субботний вечер пред проводами широкой Масленицы
                                    %a.link.link-default{:href => ""} Все события месяца

                                
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $mostPopular = true
                        - $box = 2
                        - $vk = true
                        - $fb = true
                        //=include components/_sidebar.haml
                .row
                    .col-sm-12
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    