!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        .sliderLarge.owl-carousel
                            - (1..6).each do |i|
                                .sliderLarge__item{:style => "background-image: url('assets/pictures/slide.jpg')"}
                                    %p.sliderLarge__text
                                        ТЕКСТ / БАННЕР/ О ПОРТАЛЕ
                                        %br/
                                        Повседневная практика показывает, что рамки и место
                                        %br/ 
                                        обучения кадров обеспечивает широкому кругу 
                                        %br/
                                        (специалистов) участие в формировании 
                                        %br/
                                        соответствующий условий активизации
                        .row
                            .col-lg-8
                                //=include components/_news-images.haml
                            .col-lg-4
                                .tabBlock
                                    %ul.nav.tabBlock__nav{:role => "tablist"}
                                        %li.nav-item
                                            %a.nav-link.active{"aria-controls" => "tab1", "aria-selected" => "true", "data-toggle" => "tab", :href => "#tab1", :role => "tab"} НОВОСТИ
                                        %li.nav-item
                                            %a.nav-link{"aria-controls" => "tab2", "aria-selected" => "false", "data-toggle" => "tab", :href => "#tab2", :role => "tab"} БЛОГИ
                                        %li.nav-item
                                            %a.nav-link{"aria-controls" => "tab3", "aria-selected" => "false", "data-toggle" => "tab", :href => "#tab3", :role => "tab"} ИНТЕРВЬЮ
                                    .tab-content
                                        #tab1.tab-pane.fade.show.active{:role => "tabpanel"} 
                                            .tabBlock__scroll.js-scroll
                                                - (1..8).each do |i|
                                                    %a.itemTab{:href => ""}
                                                        %span.itemTab__date 01.01.2019г.
                                                        %span.itemTab__title Стартовал новый сезон литературной премии «Национальный бестселлер»
                                                        %p.itemTab__text
                                                            Номинаторами премии "Национальный бестселлер" в этом году стали известные представители культуры и искусства...
                                            %a.link.link-primary.tabBlock__link{:href => ""} Все новости
                                        #tab2.tab-pane.fade{:role => "tabpanel"} 
                                            .tabBlock__scroll.js-scroll
                                                - (1..8).each do |i|
                                                    %a.itemTab{:href => ""}
                                                        %span.itemTab__date 01.01.2019г.
                                                        %span.itemTab__title Стартовал новый сезон литературной премии «Национальный бестселлер»
                                                        %p.itemTab__text
                                                            Номинаторами премии "Национальный бестселлер" в этом году стали известные представители культуры и искусства...
                                            %a.link.link-primary.tabBlock__link{:href => ""} Все блиги
                                        #tab3.tab-pane.fade{:role => "tabpanel"} 
                                            .tabBlock__scroll.js-scroll
                                                - (1..8).each do |i|
                                                    %a.itemTab{:href => ""}
                                                        %span.itemTab__date 01.01.2019г.
                                                        %span.itemTab__title Стартовал новый сезон литературной премии «Национальный бестселлер»
                                                        %p.itemTab__text
                                                            Номинаторами премии "Национальный бестселлер" в этом году стали известные представители культуры и искусства...
                                            %a.link.link-primary.tabBlock__link{:href => ""} Все интервю
                        .calEve
                            .h4.calEve__title Календарь событий
                            .calDays.owl-carousel
                                - (1..2).each do |k|
                                    - {"14":"чт", "15":"пт", "16":"сб", "17":"вс", "18":"пн", "19":"вт", "20":"ср", "21":"чт", "22":"пт", "23":"сб", "24":"вс", "25":"пн", "26":"вт", "27":"ср"}.each do |i,j|
                                        .calDays__item.js-changeEvn
                                            %strong #{i}
                                            %span #{j}
                            .dayEvn
                                - (1..4).each do |k|
                                    .dayEvnItem.dayEvn__item
                                        %a.dayEvnItem__img{:href => ""}
                                            %img{:src => "assets/pictures/calndaer-item.jpg", :srcset => "assets/pictures/calndaer-item.jpg 1x, assets/pictures/calndaer-item@2x.jpg 2x", :alt => ""}/
                                        %span.dayEvnItem__time 15:00
                                        .dayEvnItem__content
                                            %a.dayEvnItem__title{:href => ""}
                                                Встреча литературного объединения «Колумб»
                                            %p.dayEvnItem__text  
                                                Литературное объединение «Колумб» продолжает творческие встречи в новом 2019 году в ОКЦ.
                                            .dayEvnItem__address
                                                %i.icn-pin
                                                Общественно-культурный центр г. Москва
                            .text-center
                                %a.link.link-primary{:href => ""} Все события месяца

                        .row
                            .col-lg-8
                                //=include components/_news-images.haml
                            .col-lg-4
                                .tabBlock
                                    %ul.nav.tabBlock__nav{:role => "tablist"}
                                        %li.nav-item
                                            %a.nav-link.active{"aria-controls" => "tab6", "aria-selected" => "true", "data-toggle" => "tab", :href => "#tab6", :role => "tab"} КОНКУРСЫ
                                        %li.nav-item
                                            %a.nav-link{"aria-controls" => "tab4", "aria-selected" => "false", "data-toggle" => "tab", :href => "#tab4", :role => "tab"} ЖУРНАЛЫ
                                        %li.nav-item
                                            %a.nav-link{"aria-controls" => "tab5", "aria-selected" => "false", "data-toggle" => "tab", :href => "#tab5", :role => "tab"} ОБЗОРЫ
                                    .tab-content
                                        #tab6.tab-pane.fade.show.active{:role => "tabpanel"} 
                                            .tabBlock__scroll.js-scroll
                                                - (1..8).each do |i|
                                                    %a.itemTab{:href => ""}
                                                        %span.itemTab__date 01.01.2019г.
                                                        %span.itemTab__title Стартовал новый сезон литературной премии «Национальный бестселлер»
                                                        %p.itemTab__text
                                                            Номинаторами премии "Национальный бестселлер" в этом году стали известные представители культуры и искусства...
                                            %a.link.link-primary.tabBlock__link{:href => ""} Все конкурсы
                                        #tab4.tab-pane.fade{:role => "tabpanel"} 
                                            .tabBlock__scroll.js-scroll
                                                - (1..8).each do |i|
                                                    %a.itemTab{:href => ""}
                                                        %span.itemTab__date 01.01.2019г.
                                                        %span.itemTab__title Стартовал новый сезон литературной премии «Национальный бестселлер»
                                                        %p.itemTab__text
                                                            Номинаторами премии "Национальный бестселлер" в этом году стали известные представители культуры и искусства...
                                            %a.link.link-primary.tabBlock__link{:href => ""} Все журналы
                                        #tab5.tab-pane.fade{:role => "tabpanel"} 
                                            .tabBlock__scroll.js-scroll
                                                - (1..8).each do |i|
                                                    %a.itemTab{:href => ""}
                                                        %span.itemTab__date 01.01.2019г.
                                                        %span.itemTab__title Стартовал новый сезон литературной премии «Национальный бестселлер»
                                                        %p.itemTab__text
                                                            Номинаторами премии "Национальный бестселлер" в этом году стали известные представители культуры и искусства...
                                            %a.link.link-primary.tabBlock__link{:href => ""} Все обзоры
                        .projectServ
                            .projectServ__leftBar
                                .projectServ__title
                                    УСЛУГИ ПРОЕКТА
                                %ul.nav.projectServ__nav{:role => "tablist"}
                                    %li.nav-item
                                        %a.nav-link.active{"aria-controls" => "serve1", "aria-selected" => "true", "data-toggle" => "tab", :href => "#serve1", :role => "tab"} УСЛУГИ ПРОЕКТА
                                    %li.nav-item
                                        %a.nav-link{"aria-controls" => "serve2", "aria-selected" => "false", "data-toggle" => "tab", :href => "#serve2", :role => "tab"} КРИТИКА
                                    %li.nav-item
                                        %a.nav-link{"aria-controls" => "serve3", "aria-selected" => "false", "data-toggle" => "tab", :href => "#serve3", :role => "tab"} РЕДАКТУРА
                                    %li.nav-item
                                        %a.nav-link{"aria-controls" => "serve4", "aria-selected" => "false", "data-toggle" => "tab", :href => "#serve4", :role => "tab"} ИЛЛЮСТРАЦИИ
                                    %li.nav-item
                                        %a.nav-link{"aria-controls" => "serve5", "aria-selected" => "false", "data-toggle" => "tab", :href => "#serve5", :role => "tab"} КРИТИКА
                                    %li.nav-item
                                        %a.nav-link{"aria-controls" => "serve6", "aria-selected" => "false", "data-toggle" => "tab", :href => "#serve6", :role => "tab"} РЕДАКТУРА
                                    %li.nav-item
                                        %a.nav-link{"aria-controls" => "serve7", "aria-selected" => "false", "data-toggle" => "tab", :href => "#serve7", :role => "tab"} ИЛЛЮСТРАЦИИ
                                    %li.nav-item
                                        %a.nav-link{"aria-controls" => "serve8", "aria-selected" => "false", "data-toggle" => "tab", :href => "#serve8", :role => "tab"} КРИТИКА
                            .projectServ__content        
                                .tab-content
                                    #serve1.tab-pane.fade.show.active{:role => "tabpanel"} 
                                        .projectServ__preview{:style => "background-image: url('assets/pictures/coffee.jpg')"}
                                            .inner
                                                %a.inner__title{:href => ""} БАННЕР / УСЛУГИ ПРОЕКТА
                                                %p
                                                    Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Задача организации, в особенности же начало повседневной
                                    - (2..8).each do |i|
                                        .tab-pane.fade{:role => "tabpanel", :id => "serve#{i}"} 
                                            .projectServ__preview{:style => "background-image: url('assets/pictures/coffee.jpg')"}
                                                .inner
                                                    %a.inner__title{:href => ""} БАННЕР / УСЛУГИ ПРОЕКТА
                                                    %p
                                                        Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Задача организации, в особенности же начало повседневной

                            
                        
                        .row
                            .col-lg-9
                                .manBoxes
                                    - (1..6).each do |i|
                                        %a.manBox{:href => ""}
                                            %span.manBox__name Станислав Круглов
                                            %span.manBox__txt Литературный работник, писатель, критик
                                            %img.manBox__img{:src => "assets/pictures/man.jpg", :srcset => "assets/pictures/man.jpg 1x, assets/pictures/man@2x.jpg 2x", :alt => ""}/
                            .col-lg-3
                                .textSlider.owl-carousel
                                    - (1..3).each do |k|
                                        .textSlider__item
                                            .textSlider__title ЛИТЕРАТУРНОЕ ТВОРЧЕСТВО
                                            %p.textSlider__text
                                                Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка. 

                        .aboutBlogs
                            .aboutBlogs__title
                                %span 
                                    ИНТЕРЕСНОЕ  В  
                                    %strong БЛОГАХ
                            .aboutBlogs__left
                                .blogsLg
                                    %a.blogsLg__img{:href => ""}
                                        %img{:src => "assets/pictures/book.jpg", :srcset => "assets/pictures/book.jpg 1x, assets/pictures/book@2x.jpg 2x", :alt => ""}/
                                    .blogsLg__content
                                        .blogsLg__tags
                                            %a.tag{:href => ""} #анализ 
                                            %a.tag{:href => ""} #публикации
                                            %a.tag{:href => ""} #конкурсы
                                        .blogsLg__text
                                            %p
                                                Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в 
                                        .counters
                                            %a.counter.counter-red{:href => ""}
                                                %i.icn-eye
                                                120
                                            %a.counter.counter-red{:href => ""}
                                                %i.icn-heart
                                                50
                                            %a.counter.counter-red{:href => ""}
                                                %i.icn-share
                                                55
                            .aboutBlogs__right
                                - (1..2).each do |k|
                                    .blogsSm
                                        %a.blogsSm__img{:href => ""}
                                            %img{:src => "assets/pictures/girl.jpg", :srcset => "assets/pictures/girl.jpg 1x, assets/pictures/girl@2x.jpg 2x", :alt => ""}/
                                        .blogsSm__tags
                                            %a.tag{:href => ""} #анализ 
                                            %a.tag{:href => ""} #публикации
                                            %a.tag{:href => ""} #конкурсы
                                        
                                        .blogsSm__content
                                            %p.blogsLg__text
                                                Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в 
                                            .counters
                                                %a.counter.counter-red{:href => ""}
                                                    %i.icn-eye
                                                    120
                                                %a.counter.counter-red{:href => ""}
                                                    %i.icn-heart
                                                    50
                                                %a.counter.counter-red{:href => ""}
                                                    %i.icn-share
                                                    55
                        .popularTwits
                            .popularTwits__title
                                %span
                                    ПОПУЛЯРНЫЕ  
                                    %strong ТВИТЫ
                            .popularTwits__list
                                .twitsList
                                    - (1..4).each do |k|
                                        .twitItem.twitsList__item
                                            %a.twitItem__img{:href => ""}
                                                %img{:src => "assets/pictures/girl2.jpg", :srcset => "assets/pictures/girl2.jpg 1x, assets/pictures/girl2@2x.jpg 2x", :alt => ""}/
                                            .counters
                                                %a.counter.counter-white{:href => ""}
                                                    %i.icn-eye
                                                    120
                                                %a.counter.counter-white{:href => ""}
                                                    %i.icn-heart
                                                    50
                                                %a.counter.counter-white{:href => ""}
                                                    %i.icn-share
                                                    55
                            .popularTwits__scroll
                                .scrollInner.js-scroll
                                    - (1..16).each do |i|
                                        %a.itemTab{:href => ""}
                                            %span.itemTab__date 01.01.2019г.
                                            %span.itemTab__title Мирослава Круглова
                                            %p.itemTab__text
                                                Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании

                        .sliderHome.owl-carousel
                            - (1..6).each do |i|
                                %a.sliderHome__item{:href => ""}
                                    %img{:src => "assets/pictures/slides.jpg", :srcset => "assets/pictures/slides.jpg 1x, assets/pictures/slides@2x.jpg 2x", :alt => ""}/
            .litProject
                .container
                    .row
                        .col-sm-12
                            .litProject__title
                                ЛИТЕРАТУРНЫЙ 
                                %br/
                                ПРОЕКТ
                    .row
                        .col-md-6.col-xl-3
                            .counterItem.litProject__item
                                %span.counterItem__count
                                    2345
                                %span.counterItem__name
                                    ПОСЕЩЕНИЙ
                                    %i.icon-star.icon-star-size.counterItem__ic
                                %p.counterItem__text
                                    Повседневная практика показывает, что рамки и место обучения кадров
                        .col-md-6.col-xl-3
                            .counterItem.litProject__item.ext2
                                %span.counterItem__count
                                    58
                                %span.counterItem__name
                                    КОНКУРСОВ
                                    %i.icon-cube.icon-cube-size.counterItem__ic
                                %p.counterItem__text
                                    Повседневная практика показывает, что рамки и место обучения кадров 
                        .col-md-6.col-xl-3
                            .counterItem.litProject__item.ext3
                                %span.counterItem__count
                                    20
                                %span.counterItem__name
                                    ЖУРНАЛОВ
                                    %i.icon-magazin.icon-magazin-size.counterItem__ic
                                %p.counterItem__text
                                    Повседневная практика показывает, что рамки и место обучения кадров
                        .col-md-6.col-xl-3
                            .counterItem.litProject__item.ext4
                                %span.counterItem__count
                                    18
                                %span.counterItem__name
                                    ИЗДАТЕЛЬСТВ
                                    %i.icon-book.icon-book-size.counterItem__ic
                                %p.counterItem__text
                                    Повседневная практика показывает, что рамки и место обучения кадров
                    
            .redBlock
                .container
                    .row
                        .col-sm-12
                            .redBlock__inner
                                .redBlock__site PECHORIN.NET
                                .redBlock__slider
                                    .item{"data-pos" => "1", "data-num" => "01"}
                                        %img{:src => "assets/pictures/img1.jpg", :srcset => "assets/pictures/img1.jpg 1x, assets/pictures/img1@2x.jpg 2x", :alt => ""}/
                                        %span ПИСАТЕЛЬ
                                    .item{"data-pos" => "2", "data-num" => "02"}
                                        %img{:src => "assets/pictures/img2.jpg", :srcset => "assets/pictures/img2.jpg 1x, assets/pictures/img2@2x.jpg 2x", :alt => ""}/
                                        %span ТВОРЕНИЕ
                                    .item{"data-pos" => "3", "data-num" => "03"}
                                        %img{:src => "assets/pictures/img3.jpg", :srcset => "assets/pictures/img3.jpg 1x, assets/pictures/img3@2x.jpg 2x", :alt => ""}/
                                        %span СЛОВЕСНОСТЬ

                                .redBlock__content
                                    .redBlock__title
                                        Приглашаем к сотрудничеству!

                                    %p
                                        Мы ищем ярких, талантливых, оригинальных авторов, владеющих живым, доступным, грамотным языком, желающих созидать, вдохновлять и удивлять своими работами.

                                    .redBlock__title
                                        Для освещения предлагаются следующие темы:

                                    .redBlock__subtitle ПИСАТЕЛЬ
                                    %p
                                        В этот раздел принимаются статьи о творчестве и судьбе литераторов:
                                    %ul
                                        %li
                                            об обстоятельствах их жизни, повлиявших на творчество;
                                        %li
                                            о супругах, вторых половинах и музах писателей, о взаимоотношении полов в писательской среде; •об интригах, адюльтерах, недопустимом поведении, о художественных произведениях на эту тему;
                                        %li
                                            о писательских местах в России и за рубежом, об экскурсиях по страницам известных произведений.
                                    .redBlock__pager
                                        %span 01 
                                        %a.js-slideFigure{:tabindex => ""} / 02

                                    


 




        //=include components/_footer.haml
    