!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        // - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"}
                        
                        - $breadCrumbs = {"Новости":'1', "Литературные премии":'0'}
                        //=include components/_bread-crumbs.haml
                .row
                    .col-md-8.col-xl-8
                        .newsView
                            .newsView__title
                                Стартовал новый сезон литературной премии  «Национальный бестселлер»
                            .newsControl.newsView__control
                                .newsControl__info.newsInfo
                                    %a.newsInfo__img{:href => ""}
                                        %img{:src => "assets/img/logo.png", :srcset => "assets/img/logo.png 1x, assets/img/logo@2x.png 2x", :alt => ""}/
                                    %span Pechorin.Net
                                    %i.icn-radio
                                    %span 01.01.2019
                                    %i.icn-radio
                                    %span 1 мин. чтения
                                .counters.newsControl__counters
                                    %a.counter.counter-red{:href => ""}
                                        %i.icn-eye
                                        120
                                    %a.counter.counter-red{:href => ""}
                                        %i.icn-heart
                                        50
                                    %a.counter.counter-red{:href => ""}
                                        %i.icn-comments
                                        55
                                %a.newsControl__bookmark{:href => ""}
                                    %i.icn-bookmark
                                .newsControl__share.share
                                    %i.icn-share.share__btn.js-toggle
                                    .socIcons.socIcons-vertical.share__icons
                                        %a.socIcon.socIcon-primary.socIcon-sm{:href => ""}
                                            %i.icn-facebook-cir
                                        %a.socIcon.socIcon-primary.socIcon-sm{:href => ""}
                                            %i.icn-vk-cir
                                        %a.socIcon.socIcon-primary.socIcon-sm{:href => ""}
                                            %i.icn-instagram-cir
                                        %a.socIcon.socIcon-primary.socIcon-sm{:href => ""}
                                            %i.icn-twitter-cir
                                        %a.socIcon.socIcon-primary.socIcon-sm{:href => ""}
                                            %i.icn-linkedin-cir
                            %img.img-block.newsView__img{:src => "assets/pictures/books.jpg", :srcset => "assets/pictures/books.jpg 1x, assets/pictures/books@2x.jpg 2x", :alt => ""}/
                            %p.newsView__text
                                %strong
                                    Номинаторами премии "Национальный бестселлер" в этом году стали известные представители культуры и искусства, общественные деятели 
                                    и ученые, книгоиздатели и журналисты. 
                                %br/
                                %br/
                                Их задача - представить на конкурс одно прозаическое произведение, обладающее, на их взгляд, потенциалом интеллектуального бестселлера, созданное на русском языке и впервые опубликованное в 2018 году или известное им в рукописи.
                                %br/
                                %br/
                                Начался прием заявок на премию 
                                %a.link.link-primary{:href => ""} "Большая книга"
                                %br/
                                Среди номинаторов этого года - обозреватель "РГ", писатель Павел Басинский, шеф-редактор портала 
                                %br/
                                %a.link.link-primary{:href => ""} ГодЛитературы.РФ 
                                Михаил Визель, писатели Евгений Водолазкин и Леонид Юзефович, критик Константин Мильчин.
                                %br/
                                %br/
                                Организаторы напомнили, что к участию в конкурсе не допускаются биографии формата "ЖЗЛ". Кроме того, оргкомитет имеет право отклонить номинации произведений, которые уже "засветились" в коротких списках других крупных премий в области литературы.
                                Длинный список премии и состав Большого жюри объявят уже 28 января 2019 года, короткий список и Малое жюри представят 9 апреля, а итоги "Национального бестселлера" подведут 25 мая. Победитель Нацбеста получит миллион рублей, который он разделит в пропорции 9:1 с тем, кто его номинировал. Другие финалисты премии получат по 60 тысяч рублей.
                                %br/
                                %br/
                                В 2018 году лауреатом "Национального бестселлера" стала книга екатеринбургского поэта Алексея Сальникова 
                                %a.link.link-primary{:href => ""} "Петровы в гриппе и вокруг него". 
                                Роман стал одним из литературных открытий прошлого года.
                            .counters.newsView__counters
                                %a.counter.counter-red{:href => ""}
                                    %i.icn-eye
                                    120
                                %a.counter.counter-red{:href => ""}
                                    %i.icn-heart
                                    50
                                %a.counter.counter-red{:href => ""}
                                    %i.icn-comments
                                    55
                            .newsView__tags
                                %a.tag.tag-primary{:href => ""} #анализ 
                                %a.tag.tag-primary{:href => ""} #публикации
                                %a.tag.tag-primary{:href => ""} #конкурсы

                            .author
                                .author__title Автор публикации:
                                .author__img
                                    %img{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                                %a.author__link{:href => ""}
                                    Игорь Белов – поэт, переводчик. Пишет о литературе.

                        //=include components/_comments.haml
                        
                        //=include components/_other-interested.haml

                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $topNews = true
                        - $vk = true
                        //=include components/_sidebar.haml
                .row
                    .col-sm-12
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    