!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        - $list = {"Новости":'1', "Блоги":'0', "Интервью":'0', "Обзоры":'0'}
                        //=include components/_page-menu.haml
                .row
                    .col-md-8.col-xl-8
                        //=include components/_main-info.haml
                        .newsList
                            - (1..9).each do |i|
                                .newsItem.newsList__item
                                    %a.newsItem__img{:href => ""}
                                        %img{:src => "assets/pictures/books.jpg", :srcset => "assets/pictures/books.jpg 1x, assets/pictures/books@2x.jpg 2x", :alt => ""}/
                                    .newsItem__content
                                        .newsControl.newsItem__control
                                            .newsControl__info.newsInfo
                                                %a.newsInfo__img{:href => ""}
                                                    %img{:src => "assets/img/logo.png", :srcset => "assets/img/logo.png 1x, assets/img/logo@2x.png 2x", :alt => ""}/
                                                %span Pechorin.Net
                                                %i.icn-radio
                                                %span 01.01.2019
                                                %i.icn-radio
                                                %span 1 мин. чтения
                                            %a.newsControl__bookmark{:href => ""}
                                                %i.icn-bookmark
                                            .newsControl__share.share
                                                %i.icn-share.share__btn.js-toggle
                                                .socIcons.socIcons-vertical.share__icons
                                                    %a.socIcon.socIcon-default.socIcon-sm{:href => ""}
                                                        %i.icn-facebook-cir
                                                    %a.socIcon.socIcon-default.socIcon-sm{:href => ""}
                                                        %i.icn-vk-cir
                                                    %a.socIcon.socIcon-default.socIcon-sm{:href => ""}
                                                        %i.icn-instagram-cir
                                                    %a.socIcon.socIcon-default.socIcon-sm{:href => ""}
                                                        %i.icn-twitter-cir
                                                    %a.socIcon.socIcon-default.socIcon-sm{:href => ""}
                                                        %i.icn-linkedin-cir
                                        .newsItem__title
                                            %a{:href => ""} Стартовал новый сезон литературной премии «Национальный бестселлер»

                                        %p.newsItem__text
                                            Номинаторами премии "Национальный бестселлер" в этом году стали известные представители культуры и искусства, общественные деятели и ученые, книгоиздатели и журналисты. Их задача - представить на конкурс одно прозаическое произведение...
                                        .counters
                                            %a.counter.counter-red{:href => ""}
                                                %i.icn-eye
                                                120
                                            %a.counter.counter-red{:href => ""}
                                                %i.icn-heart
                                                50
                                            %a.counter.counter-red{:href => ""}
                                                %i.icn-comments
                                                55
                            .newsList__pager    
                                //=include components/_site-pager.haml
                        //=include components/_other-interested.haml
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $topNews = true
                        - $vk = true
                        - $singleBox = true
                        //=include components/_sidebar.haml
                .row
                    .col-sm-12
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    