!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        //=include components/_profile-user-control.haml
                        
                        
                        .profileHeader
                            %a.profileAvatar.profileHeader__avatar{:href => ""}
                                %img{:src => "assets/pictures/user2.jpg", :srcset => "assets/pictures/user2.jpg 1x, assets/pictures/user2@2x.jpg 2x", :alt => ""}/
                            .profileHeader__control
                                %span.profileHeader__name Пронин Александр Александрович
                                %span.profileHeader__pos Литературный работник, писатель, критик
                                %a.btns.btns-sm.btns-secondary.profileHeader__btn{:href => ""} 
                                    %i.icn-post.left
                                    Драматург
                                %a.btns.btns-secondary{:href => ""} 
                                    %i.icn-user-plus.left
                                    Подписаться
                                %a.btns.btns-secondary{:href => ""} 
                                    %i.icn-letter.left
                                    Сообщение
                        - $main == false
                        .profile
                            //=include components/_profile-leftbar.haml
                            .profile__container
                                .profile__topBlock
                                    .profileUserInfo
                                        .profileUserInfo__online
                                            %i.icn-radio            
                                            заходил 29 мая в 12:48
                                        .profileUserInfo__table
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    День рождения:
                                                .profileUserInfo__val
                                                    5 ноября 1981 г.
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    Пол:
                                                .profileUserInfo__val
                                                    мужской
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    Город:
                                                .profileUserInfo__val
                                                    Москва
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    Контакты:
                                                .profileUserInfo__val
                                                    %a{:href => ""}
                                                        %i.icn-earth-cir
                                                        https://www.google.ru/
                                                    %a{:href => ""}
                                                        %i.icn-mail-cir
                                                        google@gmail.com
                                                    %a{:href => ""}
                                                        %i.icn-telegram-cir
                                                        @google
                                                    %a{:href => ""}
                                                        %i.icn-skype-cir
                                                        google

                                        .profileUserInfo__moreBtn
                                            %a.js-toggleCard{:tabindex => "", "data-toggle" => ".profileUserInfo__more"}
                                                Подробная информация
                                                %i.icn-angle-down
                                        .profileUserInfo__more
                                            %h5
                                                Визитная карточка
                                            %p
                                                «Я написал RAW . Чтобы исправить ошибки мира, но всегда был поэтическим активистом. Значение и музыка, форма и содержание были неразрывно связаны. В Transformatrix я использовал глубокое подсознание, создавая повествовательные стихи, драматические монологи в таких формах, как сонет, сестина. Теперь я одержим поэтической формой, человеческой формой, динамикой исполнения. Язык тела - это моя незавершенная работа. Я пишу, потому что мои чернила должны течь, как кровь. На написанном нужно говорить. пропасть между страницей и сценой должна быть исцелена ".

                                .profile__content 
                                    - $list = {"Профиль":'0', "Дневник":'0', "Творения":'1', "Медиа":'0'}
                                    //=include components/_page-menu.haml
                                    
                                    .filter
                                        %i.icn-filter
                                        %a{:href => ""} все
                                        %a{:href => ""} проза
                                        %a{:href => ""} поэзия
                                        %a{:href => ""} драматургия
                                        %a{:href => ""} критика
                                        %a.active{:href => ""} рецензии
                                    .artworks
                                        - (1..5).each do |i|
                                            .artwork
                                                .artwork__head
                                                    .span.type
                                                        %i.icn-post
                                                        Рецензии
                                                
                                                    %span.time 25 минут чтения
                                                    
                                                    %span.date 
                                                        %i.icn-doc-plus
                                                        29.05.2019
                                                    
                                                .artwork__content
                                                    .artwork__inner
                                                        %img.artwork__img.ext{:src => "assets/pictures/img.jpg", :srcset => "assets/pictures/img.jpg 1x, assets/pictures/img@2x.jpg 2x", :alt => ""}/
                                                        .artwork__descript
                                                            .artwork__title
                                                                %a.link{:href => ""} Верравия. Ключ Отца
                                                                %a.artwork__answ{:href => ""}
                                                                    %i.icn-reply
                                                            .artwork__tags
                                                                %a{:href => ""} Роман
                                                                , 
                                                                %a{:href => ""} Юмористическое фентези
                                                                , 
                                                                %a{:href => ""} Боевое фентези
                                                            .artwork__info
                                                                %span 
                                                                    %i.icn-docs
                                                                    520 006 зн.
                                                                %span 
                                                                    %i.icn-award
                                                                    Литературный конкурс “Радуга”
                                                    
                                                    %p.artwork__text
                                                        Квантовая телепортация сознания... Для кого-то просто непонятные слова, а для меня приговор. Мое сознание переместили сюда, в Верравию, компьютерную игру последнего поколения. И теперь я баг, ошибка, незарегистрированный персонаж, которому нельзя того, что можно остальным - умирать.
                                                    .artwork__foot
                                                        //=include components/_counter-with-like.haml
                                                        %a.post__info{:href => ""}
                                                            %i.icn-info
                                        
                                    %a.btns.btns-block.btns-primary.moreBtns{:href => ""} Ещё творения писателя

                                    
                                //=include components/_profile-rightbar.haml
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    