!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        //=include components/_profile-user-control.haml
                        
                        
                        .profileHeader
                            %a.profileAvatar.profileHeader__avatar{:href => ""}
                                %img{:src => "assets/pictures/user2.jpg", :srcset => "assets/pictures/user2.jpg 1x, assets/pictures/user2@2x.jpg 2x", :alt => ""}/
                            .profileHeader__control
                                %span.profileHeader__name Пронин Александр Александрович
                                %span.profileHeader__pos Литературный работник, писатель, критик
                                %a.btns.btns-sm.btns-secondary.profileHeader__btn{:href => ""} 
                                    %i.icn-post.left
                                    Драматург
                                %a.btns.btns-secondary{:href => ""} 
                                    %i.icn-user-plus.left
                                    Подписаться
                                %a.btns.btns-secondary{:href => ""} 
                                    %i.icn-letter.left
                                    Сообщение
                        - $main == false
                        .profile
                            //=include components/_profile-leftbar.haml
                            .profile__container
                                .profile__topBlock
                                    .profileUserInfo
                                        .profileUserInfo__online
                                            %i.icn-radio            
                                            заходил 29 мая в 12:48
                                        .profileUserInfo__table
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    День рождения:
                                                .profileUserInfo__val
                                                    5 ноября 1981 г.
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    Пол:
                                                .profileUserInfo__val
                                                    мужской
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    Город:
                                                .profileUserInfo__val
                                                    Москва
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    Контакты:
                                                .profileUserInfo__val
                                                    %a{:href => ""}
                                                        %i.icn-earth-cir
                                                        https://www.google.ru/
                                                    %a{:href => ""}
                                                        %i.icn-mail-cir
                                                        google@gmail.com
                                                    %a{:href => ""}
                                                        %i.icn-telegram-cir
                                                        @google
                                                    %a{:href => ""}
                                                        %i.icn-skype-cir
                                                        google

                                        .profileUserInfo__moreBtn
                                            %a.js-toggleCard{:tabindex => "", "data-toggle" => ".profileUserInfo__more"}
                                                Подробная информация
                                                %i.icn-angle-down
                                        .profileUserInfo__more
                                            %h5
                                                Визитная карточка
                                            %p
                                                «Я написал RAW . Чтобы исправить ошибки мира, но всегда был поэтическим активистом. Значение и музыка, форма и содержание были неразрывно связаны. В Transformatrix я использовал глубокое подсознание, создавая повествовательные стихи, драматические монологи в таких формах, как сонет, сестина. Теперь я одержим поэтической формой, человеческой формой, динамикой исполнения. Язык тела - это моя незавершенная работа. Я пишу, потому что мои чернила должны течь, как кровь. На написанном нужно говорить. пропасть между страницей и сценой должна быть исцелена ".

                                .profile__content 
                                    - $list = {"Профиль":'0', "Дневник":'0', "Творения":'0', "Медиа":'1'}
                                    //=include components/_page-menu.haml
                                    
                                    .filter
                                        %i.icn-filter
                                        %a.active{:href => ""} Все
                                        %a{:href => ""} Фото
                                        %a{:href => ""} Видео
                                        %a{:href => ""} Музыка
                                        
                                    
                                    .posts
                                        - (1..5).each do |i|
                                            .post.posts__item
                                                .post__head
                                                    %img.post__userImg{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                                                    .post__userName
                                                        %a{:href => ""} Игорь Белов
                                                        %span вчера 20:14
                                                    %a.post__answ{:href => ""}
                                                        %i.icn-reply
                                                .post__body
                                                    - if i == 2 || i == 3 
                                                        .musicList
                                                            - (1..3).each do |i|
                                                                .musicItem.musicList__item
                                                                    %audio{:controls => ""}
                                                                        %source{:src => "assets/media/audio.mp3", :type => "audio/mpeg"}
                                                                    %i.icn-music.musicItem__icon.js-play-audio
                                                                    .musicItem__name 
                                                                        .timeline
                                                                            .bg
                                                                                .progres
                                                                        Название название название музыкального файла
                                                                    %span.musicItem__time 4:58
                                                    - else
                                                        %p
                                                            Таким образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации систем массового участия.
                                                        .video
                                                            %video{:poster => "assets/pictures/book@2x.jpg"}
                                                                %source{:src => "assets/media/video.mp4", :type => "video/mp4"}
                                                            %i.icn-youtube-o.js-play-video
                                                .post__foot
                                                    //=include components/_counter-with-like.haml
                                                    %a.post__info{:href => ""}
                                                        %i.icn-info
                                    %a.btns.btns-block.btns-primary.moreBtns{:href => ""} Ещё медиа писателя

                                    
                                //=include components/_profile-rightbar.haml
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    