!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        - $breadCrumbs = {"Сообщество":'0'}
                        //=include components/_bread-crumbs.haml
                        - $main = true
                        .profile
                            //=include components/_profile-leftbar.haml
                            .profile__container
                                .profile__topBlock
                                    .profileControl
                                        .addPost
                                            .addPost__user
                                                %img{:src => "assets/pictures/user2.jpg", :srcset => "assets/pictures/user2.jpg 1x, assets/pictures/user2@2x.jpg 2x", :alt => ""}/
                                            .addPost__area
                                                %textarea{:placeholder => "Что у вас нового?"}
                                            .addPost__icons
                                                %a{:href => ""}
                                                    %i.icn-img
                                                %a{:href => ""}
                                                    %i.icn-smile
                                                %a{:href => ""}
                                                    %i.icn-send
                                        .turnOnOff
                                            .turnOnOff__label Сначала  популярные
                                            .turnOnOff__check
                                                %input{:type => "checkbox", :checked => "checked"}/
                                                %span
                                .profile__content 
                                    .posts
                                        - (1..7).each do |i|
                                            .post.posts__item
                                                .post__head
                                                    %img.post__userImg{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                                                    .post__userName
                                                        %a{:href => ""} Игорь Белов
                                                        %span вчера 20:14
                                                    %a.post__answ{:href => ""}
                                                        %i.icn-reply
                                                .post__body
                                                    - if i != 3
                                                        %p
                                                            Таким образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации систем массового участия. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания  Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания
                                                        - if i == 2
                                                            %img{:src => "assets/pictures/book.jpg", :srcset => "assets/pictures/book.jpg 1x, assets/pictures/book@2x.jpg 2x", :alt => ""}/
                                                    - if i == 3
                                                        .postInner
                                                            .post
                                                                .post__head
                                                                    %a.post__answ.ext{:href => ""}
                                                                        %i.icn-reply
                                                                    %img.post__userImg{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                                                                    .post__userName
                                                                        %a{:href => ""} Игорь Белов
                                                                        %span вчера 20:14
                                                                    
                                                                .post__body
                                                                    %p
                                                                        Таким образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации систем массового участия. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания  Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания
                                                                    
                                                                    %img{:src => "assets/pictures/book.jpg", :srcset => "assets/pictures/book.jpg 1x, assets/pictures/book@2x.jpg 2x", :alt => ""}/
                                                                    
                                                .post__foot
                                                    //=include components/_counter-with-like.haml
                                                    %a.post__info{:href => ""}
                                                        %i.icn-info
                                //=include components/_profile-rightbar.haml
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    