!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        //=include components/_profile-user-control.haml
                        
                        
                        .profileHeader
                            %a.profileAvatar.profileHeader__avatar{:href => ""}
                                %img{:src => "assets/pictures/user2.jpg", :srcset => "assets/pictures/user2.jpg 1x, assets/pictures/user2@2x.jpg 2x", :alt => ""}/
                            .profileHeader__control
                                %span.profileHeader__name Пронин Александр Александрович
                                %span.profileHeader__pos Литературный работник, писатель, критик
                                %a.btns.btns-sm.btns-secondary.profileHeader__btn{:href => ""} 
                                    %i.icn-post.left
                                    Драматург
                                %a.btns.btns-secondary{:href => ""} 
                                    %i.icn-user-plus.left
                                    Подписаться
                                %a.btns.btns-secondary{:href => ""} 
                                    %i.icn-letter.left
                                    Сообщение
                        - $main == false
                        .profile
                            //=include components/_profile-leftbar.haml
                            .profile__container
                                .profile__topBlock
                                    .profileUserInfo
                                        .profileUserInfo__online
                                            %i.icn-radio            
                                            заходил 29 мая в 12:48
                                        .profileUserInfo__table
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    День рождения:
                                                .profileUserInfo__val
                                                    5 ноября 1981 г.
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    Пол:
                                                .profileUserInfo__val
                                                    мужской
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    Город:
                                                .profileUserInfo__val
                                                    Москва
                                            .profileUserInfo__tr
                                                .profileUserInfo__name 
                                                    Контакты:
                                                .profileUserInfo__val
                                                    %a{:href => ""}
                                                        %i.icn-earth-cir
                                                        https://www.google.ru/
                                                    %a{:href => ""}
                                                        %i.icn-mail-cir
                                                        google@gmail.com
                                                    %a{:href => ""}
                                                        %i.icn-telegram-cir
                                                        @google
                                                    %a{:href => ""}
                                                        %i.icn-skype-cir
                                                        google

                                        .profileUserInfo__moreBtn
                                            %a.js-toggleCard{:tabindex => "", "data-toggle" => ".profileUserInfo__more"}
                                                Подробная информация
                                                %i.icn-angle-down
                                        .profileUserInfo__more
                                            %h5
                                                Визитная карточка
                                            %p
                                                «Я написал RAW . Чтобы исправить ошибки мира, но всегда был поэтическим активистом. Значение и музыка, форма и содержание были неразрывно связаны. В Transformatrix я использовал глубокое подсознание, создавая повествовательные стихи, драматические монологи в таких формах, как сонет, сестина. Теперь я одержим поэтической формой, человеческой формой, динамикой исполнения. Язык тела - это моя незавершенная работа. Я пишу, потому что мои чернила должны течь, как кровь. На написанном нужно говорить. пропасть между страницей и сценой должна быть исцелена ".

                                .profile__content 
                                    - $list = {"Профиль":'1', "Дневник":'0', "Творения":'0', "Медиа":'0'}
                                    //=include components/_page-menu.haml
                                    .userStatus
                                        .field-case
                                            %textarea.field{:name => "", :placeholder => "Ваше приветствие   (например: “друзья, спасибо, что зашли!”)", :required => "true", }
                                    
                                    .profileCntTitle
                                        %i.icn-comments
                                        Гостевая книга        
                                    .addPost.ext
                                        .addPost__area
                                            %textarea{:placeholder => "Написать комментарий..."}
                                        .addPost__icons.ext
                                            %a{:href => ""}
                                                %i.icn-smile
                                            %a{:href => ""}
                                                %i.icn-send
                                    .posts
                                        - (1..3).each do |i|
                                            .post.posts__item
                                                .post__head
                                                    %img.post__userImg{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                                                    .post__userName
                                                        %a{:href => ""} Игорь Белов
                                                        %span вчера 20:14
                                                    %a.post__answ{:href => ""}
                                                        %i.icn-reply
                                                .post__body
                                                    %p
                                                        Таким образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации систем массового участия. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания  Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания
                                                .post__foot
                                                    //=include components/_counter-with-like.haml
                                                    %a.post__info{:href => ""}
                                                        %i.icn-info
                                    %a.btns.btns-block.btns-primary.moreBtns{:href => ""} Ещё записи писателя
                                    
                                    .artworks
                                        - (1..2).each do |i|
                                            .artwork
                                                .artwork__head
                                                    .span.type
                                                        %i.icn-artwork
                                                        Произведения
                                                
                                                    %span.time 25 минут чтения
                                                    
                                                    %span.date 
                                                        %i.icn-doc-plus
                                                        29.05.2019
                                                    %span.date
                                                        %i.icn-clock
                                                        3 месяца
                                                .artwork__content
                                                    .artwork__inner
                                                        %img.artwork__img{:src => "assets/pictures/img.jpg", :srcset => "assets/pictures/img.jpg 1x, assets/pictures/img@2x.jpg 2x", :alt => ""}/
                                                        .artwork__descript
                                                            .artwork__title
                                                                %a.link{:href => ""} Верравия. Ключ Отца
                                                                %a.artwork__answ{:href => ""}
                                                                    %i.icn-reply
                                                            .artwork__tags
                                                                %a{:href => ""} Роман
                                                                , 
                                                                %a{:href => ""} Юмористическое фентези
                                                                , 
                                                                %a{:href => ""} Боевое фентези
                                                            .artwork__info
                                                                %span 
                                                                    %i.icn-docs
                                                                    520 006 зн.
                                                                %span 
                                                                    %i.icn-award
                                                                    Литературный конкурс “Радуга”
                                                    
                                                            %p.artwork__text
                                                                Квантовая телепортация сознания... Для кого-то просто непонятные слова, а для меня приговор. Мое сознание переместили сюда, в Верравию, компьютерную игру последнего поколения. И теперь я баг, ошибка, незарегистрированный персонаж, которому нельзя того, что можно остальным - умирать.
                                                            .artwork__foot
                                                                .counters
                                                                    %span.counter.counter-red.likesBlock
                                                                        .likes
                                                                            %a{:href => ""}
                                                                                %i.icn-like
                                                                            %a{:href => ""}
                                                                                %i.icn-heart
                                                                            %a{:href => ""}
                                                                                %i.icn-laugh
                                                                            %a{:href => ""}
                                                                                %i.icn-surprise
                                                                            %a{:href => ""}
                                                                                %i.icn-sadness
                                                                            %a{:href => ""}
                                                                                %i.icn-angry
                                                                        %i.icn-heart
                                                                        55
                                                                    %a.counter.counter-red{:href => ""}
                                                                        %i.icn-comments
                                                                        25
                                                                    %a.counter.counter-red{:href => ""}
                                                                        %i.icn-eye
                                                                        120
                                                                    %a.counter.counter-red{:href => ""}
                                                                        %i.icn-post
                                                                        2
                                                                %a.post__info{:href => ""}
                                                                    %i.icn-info
                                        .artwork
                                            .artwork__head
                                                .span.type
                                                    %i.icn-post
                                                    Рецензии
                                            
                                                %span.time 25 минут чтения
                                                
                                                %span.date 
                                                    %i.icn-doc-plus
                                                    29.05.2019
                                                
                                            .artwork__content
                                                .artwork__inner
                                                    %img.artwork__img.ext{:src => "assets/pictures/img.jpg", :srcset => "assets/pictures/img.jpg 1x, assets/pictures/img@2x.jpg 2x", :alt => ""}/
                                                    .artwork__descript
                                                        .artwork__title
                                                            %a.link{:href => ""} Верравия. Ключ Отца
                                                            %a.artwork__answ{:href => ""}
                                                                %i.icn-reply
                                                        .artwork__tags
                                                            %a{:href => ""} Роман
                                                            , 
                                                            %a{:href => ""} Юмористическое фентези
                                                            , 
                                                            %a{:href => ""} Боевое фентези
                                                        .artwork__info
                                                            %span 
                                                                %i.icn-docs
                                                                520 006 зн.
                                                            %span 
                                                                %i.icn-award
                                                                Литературный конкурс “Радуга”
                                                
                                                %p.artwork__text
                                                    Квантовая телепортация сознания... Для кого-то просто непонятные слова, а для меня приговор. Мое сознание переместили сюда, в Верравию, компьютерную игру последнего поколения. И теперь я баг, ошибка, незарегистрированный персонаж, которому нельзя того, что можно остальным - умирать.
                                                .artwork__foot
                                                    //=include components/_counter-with-like.haml
                                                    %a.post__info{:href => ""}
                                                        %i.icn-info
                                    
                                    %a.btns.btns-block.btns-primary.moreBtns{:href => ""} Ещё творения писателя

                                    .posts
                                        - (1..3).each do |i|
                                            .post.posts__item
                                                .post__head
                                                    %img.post__userImg{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                                                    .post__userName
                                                        %a{:href => ""} Игорь Белов
                                                        %span вчера 20:14
                                                    %a.post__answ{:href => ""}
                                                        %i.icn-reply
                                                .post__body
                                                    %p
                                                        Таким образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации систем массового участия.
                                                    - if i != 3
                                                        .video
                                                            %video{:poster => "assets/pictures/book@2x.jpg"}
                                                                %source{:src => "assets/media/video.mp4", :type => "video/mp4"}
                                                            %i.icn-youtube-o.js-play-video
                                                    - else
                                                        .musicList
                                                            - (1..3).each do |i|
                                                                .musicItem.musicList__item
                                                                    %audio{:controls => ""}
                                                                        %source{:src => "assets/media/audio.mp3", :type => "audio/mpeg"}
                                                                    %i.icn-music.musicItem__icon.js-play-audio
                                                                    .musicItem__name 
                                                                        .timeline
                                                                            .bg
                                                                                .progres
                                                                        Название название название музыкального файла
                                                                    %span.musicItem__time 4:58
                                                            
                                                .post__foot
                                                    //=include components/_counter-with-like.haml
                                                    %a.post__info{:href => ""}
                                                        %i.icn-info
                                    %a.btns.btns-block.btns-primary.moreBtns{:href => ""} Ещё медиа писателя

                                    .profileComments
                                        .profileComments__head
                                            .title
                                                %i.icn-comments
                                                Гостевая книга 
                                            %a.count{:href => ""} 28 комментариев    
                                        .comments
                                            - (1..6).each do |i|
                                                .comments__item
                                                    .comment
                                                        .comment__img
                                                            %img{:src => "assets/pictures/user.jpg", :srcset => "assets/pictures/user.jpg 1x, assets/pictures/user@2x.jpg 2x", :alt => ""}/
                                                        .comment__content
                                                            .comment__control
                                                                .comment__name
                                                                    %a{:href => ""} Игорь Белов 
                                                                %span.comment__date 
                                                                    18:30
                                                                    &nbsp
                                                                    01.01.2019 г.

                                                                .comment__rate
                                                                    %span.bt 
                                                                        %a{:href => ""} + 
                                                                        3 
                                                                    %span.bt 
                                                                        %a{:href => ""} - 
                                                                        3 

                                                            .comment__text
                                                                Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. 
                                                            .comment__btns.text-right
                                                                %a.link.link-default{:href => ""} Ответить
                                                                %a.link.link-default{:href => ""} Пожаловаться
                                                    - if i == 1
                                                        .comments
                                                            .comments__item
                                                                .comment
                                                                    .comment__img
                                                                        %img{:src => "assets/img/logo.png", :srcset => "assets/img/logo.png 1x, assets/img/logo@2x.png 2x", :alt => ""}/
                                                                    .comment__content
                                                                        .comment__control
                                                                            .comment__name
                                                                                %a{:href => ""} Игорь Белов 
                                                                                %i.icn-reply.comment__reply
                                                                                %a{:href => ""} Игорь Белов 
                                                                            %span.comment__date 
                                                                                18:30
                                                                                &nbsp
                                                                                01.01.2019 г.

                                                                            .comment__rate
                                                                                %span.bt 
                                                                                    %a{:href => ""} + 
                                                                                    3 
                                                                                %span.bt 
                                                                                    %a{:href => ""} - 
                                                                                    3 

                                                                        .comment__text
                                                                            Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. 
                                                                        .comment__btns.text-right
                                                                            %a.link.link-default{:href => ""} Ответить
                                                                            %a.link.link-default{:href => ""} Пожаловаться
                                        .profileComments__foot
                                            %a.link.link-primary{:href => ""} Написать комментарий
                                //=include components/_profile-rightbar.haml
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    