!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        // - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"}
                        - $list = {"Толстые журналы":'1', "Печатные издания":'0', "Интернет-издания":'0', "Иные проекты":'0'}
                        //=include components/_page-menu.haml
                .row
                    .col-md-8.col-xl-8
                        //=include components/_main-info.haml
                        .publicationsList
                            - (1..9).each do |i|
                                .toggleItem.publicationsItem
                                    .toggleItem__head
                                        .stars.stars-vertikal
                                            .star.active
                                                %i.icn-star
                                                .starPopover
                                                    %span
                                                        %i.icn-star.active
                                                        толстый журнал
                                                    %span
                                                        %i.icn-star.active
                                                        тираж более 1500 экземпляров
                                                    %span
                                                        %i.icn-star
                                                        выплата гонораров
                                            .star.active
                                                %i.icn-star
                                                .starPopover
                                                    %span
                                                        %i.icn-star.active
                                                        толстый журнал
                                                    %span
                                                        %i.icn-star.active
                                                        тираж более 1500 экземпляров
                                                    %span
                                                        %i.icn-star
                                                        выплата гонораров
                                            .star
                                                %i.icn-star
                                                .starPopover
                                                    %span
                                                        %i.icn-star.active
                                                        толстый журнал
                                                    %span
                                                        %i.icn-star.active
                                                        тираж более 1500 экземпляров
                                                    %span
                                                        %i.icn-star
                                                        выплата гонораров
                                        %a.publicationsItem__img{:href => ""}
                                            %img{:src => "assets/pictures/public.jpg", :srcset => "assets/pictures/public.jpg 1x, assets/pictures/public@2x.jpg 2x", :alt => ""}/
                                            
                                        .publicationsItem__descrip
                                            .publicationsItem__title
                                                %a{:href => ""}
                                                    Литературный журнал «Дружба Народов»
                                                %a.publicationsItem__bookmark{:href => ""}
                                                    %i.icn-bookmark
                                            %p.publicationsItem__text
                                                %strong Главное: 
                                                основан в 1939 г., выходит ежемесячно, объём 256 полос, тираж 3000
                                                экземпляров, публикует прозу, поэзию, переводы, критику.
                                                %br/
                                                %strong Основные требования: 
                                                возраст участников 18-35 лет включительно, граждане
                                                РФ, произведения на русском языке.
                                                Интересное: журнал ежегодно выдвигает авторов на премию, статьи
                                                регулярно переводятся на иностранные языки.
                                            
                                        
                                        
                                    .toggleItem__content
                                        %p.publicationsItem__text
                                            %strong Прочее:
                                        %p.publicationsItem__text
                                            %strong Публикация 
                                            %span – платная / бесплатная / платят гонорары.

                                        %p.publicationsItem__text
                                            %strong  Кто публиковался – 
                                            В разные годы в «Дружбе народов» публиковались: Виктор Астафьев, Владимир
                                            Богомолов, Василь Быков, Дмитрий Быков, Михаил Веллер, Расул Гамзатов, Лев Гумилёв, Николай
                                            Доризо, Николай Заболоцкий, Сергей Залыгин, Фазиль Искандер, Александр Карасёв, Вячеслав
                                            Кондратьев, Наум Коржавин, Александр Кушнер, Вилис Лацис, Инна Лиснянская, Фарид Нагим, Булат
                                            Окуджава, Анатолий Рыбаков, Юлиан Семёнов, Роман Сенчин, Морис Симашко, Александр Твардовский,
                                            Корней Чуковский, Алексей А. Шепелёв, Василий Шукшин и другие.
                                            Интересный факт – Единственный в России литературно-художественный и общественно-политический
                                            ежемесячный журнал, охватывающий и поддерживающий единое культурное пространство, созданное за
                                            многие десятилетия усилиями деятелей искусства и культуры всех стран, входящих в состав бывшего
                                            Советского Союза.
                                        
                                        .publicationsItem__btns
                                            %h6 Как опубликоваться:

                                            %a.btns.btns-default{:href => ""} направить рукописи в редакцию 
                                            %a.btns.btns-default{:href => ""} направить рукописи критикам 



                                        %p.publicationsItem__text
                                            %strong Ссылки:
                                            %br/
                                            %a.link.link-primary{:href => ""} http://litinstitut.ru/content/desyataya-rossiysko-italyanskaya-literaturnaya-premiya-raduga
                                            %a.link.link-primary{:href => ""} https://vk.com/raduga_lit.

                                    .toggleItem__btns
                                        %a.js-toggleBlock{:tabindex => "", "data-open" => "Свернуть", "data-close" => "Подробнее"}
                                            Подробнее
                                            %i.icn-angle-down


                        .publications__pager     
                            //=include components/_site-pager.haml
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $mostPopular = true
                        - $vk = true
                        //=include components/_sidebar.haml
                .row
                    .col-sm-12
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    