!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        // - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"}
                        - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":'0', "Оформление и печать":'0', "Прочее":'0'}
                        //=include components/_page-menu.haml
                .row
                    .col-md-8.col-xl-8
                        //=include components/_main-info.haml
                        .row
                            .col-lg-4
                                .field-case
                                    %label.field-name Поиск по разделу:
                                    %input.field.field-with-icon-right{:type => "text", :name => "", :placeholder => "Ввведите слово", :required => "true"}/
                                    %i.field-icon.icn-search.right
                                    %span.field-help
                            .col-lg-4
                                .field-case
                                    %label.field-name Поиск по фамилии:
                                    %select.field.js-select{:name => ""}
                                        %option{:value => "1"} Все инициалы
                                        %option{:value => "2"} Проза
                                        %option{:value => "3"} Поэзия
                                        %option{:value => "4"} Публицистика
                                    %span.field-help
                            .col-lg-4
                                .field-case
                                    %label.field-name Специализация:
                                    %select.field.js-select{:name => ""}
                                        %option{:value => "1"} Все конкурсы
                                        %option{:value => "2"} Проза
                                        %option{:value => "3"} Поэзия
                                        %option{:value => "4"} Публицистика
                                    %span.field-help
                            .col-lg-4
                                .field-case
                                    %label.field-name Доп.выбор:
                                    %select.field.js-select{:name => ""}
                                        %option{:value => "1"} Все категории
                                        %option{:value => "2"} Проза
                                        %option{:value => "3"} Поэзия
                                        %option{:value => "4"} Публицистика
                                    %span.field-help
                            .col-lg-4
                                .field-case
                                    %label.field-name Пол:
                                    %select.field.js-select{:name => ""}
                                        %option{:value => "1"} Мужской / Женский
                                        %option{:value => "2"} Проза
                                        %option{:value => "3"} Поэзия
                                        %option{:value => "4"} Публицистика
                                    %span.field-help
                        .publicationsList.ext
                            - (1..10).each do |i|
                                .toggleItem.publicationsItem
                                    .toggleItem__head
                                        %a.publicationsItem__img.ext{:href => ""}
                                            %img{:src => "assets/pictures/girl2.jpg", :srcset => "assets/pictures/girl2.jpg 1x, assets/pictures/girl2@2x.jpg 2x", :alt => ""}/
                                            
                                        .publicationsItem__descrip
                                            .publicationsItem__title
                                                %a{:href => ""}
                                                    Мария Иванова
                                                %a.publicationsItem__bookmark{:href => ""}
                                                    %i.icn-bookmark
                                            %p.publicationsItem__text
                                                %strong О критике: 
                                                главный редактор Журнала «Октябрь». Лауреат государственных премий. 
                                            %p.publicationsItem__text
                                                %strong Специализация: 
                                                проза, поэзия, перевод.
                                            %p.publicationsItem__text
                                                %strong Автору: 
                                                возможность опубликоваться в Журнале «Октябрь», номинироваться на премию Лицей, принять участие во Всероссийском совещании СПР.


                                            
                                        
                                        
                                    .toggleItem__content
                                        %p.publicationsItem__text
                                            %strong Дополнительные сведения: 
                                            задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. 

                                        %p.publicationsItem__text
                                            %strong Интересное: 
                                            задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. 


                                        
                                        .publicationsItem__btns
                                            %h6 Как опубликоваться:

                                            %a.btns.btns-default{:href => ""} личная страница критика
                                            %a.btns.btns-default{:href => ""} направить произведение критику 

                                    .toggleItem__btns
                                        %a.js-toggleBlock{:tabindex => "", "data-open" => "Свернуть", "data-close" => "Подробнее"}
                                            Подробнее
                                            %i.icn-angle-down


                           
                        //=include components/_site-pager.haml
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 7
                        - $fb = true
                        - $vk = true
                        //=include components/_sidebar.haml
                .row
                    .col-sm-12
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    