!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        - $breadCrumbs = {"Услуги":'1', "Критики":'0'}
                        //=include components/_bread-crumbs.haml
                .row
                    .col-md-8.col-xl-8
                        .serviceView
                            .serviceView__head
                                .serviceView__img
                                    %img{:src => "assets/pictures/girl2.jpg", :srcset => "assets/pictures/girl2.jpg 1x, assets/pictures/girl2@2x.jpg 2x", :alt => ""}/
                                .serviceView__content
                                    .serviceView__name 
                                        Иванова Мария Алексеевна
                                        %a.serviceView__bookmark{:href => ""}
                                            %i.icn-bookmark
                                    %p
                                        г.Санкт-Петербург
                                    %p.serviceView__text 
                                        %strong Специализация: 
                                        Проза, поэзия, перевод
                                    %p.serviceView__text 
                                        %strong Основные достижения: 
                                        главный редактор Журнала «Октябрь», 
                                        %br/
                                        Лауреат государственных премий

                        
                            .serviceView__title Биография
                            .serviceView__box
                                %p
                                    Мария Иванова - писатель и исполнитель, специализирующийся на разговорных монологах. Она выступает в характере и использует различные голоса. Она написала и разработала пьесу для одного человека « Когда бежать» , которую она исполняет сама, продюсером которой является «Ренессанс Один», премьера которой состоялась на фестивале «Эдинбургский край» и гастроли по Англии в 2006/7.

                                %p
                                    Она активно выступала по всей Великобритании в различных местах, включая Барбикан, Глазго CCA и Hayward Gallery. Она также выступала в России, Германии, Финляндии, Швеции, Голландии, Дании, Греции и Словении. Она участвовала в туре « Современная любовь Ренессанса Уан» , а также выступала с монологами на телевидении и несколько раз выступала на радио.

                                %p
                                    Ее монолог « Скажи своему отцу, что я хочу вернуть свои штаны» и короткометражка «  Игровой магазин Fag Kiss» были показаны в Театре Сохо во время ее пребывания там по программе «Привязанность писателей» в 2005–2006 годах. Игровой магазин Fag Kiss был опубликован в журнале Areté .

                                %p
                                    Ее короткие рассказы были опубликованы в различных журналах и журналах, в том числе Sleaze Nation , Shoreditch Twat и « Мечты, которые можно купить за деньги» . Ее работы были также представлены в антологии Материи (2004) и в антологии Британского Совета, New Writing 12 (2004). Недавно она написала историю для « Расскажи сказки», том 4 : «Глобальная деревня» (2009).

                                %p
                                    В начале 2016 года на лондонском фестивале короткометражных фильмов был показан короткометражный фильм Софи « 


                            .serviceView__title Достижения
                            .serviceView__box
                                %ul.serviceView__list
                                    %li
                                        %span 2001 г.
                                        Главный редактор Журнала «Октябрь»

                                    %li
                                        %span 2016 г.
                                        Лауреат государственных премий

                                    %li
                                        %span 2017 г.
                                        Главный редактор Журнала «Октябрь»



                            .serviceView__title Библиография
                            .serviceView__box
                                %ul.serviceView__list
                                    %li
                                        %span 2001 
                                        Рассказы
                                    %li
                                        %span 2003 
                                        Деревья в городе: стихи о необходимости изменения климата
                                    %li
                                        %span 2016 
                                        Книга  о новой  письменности
                                    %li
                                        %span 2017
                                        Деревья в городе: стихи о необходимости изменения климата
                                    %li
                                        %span 2017 
                                        Книга  о новой  письменности
                                    %li
                                        %span 2019
                                        Деревья в городе: стихи о необходимости изменения климата


                            .serviceView__title Образцы текстов
                            .serviceView__box
                                %ul.nav{:role => "tablist"}
                                    %li.nav-item
                                        %a.nav-link.active{"aria-selected" => "true", "data-toggle" => "tab", :href => "#story1", :role => "tab"} Рассказы
                                    %li.nav-item
                                        %a.nav-link{"aria-selected" => "false", "data-toggle" => "tab", :href => "#story2", :role => "tab"} Рассказы
                                    %li.nav-item
                                        %a.nav-link{"aria-selected" => "false", "data-toggle" => "tab", :href => "#story3", :role => "tab"} Рассказы
                                    %li.nav-item
                                        %a.nav-link{"aria-selected" => "false", "data-toggle" => "tab", :href => "#story4", :role => "tab"} Рассказы
                                .tab-content
                                    #story1.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                                        Она одна из самых динамичных чернокожих британских поэтов-исполнителей, появившихся в последние годы, и, возможно, самая радикальная. Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.
                                    #story2.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
                                        Она одна из самых динамичных чернокожих британских поэтов-исполнителей, появившихся в последние годы, и, возможно, самая радикальная. Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.
                                    #story3.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"}
                                        Она одна из самых динамичных чернокожих британских поэтов-исполнителей, появившихся в последние годы, и, возможно, самая радикальная. Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.
                                    #story4.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"}
                                        Она одна из самых динамичных чернокожих британских поэтов-исполнителей, появившихся в последние годы, и, возможно, самая радикальная. Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.Она работает в лондонском клубе с 1995 года, проводя не менее ста мероприятий в год; она появляется на мероприятиях Общества Поэзии, митингах гей-прайда, в палатке кабаре Гластонбери перед аудиторией в 4000 человек, на джазовых фестивалях и в ночных клубах.

                                
                            .serviceView__title Возможности для автора
                            .serviceView__box
                                %ul.serviceView__list
                                    %li
                                        .num 1
                                        Возможность опубликоваться в Журнале «Октябрь» 
                                    %li
                                        .num 2
                                        Номинироваться на премию Лицей
                                    %li
                                        .num 3
                                        Принять участие во Всероссийском совещании СПР


                            .serviceView__title Заявления, манифест
                            .serviceView__box
                                %p
                                    «Я написал RAW . Чтобы исправить ошибки мира, но всегда был поэтическим активистом. Значение и музыка, форма и содержание были неразрывно связаны. В Transformatrix я использовал глубокое подсознание, создавая повествовательные стихи, драматические монологи в таких формах, как сонет, сестина. Теперь я одержим поэтической формой, человеческой формой, динамикой исполнения. Язык тела - это моя незавершенная работа. Я пишу, потому что мои чернила должны течь, как кровь. На написанном нужно говорить. пропасть между страницей и сценой должна быть исцелена ".


                            %a.btns.btns-primary{:tabindex => "", "data-target" => "#submitManuscripts", "data-toggle" => "modal"} Отправить рукописи критику 
                            
                            #submitManuscripts.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                                .modal-dialog.modal-lg{:role => "document"}
                                    .modal-content
                                        .modal-body
                                            .manuscript
                                                %p.manuscript__text
                                                    Отправляя тексты, пользователь соглашается с 
                                                    %a.link.link-primary{:href => ""} требованиями
                                                    , предъявляемыми к произведениям, 
                                                    %a.link.link-primary{:href => ""} принимает правила проведения критических разборов 
                                                    произведений и уведомлен о платности этих 
                                                    %a.link.link-primary{:href => ""} услуг.
                                                    
                                                .manuscript__user
                                                    %img.manuscript__img{:src => "assets/pictures/girl2.jpg", :srcset => "assets/pictures/girl2.jpg 1x, assets/pictures/girl2@2x.jpg 2x", :alt => ""}/
                                                    .manuscript__name
                                                        %span Иванова 
                                                        %span Мария
                                                        %span Алексеевна

                                                %form#manuscript{:action => ""}
                                                    .manuscript__form
                                                        .row
                                                            .col-md-10.offset-md-1
                                                                .row
                                                                    .col-sm-6
                                                                        .field-case
                                                                            %input.field{:type => "text", :name => "firstname", :placeholder => "Имя", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                                                            %span.field-help
                                                                    .col-sm-6
                                                                        .field-case
                                                                            %input.field{:type => "text", :name => "lastname", :placeholder => "Фамилия", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                                                            %span.field-help
                                                                    .col-sm-6
                                                                        .field-case
                                                                            %input.field{:type => "email", :name => "email", :placeholder => "E-mail", :required => "true", "data-msg-required" => "Это поле обязательно", "data-rule-emailv" => "true",  "data-msg-emailv" => "Введите действительный адрес электронной почты.", "data-msg-email" => "Введите действительный адрес электронной почты."}/
                                                                            %span.field-help
                                                                    .col-sm-6
                                                                        .field-case
                                                                            %input.field{:type => "text", :name => "phone", :placeholder => "Телефон", :required => "true", "data-msg-required" => "Это поле обязательно"}/
                                                                            %span.field-help
                                                                    .col-sm-6
                                                                        .field-case
                                                                            %select.field.js-select{:name => "review"}
                                                                                %option{:value => "0"} Письменная рецензия
                                                                                %option{:value => "2"} Письменная рецензия
                                                                                %option{:value => "3"} Письменная рецензия
                                                                                %option{:value => "4"} Письменная рецензия
                                                                            %span.field-help
                                                                    .col-sm-6
                                                                        .field-case
                                                                            .field.field-attach
                                                                                %input.js-attach{:type => "file", :required => "true", "data-msg-required" => "Это поле обязательно", "data-rule-extension" => "doc|docx|pdf|txt", "data-msg-extension" => "Прикрипите фаилы с типом .doc, .docx, .pdf, .txt"}/ 
                                                                                %i.icn-attach
                                                                                %span Прикрепить файлы
                                                                            %span.field-help
                                                    %input.manuscript__btns.btns.btns-primary.btns-block{:type => "submit", :value => "Отправить рукописи"}/
                                                        
                                                // %p.manuscript__info
                                                //     Вы не авторизованы, 
                                                //     %a.link.link-default{:href => ""} войдите 
                                                //     или 
                                                //     %a.link.link-default{:href => ""} зарегистрируйтесь.

                           
                        
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $fb = true
                        - $vk = true
                        //=include components/_sidebar.haml
                .row
                    .col-sm-12
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    