!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %main
            .container
                .row
                    .col-sm-12
                        //=include components/_page-header.haml
                        // - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":"0", "Оформление и печать":"0", "Прочее":"0"}
                        - $list = {"Критика":'1', "Обучение":'0', "Редактура":'0', "Перевод":'0', "Иллюстрирование":'0', "Оформление и печать":'0', "Прочее":'0'}
                        //=include components/_page-menu.haml
                .row
                    .col-md-8.col-xl-8
                        //=include components/_main-info.haml
                        .useful
                            - ["Самиздат", "Редактура", "Другое"].each do |i|
                                .usefulBlock.useful__item
                                    .usefulBlock__title #{i}
                                    .usefulList
                                        - (1..4).each do |i|
                                            .usefulItem.usefulList__item
                                                %a.usefulItem__img{:href => ""}
                                                    - if i % 2 == 1
                                                        %img{:src => "assets/pictures/useful2.jpg", :srcset => "assets/pictures/useful2.jpg 1x, assets/pictures/useful2@2x.jpg 2x", :alt => ""}/
                                                    - else
                                                        %img{:src => "assets/pictures/useful1.jpg", :srcset => "assets/pictures/useful1.jpg 1x, assets/pictures/useful1@2x.jpg 2x", :alt => ""}/
                                                %a.link.link-default.usefulItem__link{:href => ""} selfpub.ru
                                                %p.usefulItem__text
                                                    Вы писатель, а не издатель. Доверьте нам издание и продажу ваших книг
                                                .usefulItem__more
                                                    %a.link.link-primary{:href => ""}     
                                                        Подробнее
                                                        %i.icn-angle-right 


                        .publications__pager   
                            //=include components/_site-pager.haml
                    .col-md-4.offset-xl-1.col-xl-3
                        - $boxes = 3
                        - $fb = true
                        - $vk = true
                        //=include components/_sidebar.haml
                .row
                    .col-sm-12
                        //=include components/_bottom-bar.haml
        //=include components/_footer.haml
    