.btns
    background: none
    border: none

    display: inline-flex 
    align-items: center
    vertical-align: top
    user-select: none


    font-size: 14px
    font-weight: normal

    
    padding: 10px 25px

    [class^="icn-"]
        font-size: .9em
        &.left
            margin-right: 15px
        &.right
            margin-left: 15px
    &:hover, &:active
        text-decoration: none
    &-block
        width: 100%
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: center
        margin: 0 auto
    &-sm
        padding: 5px 15px

    &-primary 
        color: #fff
        background-color: $cPrim
        
        &:hover
            background-color: #BDBDBD
            color: #fff
        &:focus, &:active
            background-color: #606467
            color: #fff
    &-default 
        color: #fff
        background-color: #7F8588
        
        &:hover
            background-color: #BDBDBD
            color: #fff
        &:focus, &:active
            background-color: #606467
            color: #fff
    &-secondary
        color: $cPrim
        background-color: #fff
        
        &:hover
            background-color: #BDBDBD
            color: #fff
        &:focus, &:active
            background-color: #606467
            color: #fff
    
    

    &[disabled], &.disabled
        background-color: #616463 
        pointer-events: none
        box-shadow: none
        color: rgba(255,255,255,0.5)

.img-block
    max-width: 100%
    height: auto 
    display: block
    margin: 0 auto
