$bgColor: #fff
$bdColor: #4F4F4F
$color: #272727

$bgColorFocus: #fff
$bdColorFocus: #4F4F4F
$colorFocus: #272727

$bgColorError: #fff
$bdColorError: $cPrim
$colorError: $cPrim

$bgColorDisabled: #f7f7f7
$bdColorDisabled: #ccc
$colorDisabled: #ccc

$radius: 5px
$inputSize: 40px
$inputSpace: 15px
$iconSize: 20px

.field-name
    flex: 1 1 100%
    margin-bottom: 8px
    font-weight: normal
    font-size: 16px
    letter-spacing: 0.05em
    line-height: 1
    order: -1 
    line-height: 25px
    


.field-help
    flex: 1 1 100%
    min-height: 30px
    font-size: 10px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    position: static
    label
        position: absolute
        bottom: 100%
        left: 0
        margin-bottom: -25px


        width: 100%
        max-width: 290px
        border: 1px solid #800309
        border-radius: 5px
        padding: 5px
        background: #f2f2f2
        
        font-size: 14px
        color: #333
        &:after
            content: ""
            width: 10px
            height: 10px
            border: 1px solid #800309
            background: #f2f2f2
            position: absolute
            transform: rotate(45deg)
            bottom: -5px
            border-top: none
            border-left: none
            left: 20px



.field-info
    color: #4F4F4F
    letter-spacing: 0.05em
    font-size: 16px
    margin-bottom: 30px
    margin-top: -20px

.field-icon
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    height: $inputSize
    margin-left: $inputSpace
    order: -1
    pointer-events: none
    font-size: $iconSize
    color: $color
    margin-bottom: -$inputSize
    position: relative 
    z-index: 1 
    &.right
        margin-right: 15px
        margin-left: auto

.field-appearance
    margin-left: auto
    margin-right: $inputSpace
    margin-bottom: -$inputSize
    height: $inputSize
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    order: -1
    pointer-events: none
    color: $color
    position: relative 
    z-index: 1 
    &:before
        content: ''
        border: 5px solid $color  
        border-left-color: transparent
        border-right-color: transparent
        border-bottom: none

.field
    flex: 1 1 100%
    width: 100%

    height: $inputSize
    border-radius: $radius
    
    border: 1px solid $bdColor
    background-color: $bgColor 
    padding: 0 $inputSpace
    color: $color

    font-size: 14px
    line-height: 40px
    
    &-with-icon
        padding-left: $inputSpace + $inputSpace + $iconSize
    &-with-icon-right
        padding-right: $inputSpace + $inputSpace + $iconSize


    &::-webkit-input-placeholder
        opacity: 0.5
        color: $color
    &::-moz-placeholder
        opacity: 0.5
        color: $color
    &:-ms-input-placeholder
        opacity: 0.5
        color: $color
    &:-moz-placeholder
        opacity: 0.5
        color: $color

    &:focus
        border: 1px solid $bdColorFocus
        outline: none

        &::-webkit-input-placeholder
            color: rgba(0,0,0,0)
        &::-moz-placeholder
            color: rgba(0,0,0,0)
        &:-ms-input-placeholder
            color: rgba(0,0,0,0)
        &:-moz-placeholder
            color: rgba(0,0,0,0)
        
        & ~ .field-icon
            color: $bdColorError
        & ~ .field-appearance:before
            border-top-color: $bdColorFocus
    
    
    &.disabled, &[disabled]
        border: 1px solid $bdColorDisabled
        color: $colorDisabled
        background: $bgColorDisabled
        
        & ~ .field-icon
            color: $bdColorDisabled
        & ~ .field-appearance:before
            border-top-color: $bdColorDisabled

select.field
    padding-right: $inputSpace + $inputSpace + 10px

.selectize-control
    .selectize-input
        border: none
        background: none !important
        padding: 10px 0px
        color: $color
        font-size: 14px
    &.single .selectize-input:after
        right: 0
    .selectize-dropdown.single
        left: 0 !important
        right: 0 !important
        width: 100% !important
        height: auto 
        padding: 0
        border: 1px solid #4F4F4F
        border-radius: 0 0 $radius $radius
        overflow: hidden
        margin-top: -2px
        .option
            border-bottom: 1px solid #4F4F4F
            padding-top: 0
            padding-bottom: 0
            cursor: pointer
            &:hover, &.active
                background: none
                color: $cPrim


textarea.field
    padding: 10px $inputSpace
    resize: none
    line-height: 1.5
    height: 120px

$checkSize: 15px

.checkboxes, .radios
    flex: 0 0 $checkSize
    height: $checkSize
    border-radius: 3px
    margin-right: 8px
    border: 1px solid $bdColor
    background-color: $bgColor
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    font-size: 7px
    color: $cPrim

    &:before
        opacity: 0

.radios
    border-radius: 50%
    &:before
        margin-left: 1px

.check-case
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    flex: 1 1 100%
    cursor: pointer
    margin-bottom: 0
    & + .check-case
        margin-top: 15px

.check-case-filed
    min-height: 40px
    align-items: center
.check-name
    flex: 1 1 auto
    width: calc(100% - 23px)
    font-size: 14px
    line-height: $checkSize
    user-select: none
    letter-spacing: 0.05em


input[type="checkbox"], input[type="radio"]
    position: absolute
    left: -9999px
    opacity: 0
    &:checked
        & ~ .checkboxes,
        & ~ .radios
            border: 1px solid $cPrim
            &:before
                opacity: 1
    &.disabled, &[disabled]
        & ~ .checkboxes,
        & ~ .radios
            border: 1px solid $bdColorDisabled
            color: $colorDisabled
            background: $bgColorDisabled
        & ~ .check-name
            color: $colorDisabled
    
.field-case
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    position: relative
    .check-case
        margin-bottom: 0
    &.invalid
        .field-name,
        .field-help,
        .field,
        .field-icon,
        .checkboxes, 
        .radios,
        .check-case
            color: $colorError
        .field, .checkboxes, .radios
            border: 1px solid $bdColorError
            background: $bgColorError
        .field-appearance:before
            border-top-color: $bdColorError


.field-attach
    background: #7F8588
    position: relative
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    color: #fff
    align-items: center
    overflow: hidden
    input
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        cursor: pointer
        opacity: 0
        z-index: 5
    i
        margin-right: 15px
    span
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap