.link
    font-size: 16px
    &-default
        color: #000
        text-decoration: underline
        &:hover
            text-decoration: none
            color: #000
    &-primary
        color: $cPrim
        text-decoration: underline
        font-weight: 500
        &:hover
            text-decoration: none
            color: $cPrim